<div>
    <h2>Businesses</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="business.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Business
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span>Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdDate"><span>Created Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="modifiedDate"><span>Modified Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pisition"><span>Pisition</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="icon"><span>Icon</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="twitter"><span>Twitter</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="facebook"><span>Facebook</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="google"><span>Google</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="linkedIn"><span>Linked In</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="photo"><span>Photo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="mainColor"><span>Main Color</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="color"><span>Color</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cardlet.id"><span>Cardlet</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tabType.id"><span>Tab Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userName.id"><span>User Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userEmail.id"><span>User Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="phone.id"><span>Phone</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="address.id"><span>Address</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="company.id"><span>Company</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="site.id"><span>Site</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="job.id"><span>Job</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="business in vm.businesses track by business.id">
                    <td><a ui-sref="business-detail({id:business.id})">{{business.id}}</a></td>
                    <td>{{business.name}}</td>
                        <td>{{business.createdDate | date:'mediumDate'}}</td>
                        <td>{{business.modifiedDate | date:'mediumDate'}}</td>
                    <td>{{business.pisition}}</td>
                    <td>{{business.icon}}</td>
                    <td>{{business.twitter}}</td>
                    <td>{{business.facebook}}</td>
                    <td>{{business.google}}</td>
                    <td>{{business.linkedIn}}</td>
                    <td>{{business.photo}}</td>
                    <td>{{business.mainColor}}</td>
                    <td>{{business.color}}</td>
                    <td>
                        <a ui-sref="cardlet-detail({id:business.cardlet.id})">{{business.cardlet.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="tab-type-detail({id:business.tabType.id})">{{business.tabType.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="input-properties-detail({id:business.userName.id})">{{business.userName.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="input-properties-detail({id:business.userEmail.id})">{{business.userEmail.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="input-properties-detail({id:business.phone.id})">{{business.phone.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="input-properties-detail({id:business.address.id})">{{business.address.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="input-properties-detail({id:business.company.id})">{{business.company.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="input-properties-detail({id:business.site.id})">{{business.site.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="input-properties-detail({id:business.job.id})">{{business.job.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="business-detail({id:business.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="business.edit({id:business.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="business.delete({id:business.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
