
<div ng-show="vm.isShowDialog" class="image-popup">
    <div class="row image-dialog">
        <button type="button" class="close login-close-gray" ng-click="vm.hideImageDialog()">×</button>
        <div class="crop-dialog-header">Upload an avatar</div>
        <div class="image-dialog-crop-panel">

            <div>
                <div class="fileUpload btn btn-primary choose-photo-btn">
                    <span>Choose photo</span>
                    <input accept="image/png, image/jpeg, image/jpg"  type="file" id="fileInput" class="upload" />
                </div>
            </div>
            <div class="cropArea">
                <img-crop image="myImage" ng-show="myCroppedImage" result-image="myCroppedImage"></img-crop>
                <img ng-hide="myCroppedImage" src="/content/images/image_placeholder.png">
            </div>
            <div class="crop-btn-div">
                <button ng-disabled="!myCroppedImage" class="saveButton" ng-click="vm.saveImage()">save</button>
            </div>
        </div>
    </div>
</div>

<div ng-show="showSpinner" class="spinner-shadow"><div style="position:absolute;top:40%; left: 50%"><img src="/content/images/spinner.svg" style="margin-left: -100px;"></div></div>
<div>

    <div class="alert alert-success" check-position-scroll ng-show="vm.successPassword">
        <strong>Settings saved!</strong>
    </div>

    <div class="alert alert-success" check-position-scroll ng-show="vm.success">
        <strong>Settings saved!</strong>
    </div>

    <div class="profile-title">Profile</div>
    <div class="row" style="margin: 0;margin-top: 40px;">
        <div class="col-md-3 col-md-offset-3">
            <div class="profile-photo-div">
                <div class="profile-photo-panel">
                    <div>
                        <div style="text-align: center">
                            <div style="margin-top: 10px">
                                <img class="image-cropped-profile" ng-show="showCroppedImage && !vm.settingsAccount.imageUrl"  ng-src="{{myCroppedImage}}" />
                                <img class="image-cropped-profile" ng-show="vm.settingsAccount.imageUrl && !showCroppedImage"  ng-src="{{vm.settingsAccount.imageUrl}}" />
                                <img ng-show="!showCroppedImage && !vm.settingsAccount.imageUrl" class="image-cropped" src="/content/images/image_placeholder.png" /></div>
                        </div>
                        <div  style="text-align: center">
                            <div style="margin-top: 20px">
                                <button ng-click="vm.showImageDialog()" class="uploadProfileBtn">Update Photo</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div>


                <jhi-alert-error></jhi-alert-error>

                <form name="form" role="form" novalidate ng-submit="vm.save()" show-validation>

                    <div class="form-group form-group-new">
                        <input type="text" class="profile-input" id="username" name="username" placeholder="First and Last Name"
                               ng-model="vm.settingsAccount.username" required>
                        <label for="username" class="custom-placeholder" ng-hide="vm.settingsAccount.username || form.username.$error.minlength || form.username.$error.maxlength">First and Last Name</label>
                        <div ng-show="form.username.$dirty && form.username.$invalid">
                            <p class="help-block"
                               ng-show="form.username.$error.required">
                                Your first name is required.
                            </p>
                            <p class="help-block"
                               ng-show="form.username.$error.minlength">
                                Your first name is required to be at least 1 character.
                            </p>
                            <p class="help-block"
                               ng-show="form.username.$error.maxlength">
                                Your first name cannot be longer than 50 characters.
                            </p>
                        </div>
                    </div>
                    <div class="form-group form-group-new">
                        <input type="text" class="profile-input" id="jobTitle" name="jobTitle" placeholder="Job Title"
                               ng-model="vm.settingsAccount.jobTitle">
                        <label for="jobTitle" class="custom-placeholder" ng-hide="vm.settingsAccount.jobTitle">Job Title</label>
                    </div>

                    <div class="form-group form-group-new">
                        <input type="text" class="profile-input" id="companyName" name="companyName" placeholder="Company Name"
                               ng-model="vm.settingsAccount.companyName">
                        <label for="companyName" class="custom-placeholder" ng-hide="vm.settingsAccount.companyName">Company Name</label>
                    </div>


                    <div class="form-group form-group-new">
                        <input type="text" class="profile-input" id="companySite" name="companySite" placeholder="Company Website"
                               ng-model="vm.settingsAccount.companySite">
                        <label for="companySite" class="custom-placeholder" ng-hide="vm.settingsAccount.companySite">Company Website</label>
                    </div>

                    <div class="form-group form-group-new">
                        <input type="email" class="profile-input" id="email" name="email" placeholder="Email"
                               ng-model="vm.settingsAccount.email"  ng-disabled="true"  ng-minlength=5 ng-maxlength=100 required maxlength="100">
                        <label for="email" class="custom-placeholder" ng-hide="vm.settingsAccount.email || form.email.$error.email || form.email.$error.minlength || form.email.$error.maxlength">E-mail</label>
                        <div ng-show="form.email.$dirty && form.email.$invalid">
                            <p class="help-block"
                               ng-show="form.email.$error.required">
                                Your e-mail is required.
                            </p>
                            <p class="help-block"
                               ng-show="form.email.$error.email">
                                Your e-mail is invalid.
                            </p>
                            <p class="help-block"
                               ng-show="form.email.$error.minlength">
                                Your e-mail is required to be at least 5 characters.
                            </p>
                            <p class="help-block"
                               ng-show="form.email.$error.maxlength">
                                Your e-mail cannot be longer than 100 characters.
                            </p>
                        </div>
                    </div>


                    <div class="form-group form-group-new">
                        <input type="text" class="profile-input" id="phoneNumber2" name="phoneNumber" placeholder="Phone Number"
                               ng-model="vm.settingsAccount.phoneNumber">
                        <label for="phoneNumber2" class="custom-placeholder" ng-hide="vm.settingsAccount.phoneNumber">Mobile Number</label>
                    </div>


                    <div class="form-group form-group-new">
                        <input type="text" class="profile-input" id="address2" name="address" placeholder="Address"
                               ng-model="vm.settingsAccount.address">
                        <label for="address2" class="custom-placeholder" ng-hide="vm.settingsAccount.address">Address</label>
                    </div>

                    <button type="submit" ng-disabled="form.$invalid" class="saveButton">Update profile</button>
                </form>
            </div>
            <div style="margin-top: 50px; margin-bottom: 50px">
                <jhi-alert-error></jhi-alert-error>

                <form name="form2" role="form" novalidate ng-submit="vm.changePassword()" show-validation>
                    <div class="form-group form-group-new">
                        <input type="password" class="profile-input" id="password2" name="password" placeholder="New password"
                               ng-model="vm.password" ng-minlength=4 ng-maxlength=50 required>
                        <label for="password2" class="custom-placeholder" ng-hide="vm.password || form2.password.$error.minlength || form2.password.$error.maxlength">New password</label>
                        <div ng-show="form2.password.$dirty && form2.password.$invalid">
                            <p class="help-block"
                               ng-show="form2.password.$error.required">
                                Your password is required.
                            </p>
                            <p class="help-block"
                               ng-show="form2.password.$error.minlength">
                                Your password is required to be at least 4 characters.
                            </p>
                            <p class="help-block"
                               ng-show="form2.password.$error.maxlength">
                                Your password cannot be longer than 50 characters.
                            </p>
                        </div>
                        <password-strength-bar password-to-check="vm.password"></password-strength-bar>
                    </div>
                    <div class="form-group form-group-new">
                        <input type="password" class="profile-input" id="confirmPassword2" name="confirmPassword" placeholder="Confirm password"
                               ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50  pw-check='password2' required>
                        <label for="confirmPassword2" class="custom-placeholder" ng-hide="vm.confirmPassword || form2.confirmPassword.$error.minlength || form2.confirmPassword.$error.maxlength">Confirm password</label>
                        <div ng-show="form2.confirmPassword.$dirty && form2.confirmPassword.$invalid">
                            <p class="help-block"
                               ng-show="form2.confirmPassword.$error.required">
                                Your confirmation password is required.
                            </p>
                            <p class="help-block"
                               ng-show="form2.confirmPassword.$error.minlength">
                                Your confirmation password is required to be at least 4 characters.
                            </p>
                            <p class="help-block"
                               ng-show="form2.confirmPassword.$error.maxlength">
                                Your confirmation password cannot be longer than 50 characters.
                            </p>
                            <p class="help-block"
                               ng-show="form2.confirmPassword.$error.pwmatch">
                                Passwords don't match.
                            </p>
                        </div>
                    </div>

                    <button type="submit" ng-disabled="form2.$invalid" class="saveButton">Change password</button>
                </form>
            </div>
        </div>
    </div>
</div>
