<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.reset.title}">JHipster password reset</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body style="max-width:600px; font-size: 15pt; color: #000000!important; margin: 0px; border: 1px solid #E7E7E7">
        <header style="height:80px; text-align: center; background-color: #242424;">
            <img style="width: 147px;margin-top: 17px;" th:src="@{|${baseUrl}/logo_header.png|}"/>
        </header>
        <div style="padding: 50px 50px 50px 50px">
            <div style="margin: 50px auto; text-align: center"><img th:src="@{|${baseUrl}/email-logo.png|}" alt="" style="width: 130px"/></div>

            <p th:text="#{email.reset.greeting(${user.login})}">
                Dear
            </p>
            <p th:text="#{email.reset.text1}" style="font-weight: bold;">
                You requested a new password for Sigterra account.<br/>To reset your password by clicking the link:
            </p>
            <p  style="margin: 31px 0px;">
                <a th:href="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}">Reset Link</a>
            </p>
            <p>
                <span th:text="#{email.reset.text2}">Your password won’t be changed if you ignore this message </span>
            </p>
            <hr style="display: block;height: 1px;border: 0;border-top: 1px solid #D0D8D9;margin: 31px 0; padding: 0; "/>

            <p style="font-weight: bold">
                Thank You,<br/>
                Team@Sigterra
            </p>
        </div>
    <div>
        <hr style="display: block;height: 1px;border: 0;border-top: 1px solid #D0D8D9;margin: 0; padding: 0; "/>
        <div style="display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;align-items: center;align-content: center;padding: 50px">
            <div><b>Signature Marketing</b>, reinvented turn<br/>
                your email traffic into engaged leads</div>
            <div>
                <img style="width: 103px;" th:src="@{|${baseUrl}/footer-logo.png|}"/>
            </div>
        </div>
    </div>
    </body>
</html>

