<script src="/app/entities/cardlet-list/jscolor.js"></script>
<div class="entiti-content">

    {{tabNames}}

<style>

    .cardlet-name-panel{
        margin-bottom: 30px;
    }

    .cadletName{
        border-width: 0px;
        border-bottom-width: 1px;
        border-style: solid;
        border-color: #18C6B7;
        width: 300px;
        padding-bottom: 10px;
        font-size:15px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .tab-panel{
        padding-top: 50px;
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 50px;
        background-color: #fff;
        box-shadow: none;
    }

    ul.tab {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #FFF;
        width: 620px;
    }

    /* Float the list items side by side */
    ul.tab li {
        width: 150px;
        float: left;
        background: #FFFFFF;
        border-width: 1px;
        border-style: solid;
        border-color: #D0D8D9;
        margin-right: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: none;
        color: #7F8C8C!important;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    }

    /* Style the links inside the list items */
    ul.tab li a {
        display: inline-block;
        text-align: center;
        padding: 10px 16px;
        text-decoration: none;
        transition: 0.3s;
        font-size: 17px;


    }

    /* Change background color of links on hover */
    ul.tab li a:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */

    .tabs a{
        color: #7F8C8C;
    }


    .remove{
        padding: 0px!important;
        position: absolute;
        background: #fff;
        color: #000!important;
        border-radius: 20px;
        width: 15px;
        height: 15px;
        top: -7px;
        right: -7px;
        text-transform: none;
    }

    ul.tab{
        padding-top: 10px;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 0px;
        border: 1px solid #ccc;
        width: 620px;
        background-color: #F9F9F9;
        margin-top: 45px;
    }


    /* Style the tab content */
    .tabcontent2 {
        display: none;
        border: 1px solid #ccc;
        width: 540px;
        background-color: #F9F9F9;
    }


    .tabs2 a{
        color: #7F8C8C;
    }

    .active a{
        color: #FFFFFF;
    }

    ul.tab2 {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #FFF;
        width: 550px;
        padding-top: 10px;
    }

    /* Float the list items side by side */
    ul.tab2 li {
        width: 131px;
        float: left;
        background: #FFFFFF;
        border-width: 1px;
        border-style: solid;
        border-color: #D0D8D9;
        margin-right: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: none;
        color: #7F8C8C!important;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    }

    /* Style the links inside the list items */
    ul.tab2 li a {
        display: inline-block;
        text-align: center;
        padding: 10px 16px;
        text-decoration: none;
        transition: 0.3s;
        font-size: 17px;


    }

    /* Change background color of links on hover */
    ul.tab2 li a:hover {
        background-color: #ddd;
    }

    .display{
        display: block;
    }
    .none-display{
        display: none;
    }

    .cardlet-label{
        font-size: 11px;
    }

    .input-text-div{
        float:left;
        width: 450px
    }

    .text-decoration-div{
        float: left;
        width: 130px;
        text-align: right;
        padding-top: 25px;
    }

    .social-image-form-div{
        float: left;
        width: 130px;
        padding-top: 25px;
        padding-left: 25px;
    }

    ul.tab li.active {
        background: #18C6B7;
    }

    .dropdown-tab{
        border:none!important;
        width: 100%!important;
        background-color: #FAFAFA!important;
    }
    .cardlet-dropdown{
        background-color: #FAFAFA!important;
    }

    .checkboxBold {
        display:none;
    }

    .checkboxBold + label
    {
        background-image: url("/app/entities/cardlet-list/img/text_icons/bold.png");
        height: 30px;
        width: 30px;
        display:inline-block;
        padding: 0 0 0 0px;
    }


    .checkboxBold:checked + label
    {
        background-image: url("/app/entities/cardlet-list/img/text_icons/bold_active.png");
        height: 30px;
        width: 30px;
        display:inline-block;
        padding: 0 0 0 0px;
    }

    .checkboxItalic {
        display:none;
    }

    .checkboxItalic + label
    {
        background-image: url("/app/entities/cardlet-list/img/text_icons/italic.png");
        height: 30px;
        width: 30px;
        display:inline-block;
        padding: 0 0 0 0px;
    }
    .checkboxItalic:checked + label
    {
        background-image: url("/app/entities/cardlet-list/img/text_icons/italic_active.png");
        height: 30px;
        width: 30px;
        display:inline-block;
        padding: 0 0 0 0px;
    }
    .checkboxUunderline {
        display:none;
    }

    .checkboxUunderline + label
    {
        background-image: url("/app/entities/cardlet-list/img/text_icons/underline.png");
        height: 30px;
        width: 30px;
        display:inline-block;
        padding: 0 0 0 0px;
    }
    .checkboxUunderline:checked + label
    {
        background-image: url("/app/entities/cardlet-list/img/text_icons/underline_active.png");
        height: 30px;
        width: 30px;
        display:inline-block;
        padding: 0 0 0 0px;
    }

    .upload-item-img{
        background-color: #18C6B7!important;
        border-color: #18C6B7!important;
        border-radius: 20px!important;
        min-width: 120px!important;
    }

    .add-item-btn{
        margin: 10px;
    }

    .delete-item-btn{
        background: none!important;
        border: none!important;
        color: #18C6B7!important;
        text-decoration: underline;
    }

    .saveButton{
        background-color: #E8645A;
        color: #FFF;
        text-transform: uppercase;
        width: 200px;
        border:none;
        border-radius: 20px;
        font-size: 15px;
        padding: 12px;
        font-weight: bold;

    }

     input:focus{
        outline: none;
    }

    ul[dnd-list], ul[dnd-list] > li {
        position: relative;
    }

    .dndPlaceholder{
        display: inline-block;
        position: relative;
        background-color: #ddd;
        width: 150px;
        min-height:44px;
        margin: 0;
        padding: 0;
    }


</style>

    <div class="tab-panel">

        <div class="cardlet-name-panel">
            <input type="text" placeholder="Templates name" class="cadletName" ng-model="tabNames.cardletName">
        </div>
        <div class="row">
            <div class="col-md-6">

                <ul class="tab" dnd-list="tabNames.tabs" dnd-horizontal-list="true" dnd-external-sources="true">

                    <li class="tabs" ng-repeat="tabName in tabNames.tabs" dnd-draggable="tabName" dnd-moved="tabNames.tabs.splice($index, 1)" id="{{tabName.position}}" dnd-dragend="positionCheck()">
                        <div style="position: relative">
                            <a href="javascript:void(0)" class="tablinks" ng-click="openCity(tabName.name, tabName.position)">{{tabName.name}}</a>
                            <div class="remove" ng-click="removeTab(tabName.position)"><span style="font-size: 15px;color:#D0D8D9;" class="glyphicon glyphicon-remove-circle"></span></div>
                        </div>
                    </li>
                    <li  uib-dropdown class="dropdown pointer"  ng-show="isNewTab">
                        <a class="dropdown-toggle" uib-dropdown-toggle href="" >
                        <span>
                            <span class="hidden-sm" style="color: #7F8C8C !important;">new tab
                            </span>
                            <b class="caret" style="color: #7F8C8C !important;"></b>
                        </span>
                        </a>
                        <ul class="dropdown-menu cardlet-dropdown" >
                            <li class="dropdown-tab" ui-sref-active="active">
                                <a ng-click="addTab()">
                                    <span >Business Card</span>
                                </a>
                            </li>
                            <li class="dropdown-tab">
                                <a ng-click="addItem()">
                                    <span >Items</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
                <div ng-repeat="tabName in tabNames.tabs " id="{{tabName.name}}" class="tabcontent">
                    <div class="form-group" style="padding: 15px">
                        <label class="login-lable" for="name">Tab’s name</label>

                        <input type="text" class="form-control profile-input" id="name" placeholder="Business card"
                               ng-model="tabName.name">
                    </div>

                    <div class="main">


                        <div class="accordion" ng-init="accordion2=1" ng-show="tabName.tabType === 2">
                            <div class="accordion-section">
                                <a class="accordion-section-title" ng-class="{active:accordionActive==1}" ng-click="changeAccordionActivity(1)">Layout design</a>
                                <div id="accordion2-1" class="accordion-section-content" ng-show="accordionActive==1">
                                    <script>
                                        $(document).ready(function() {
                                            jscolor.installByClassName("jscolor");
                                        });
                                    </script>
                                    <input ng-model="tabName.layout.mainColor" name='mainColorr' value='mainColor' id="mainColor{{tabName.name}}" class="jscolor" value="FFFFFF">
                                    <input ng-model="tabName.layout.secondaryColor" name='secondaryColor' value='secondaryColor' id="mainColor{{tabName.name}}" class="jscolor" value="4BABE2">
                                    <div ng-repeat="itemType in itemTypes" style="margin-bottom: 30px;">
                                        <ng-include ng-click="chooseType(tabName.position, itemType.path, itemType.id)" style="display: block!important" src="itemType.path" ></ng-include>
                                    </div>

                                </div><!--end .accordion-section-content-->
                            </div><!--end .accordion-section-->


                            <div class="accordion-section" ng-repeat="item in tabName.items">
                                <a class="accordion-section-title" ng-class="{active:accordionActive==item.index}" ng-click="changeAccordionActivity(item.index)">{{$index+1}} item</a>
                                <div id="accordion2-item.index" class="accordion-section-content" ng-show="accordionActive==item.index">
                                    <div class="form-group">
                                        <div class="input-text-div">
                                            <label class="login-lable cardlet-label" for="itemName">Name</label>
                                            <input type="text" class="form-control profile-input" id="itemName" placeholder="" ng-model="item.name.value">
                                        </div>
                                        <div class="text-decoration-div" >
                                            <input type='checkbox' ng-model="item.name.bold" name='bold'  class="checkboxBold" value='valuable' id="boldName{{tabName.position}}{{item.position}}"/><label for="boldName{{tabName.position}}{{item.position}}"></label>
                                            <input type='checkbox' ng-model="item.name.italic" name='italic'  class="checkboxItalic" value='valuable' id="italicName{{tabName.position}}{{item.position}}"/><label for="italicName{{tabName.position}}{{item.position}}"></label>
                                            <input type='checkbox' ng-model="item.name.underline" name='underline' class="checkboxUunderline" value='valuable' id="underlineName{{tabName.position}}{{item.position}}"/><label for="underlineName{{tabName.position}}{{item.position}}"></label>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-text-div">
                                            <label class="login-lable cardlet-label" for="urlOne">url:\\</label>
                                            <input type="text" class="form-control profile-input" id="urlOne" placeholder="" ng-model="item.urlOne">
                                        </div>
                                        <div class="social-image-form-div" >
                                            <button  type="submit" ng-disabled="for2m.$invalid"  class="btn btn-primary main-btn upload-item-img">Upload</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-text-div">
                                            <label class="login-lable cardlet-label" for="urlTwo">url:\\</label>
                                            <input type="text" class="form-control profile-input" id="urlTwo" placeholder="" ng-model="item.urlTwo">
                                        </div>
                                        <div class="social-image-form-div" >
                                            <button  type="submit" ng-disabled="for2m.$invalid"  class="btn btn-primary main-btn upload-item-img">Upload</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-text-div">
                                            <label class="login-lable cardlet-label" for="urlThree">url:\\</label>
                                            <input type="text" class="form-control profile-input" id="urlThree" placeholder="" ng-model="item.urlThree">
                                        </div>
                                        <div class="social-image-form-div" >
                                            <button  type="submit" ng-disabled="for2m.$invalid"  class="btn btn-primary main-btn upload-item-img">Upload</button>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-text-div">
                                            <label class="login-lable cardlet-label" for="description">Description</label>
                                            <input type="text" class="form-control profile-input" id="description" placeholder="" ng-model="item.description.value">
                                        </div>
                                        <div class="text-decoration-div" >
                                            <input type='checkbox' ng-model="item.description.bold" name='bold' value='valuable' class="checkboxBold" id="boldDescription{{tabName.position}}{{item.position}}"/><label for="boldDescription{{tabName.position}}{{item.position}}"></label>
                                            <input type='checkbox' ng-model="item.description.italic" name='italic' value='valuable' class="checkboxItalic" id="italicDescription{{tabName.position}}{{item.position}}"/><label for="italicDescription{{tabName.position}}{{item.position}}"></label>
                                            <input type='checkbox' ng-model="item.description.underline" name='underline' value='valuable' class="checkboxUunderline" id="underlineDescription{{tabName.position}}{{item.position}}"/><label for="underlineDescription{{tabName.position}}{{item.position}}"></label>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div style="width: 450px">
                                            <label class="login-lable cardlet-label" for="description">1 item’s link</label>
                                            <input type="text" class="form-control profile-input" id="description" placeholder="" ng-model="item.link">
                                        </div>
                                        <div class="text-decoration-div" >

                                        </div>
                                    </div>
                                    <br>
                                    <div>
                                        <button ng-show="isDeleteItem"  type="submit" ng-disabled="for2m.$invalid" ng-click="deleteItems(tabName.position,  tabName.items.length)" class="btn btn-primary delete-item-btn"> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete item</button>
                                    </div>
                                </div>
                            </div>
                            <div class="add-item-btn">
                                <button  type="submit" ng-disabled="for2m.$invalid" ng-click="addItems(tabName.position,  tabName.items.length)" class="btn btn-primary main-btn upload-item-img">Add item</button>
                            </div>
                        </div>




                        <div class="accordion" ng-init="accordion=1" ng-show="tabName.tabType === 1">
                            <div class="accordion-section">
                                <a class="accordion-section-title" ng-class="{active:accordion==1}" ng-click="accordion = 1">
                                    <div class="accordion-section-text">Personal details</div>
                                    <div class=""></div>
                                </a>
                                <div id="accordion-1" class="accordion-section-content"  ng-show="accordion==1">
                                    <div class="form-group">

                                        <div class="input-text-div">
                                            <label class="login-lable cardlet-label" for="userName">Name</label>
                                            <input type="text" class="form-control profile-input" id="userName" placeholder="Jon Dou" ng-model="tabName.userName.value">
                                        </div>
                                        <div class="text-decoration-div" >
                                            <input type='checkbox' ng-model="tabName.userName.bold" name='bold' class="checkboxBold" value='valuable' id="bold{{tabName.position}}"/><label for="bold{{tabName.position}}"></label>
                                            <input type='checkbox' ng-model="tabName.userName.italic" name='italic' class="checkboxItalic" value='valuable' id="italic{{tabName.position}}"/><label for="italic{{tabName.position}}"></label>
                                            <input type='checkbox' ng-model="tabName.userName.underline" name='underline' class="checkboxUunderline" value='valuable' id="underline{{tabName.position}}"/><label for="underline{{tabName.position}}"></label>

                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <div class="input-text-div">
                                            <label class="login-lable cardlet-label" for="userName">Email</label>
                                            <input type="email" class="form-control profile-input" id="userName" placeholder="Jon Dou" ng-model="tabName.userEmail.value">
                                        </div>
                                        <div class="text-decoration-div" >
                                            <input type='checkbox' ng-model="tabName.userEmail.bold" name='boldEmail' value='valuableEmail' class="checkboxBold" id="boldEmail{{tabName.position}}"/><label for="boldEmail{{tabName.position}}"></label>
                                            <input type='checkbox' ng-model="tabName.userEmail.italic" name='italicEmail' value='italicEmail' class="checkboxItalic" id="italicEmail{{tabName.position}}"/><label for="italicEmail{{tabName.position}}"></label>
                                            <input type='checkbox' ng-model="tabName.userEmail.underline" name='underlineEmail' value='valuable' class="checkboxUunderline" id="underlineEmail{{tabName.position}}"/><label for="underlineEmail{{tabName.position}}"></label>

                                        </div>
                                    </div>

                                    <div class="form-group">

                                        <div class="input-text-div">
                                            <label class="login-lable cardlet-label" for="userName">Phone number</label>
                                            <input type="text" class="form-control profile-input" id="userName" placeholder="Jon Dou" ng-model="tabName.phone.value">
                                        </div>
                                        <div class="text-decoration-div" >
                                            <input type='checkbox' ng-model="tabName.phone.bold" name='bold' value='valuable' class="checkboxBold" id="boldPhone{{tabName.position}}"/><label for="boldPhone{{tabName.position}}"></label>
                                            <input type='checkbox' ng-model="tabName.phone.italic" name='italic' value='valuable' class="checkboxItalic" id="italicPhone{{tabName.position}}"/><label for="italicPhone{{tabName.position}}"></label>
                                            <input type='checkbox' ng-model="tabName.phone.underline" name='underline' value='valuable' class="checkboxUunderline" id="underlinePhone{{tabName.position}}"/><label for="underlinePhone{{tabName.position}}"></label>

                                        </div>
                                    </div>

                                    <div class="form-group">

                                        <div class="input-text-div">
                                            <label class="login-lable cardlet-label" for="userName">Address</label>
                                            <input type="text" class="form-control profile-input" id="userName" placeholder="Jon Dou" ng-model="tabName.address.value">
                                        </div>
                                        <div class="text-decoration-div" >
                                            <input type='checkbox' ng-model="tabName.address.bold" name='bold' value='valuable' class="checkboxBold" id="boldAddress{{tabName.position}}"/><label for="boldAddress{{tabName.position}}"></label>
                                            <input type='checkbox' ng-model="tabName.address.italic" name='italic' value='valuable' class="checkboxItalic" id="italicAddress{{tabName.position}}"/><label for="italicAddress{{tabName.position}}"></label>
                                            <input type='checkbox' ng-model="tabName.address.underline" name='underline' value='valuable' class="checkboxUunderline" id="underlineAddress{{tabName.position}}"/><label for="underlineAddress{{tabName.position}}"></label>

                                        </div>
                                    </div>

                                    <div class="form-group">

                                        <div class="input-text-div">
                                            <label class="login-lable cardlet-label" for="userName">Company Name</label>
                                            <input type="text" class="form-control profile-input" id="userName" placeholder="Jon Dou" ng-model="tabName.company.value">
                                        </div>
                                        <div class="text-decoration-div" >
                                            <input type='checkbox' ng-model="tabName.company.bold" name='bold' value='valuable' class="checkboxBold" id="boldCompany{{tabName.position}}"/><label for="boldCompany{{tabName.position}}"></label>
                                            <input type='checkbox' ng-model="tabName.company.italic" name='italic' value='valuable' class="checkboxItalic" id="italicCompany{{tabName.position}}"/><label for="italicCompany{{tabName.position}}"></label>
                                            <input type='checkbox' ng-model="tabName.company.underline" name='underline' value='valuable' class="checkboxUunderline" id="underlineCompany{{tabName.position}}"/><label for="underlineCompany{{tabName.position}}"></label>

                                        </div>
                                    </div>

                                    <div class="form-group">

                                        <div class="input-text-div">
                                            <label class="login-lable cardlet-label" for="userName">Company site</label>
                                            <input type="text" class="form-control profile-input" id="userName" placeholder="Jon Dou" ng-model="tabName.site.value">
                                        </div>
                                        <div class="text-decoration-div" >
                                            <input type='checkbox' ng-model="tabName.site.bold" name='bold' value='valuable' class="checkboxBold" id="boldSite{{tabName.position}}"/><label for="boldSite{{tabName.position}}"></label>
                                            <input type='checkbox' ng-model="tabName.site.italic" name='italic' value='valuable' class="checkboxItalic" id="italicSite{{tabName.position}}"/><label for="italicSite{{tabName.position}}"></label>
                                            <input type='checkbox' ng-model="tabName.site.underline" name='underline' value='valuable' class="checkboxUunderline" id="underlineSite{{tabName.position}}"/><label for="underlineSite{{tabName.position}}"></label>

                                        </div>

                                    </div>
                                    <div class="form-group">

                                        <div class="input-text-div">
                                            <label class="login-lable cardlet-label" for="userName">Job title</label>
                                            <input type="text" class="form-control profile-input" id="userName" placeholder="Jon Dou" ng-model="tabName.job.value">
                                        </div>
                                        <div class="text-decoration-div" >
                                            <input type='checkbox' ng-model="tabName.job.bold" name='bold' value='valuable' class="checkboxBold" id="boldJob{{tabName.position}}"/><label for="boldJob{{tabName.position}}"></label>
                                            <input type='checkbox' ng-model="tabName.job.italic" name='italic' value='valuable' class="checkboxItalic" id="italicJob{{tabName.position}}"/><label for="italicJob{{tabName.position}}"></label>
                                            <input type='checkbox' ng-model="tabName.job.underline" name='underline' value='valuable' class="checkboxUunderline" id="underlineJob{{tabName.position}}"/><label for="underlineJob{{tabName.position}}"></label>

                                        </div>
                                    </div>
                                </div>

                            </div><!--end .accordion-section-->

                            <div class="accordion-section">
                                <a class="accordion-section-title" ng-class="{active:accordion==2}" ng-click="accordion = 2">Social links</a>
                                <div id="accordion-2" class="accordion-section-content"  ng-show="accordion==2">

                                    <div class="form-group">

                                        <div class="input-text-div">
                                            <label class="login-lable cardlet-label" for="twitter">TWITTER</label>
                                            <input type="text" class="form-control profile-input" id="twitter" placeholder="" ng-model="tabName.socialLinks.twitter">
                                        </div>
                                        <div class="social-image-form-div" >
                                           <img src="/app/cardlets/img/2_card/twitter.png">
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <div class="input-text-div">
                                            <label class="login-lable cardlet-label" for="facebook">Facebook</label>
                                            <input type="text" class="form-control profile-input" id="facebook" placeholder="" ng-model="tabName.socialLinks.facebook">
                                        </div>
                                        <div class="social-image-form-div" >
                                            <img src="/app/cardlets/img/2_card/facebook.png">
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <div class="input-text-div">
                                            <label class="login-lable cardlet-label" for="google">Google</label>
                                            <input type="text" class="form-control profile-input" id="google" placeholder="" ng-model="tabName.socialLinks.google">
                                        </div>
                                        <div class="social-image-form-div" >
                                            <img src="/app/cardlets/img/2_card/google.png">
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <div class="input-text-div">
                                            <label class="login-lable cardlet-label" for="linkedin">linkedin</label>
                                            <input type="text" class="form-control profile-input" id="linkedin" placeholder="" ng-model="tabName.socialLinks.linkedin">
                                        </div>
                                        <div class="social-image-form-div" >
                                            <img src="/app/cardlets/img/2_card/linkedin.png">
                                        </div>
                                    </div>

                                 </div><!--end .accordion-section-content-->
                            </div><!--end .accordion-section-->

                            <div class="accordion-section">
                                <a class="accordion-section-title" ng-class="{active:accordion==3}" ng-click="accordion = 3">Layout design</a>
                                <div id="accordion-3" class="accordion-section-content" ng-show="accordion==3">
                                    <script>
                                        $(document).ready(function() {
                                            jscolor.installByClassName("jscolor");
                                        });
                                    </script>
                                    <input ng-model="tabName.layout.mainColor" name='mainColorr' value='mainColor' id="mainColor{{tabName.name}}" class="jscolor" value="FFFFFF">
                                    <input ng-model="tabName.layout.secondaryColor" name='secondaryColor' value='secondaryColor' id="mainColor{{tabName.name}}" class="jscolor" value="4BABE2">
                                    <div ng-repeat="tabType in tabTypes" style="margin-bottom: 30px;">
                                        <ng-include ng-click="chooseType(tabName.position, tabType.path, tabType.id)" style="display: block!important" src="tabType.path" ></ng-include>
                                    </div>

                                </div><!--end .accordion-section-content-->
                            </div><!--end .accordion-section-->
                        </div><!--end .accordion-->
                    </div>
                    <ng-include style="display: block!important" src="business.tabType.path" ></ng-include>
                </div>
            </div>
            <div class="col-md-6">

                <div>
                    <ul class="tab2">
                        <li style="background-color: #fff" class="tabs2" ng-style="addColors(tabName.position+tabName.name, tabName.layout.mainColor, tabName.layout.secondaryColor)" ng-repeat="tabName in tabNames.tabs" id="{{tabName.position}}{{tabName.name}}">
                            <div style="position: relative">
                                <a href="javascript:void(0)" class="tablinks2" ng-click="openCard(tabName.name+tabName.position, tabName.position+tabName.name)">{{tabName.name}}</a>
                            </div>
                        </li>

                    </ul>
                </div>

                <div ng-repeat="tabName in tabNames.tabs " id="{{tabName.name}}{{tabName.position}}" class="tabcontent2" ng-class="business.pisition === 1 ? 'display' : 'none-display'">
                        <ng-include style="display: block!important" src="tabName.layout.url" ></ng-include>
                </div>


                <div style="margin-top: 20px;">
                    <button class="saveButton" ng-click="saveCardlet()">save</button>
                </div>

            </div>
        </div>
    </div>

    <style>


        a.accordion-section-title.active{
            background-color: #ECECEC!important;
        }
        .main:before {
            width:100%;
            height:100%;
            position:absolute;
            top:0px;
            left:0px;
            z-index:-1;
            content:'';
            background:-webkit-radial-gradient(30%, rgba(255,255,255,0.15), rgba(0,0,0,0)), url('img/body-bg.png');
            background:-moz-radial-gradient(30%, rgba(255,255,255,0.15), rgba(0,0,0,0)), url('img/body-bg.png');
            background:-o-radial-gradient(30%, rgba(255,255,255,0.15), rgba(0,0,0,0)), url('img/body-bg.png');
            background:radial-gradient(30%, rgba(255,255,255,0.15), rgba(0,0,0,0)), url('img/body-bg.png');
        }

        .site-header-wrap {
            margin-bottom:60px;
            border-bottom:1px solid #cd9ad6;
        }

        /*------------------------------------*\
        -------- DEMO Code: accordion
        \*------------------------------------*/
        /*----- Accordion -----*/
        .accordion, .accordion * {
            -webkit-box-sizing:border-box;
            -moz-box-sizing:border-box;
            box-sizing:border-box;
        }

        .accordion {
            overflow:hidden;
            box-shadow:0px 1px 3px rgba(0,0,0,0.25);
            border-radius:3px;
            background:#f7f7f7;
        }

        /*----- Section Titles -----*/
        .accordion-section-title {
            width: 100%;
            padding: 15px;
            display: inline-block;
            border-top: 1px solid #D0D8D9;
            border-bottom: 1px solid #D0D8D9;
            background: #F9F9F9;
            font-size: 1.200em;
            color: #7F8C8C;
            text-transform: uppercase;
            font-weight: bold;
        }

        .accordion-section-title.active, .accordion-section-title:hover {
            background:#ECECEC;
            /* Type */
            text-decoration:none;
            color: #7F8C8C;
        }

        .accordion-section:last-child .accordion-section-title {
            border-bottom:none;
        }

        /*----- Section Content -----*/
        .accordion-section-content {
            padding:15px;
        }

    </style>
</div>








