<script src="/app/entities/cardlet-list/jscolor.js"></script>
<div class="modeal-custom-window" ng-show="showCropDialog">
    <div class="modal-dialog " style="margin-top: 0px; width:390px!important;">
        <div class="modal-content" uib-modal-transclude="">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        ng-click="closeCropDialog()">&times;</button>
            </div>
            <div  style="padding: 0px!important; text-align: center" class="modal-body">
                <div>

                    <div class="fileUpload btn btn-primary choose-photo-btn">
                        <span>Choose photo</span>
                        <input type="file" id="fileInput" class="upload" />
                    </div>
                </div>
                <div class="cropArea">
                    <img-crop image="myImage" result-image="myCroppedImage" ></img-crop>
                </div>
                <div class="crop-btn-div">
                    <button class="saveButton" ng-click="saveImage()">save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-show="showSpinner" class="spinner-shadow"><img src="/content/images/spinner.gif" style="position:absolute;top:40%"></div>



<div class="modeal-custom-window" ng-show="showDelteTabDialog">
    <div class="modal-dialog " style="margin-top: 100px; width: 400px!important;">
        <div class="modal-content" uib-modal-transclude="">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        ng-click="closeDialog()">&times;</button>
                <div class="signature-title"></div>
            </div>
            <div  style=" padding: 0px!important;" class="modal-body">
                <div style="background: #FFF; padding-left: 30px; padding-right: 30px;">
                    <div class="delete-dialog-title">Delete Tab?</div>
                    <div class="delete-msg">
                        Are you sure you want to delete this?
                    </div>
                    <div class="select-btn-div" style="padding-bottom: 50px;">
                        <button style="float: left" class="saveButton closeButton" ng-click="closeDialog()">
                            Close
                        </button>
                        <button style="float: right" class="saveButton deleteButton" ng-click="removeTab()">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="entiti-content">
<style>

    .modeal-custom-window{
        top:0;
        position: fixed;
        display: block;
        width: 100%;
        height:100%;
        background-color: rgba(0,0,0, 0.6);
        z-index: 1000;
    }

    .cardlet-name-panel{
        margin-bottom: 30px;
    }

    .cadletName{
        border-width: 0px;
        border-bottom-width: 1px;
        border-style: solid;
        border-color: #18C6B7;
        width: 300px;
        padding-bottom: 10px;
        font-size:15px;
        text-transform: uppercase;
        font-weight: bold;
    }
    .tab-panel{
        padding-top: 50px;
        margin-left: 15%;
        margin-right: 15%;
        padding-bottom: 50px;
        background-color: #fff;
        box-shadow: none;
    }

    @media (min-width: 1200px) {
        .tab-panel {
            margin-left: 5px;
            margin-right: 5px;
        }
    }

    @media (min-width: 1220px) {
        .tab-panel {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    @media (min-width: 1350px) {
        .tab-panel {
            margin-left: 6%;
            margin-right: 6%;
        }
    }

    @media (min-width: 1400px) {
        .tab-panel {
            margin-left: 8%;
            margin-right: 8%;
        }
    }


    @media (min-width: 1500px) {
        .tab-panel {
            margin-left: 10%;
            margin-right: 10%;
        }
    }

    @media (min-width: 1600px) {
        .tab-panel {
            margin-left: 12%;
            margin-right: 12%;
        }
    }


    @media (min-width: 1700px) {
        .tab-panel {
            margin-left: 15%;
            margin-right: 15%;
        }
    }
    @media (min-width: 1800px) {
        .tab-panel {
            margin-left: 17%;
            margin-right: 17%;
        }
    }
    @media (min-width: 1200px) {
        .second-column {
            margin-right: 0px;
            margin-left: auto;
        }
    }


    ul.tab {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #FFF;
        width: 620px;
    }

    /* Float the list items side by side */
    ul.tab li {
        width: 155px;
        min-height: 44px;
        float: left;
        background: #F9F9F9;
        border-width: 1px;
        border-style: solid;
        border-color: #E7E7E7;
        color: #7F8C8C;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    }

    ul.tab li.dropdown{
        height: 44px;
        width: 54px;
        background: #13BCB5;
        border-width: 1px;
        border-color: #13BCB5;
        border-style: solid;
    }


    ul.tab li.dropdown a{
        padding:12px;
    }

    ul.tab li.dropdown a:hover{
        background: #13BCB5 ;
        color: #FFFFFF;
    }

    /* Style the links inside the list items */
    ul.tab li a {
        display: inline-block;
        text-align: center;
        padding: 10px 16px;
        text-decoration: none;
        transition: 0.3s;
        font-size: 14px;


    }

    /* Change background color of links on hover */
    ul.tab li a:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */

    .tabs a{
        color: #7F8C8C;
    }


    .remove{
        padding: 0px!important;
        position: absolute;
        background: #fff;
        color: #000!important;
        border-radius: 20px;
        width: 15px;
        height: 15px;
        top: -7px;
        right: -7px;
        text-transform: none;
        z-index: 10
    }

    ul.tab{
        padding-top: 10px;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 0px;
        border: 1px solid #E7E7E7;
        width: 620px;
        background-color: #FFFFFFF;
        margin-top: 43px;
    }


    /* Style the tab content */
    .tabcontent2 {
        display: none;
        border: 1px solid #ccc;
        width: 540px;
        background-color: #F9F9F9;
    }


    .tabs2 a{
        color: #7F8C8C;
    }

    .active a{
        color: #FFFFFF;
    }

    ul.tab2 {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        width: 550px;
        padding-top: 10px;
    }

    /* Float the list items side by side */
    ul.tab2 li {
        width: 131px;
        min-height: 44px;
        float: left;
        background: #FFFFFF;
        border-width: 1px;
        border-style: solid;
        border-color: #D0D8D9;
        margin-right: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: none;
        color: #7F8C8C!important;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    }

    /* Style the links inside the list items */
    ul.tab2 li a {
        display: inline-block;
        text-align: center;
        padding: 10px 16px;
        text-decoration: none;
        transition: 0.3s;
        font-size: 14px;


    }

    /* Change background color of links on hover */
    ul.tab2 li a:hover {
        background-color: #ddd;
    }

    .display{
        display: block;
    }
    .none-display{
        display: none;
    }

    .cardlet-label{
        font-size: 11px;
        margin-left: 5px;
    }

    .input-text-div{
        float:left;
        width: 420px
    }

    .text-decoration-div{
        float: left;
        width: 130px;
        text-align: right;
        padding-top: 10px;
    }

    .social-image-form-div{
        float: left;
        width: 130px;
        padding-top: 7px;
        padding-left: 20px;
    }

    ul.tab li.active a{
        color: #13BCB5!important;
    }

    ul.tab li.active {
        background: #FFFFFF!important;
        color: #13BCB5!important;
        border-width: 0px;
        border-top-width: 2px;
        border-left-width: 1px;
        border-right-width: 1px;
        border-left-color: #E7E7E7;
        border-top-color: #13BCB5;
        border-style: solid;
    }

    .dropdown-tab{
        border:none!important;
        width: 100%!important;
        background-color: #FFFFFF!important;
    }
    .cardlet-dropdown{
        background-color: #FFFFFF!important;
    }


    .add-item-btn{
        margin: 10px;
        margin-right: 35px;
        text-align: right;
    }

    .delete-item-btn{
        background: none!important;
        border: none!important;
        color: #18C6B7!important;
        text-decoration: underline;
    }


     input:focus{
        outline: none;
    }

    ul[dnd-list], ul[dnd-list] > li {
        position: relative;
    }

    .dndPlaceholder{
        display: inline-block;
        position: relative;
        background-color: #ddd;
        width: 150px;
        min-height:44px;
        margin: 0;
        padding: 0;
    }

    .input-padding{
        margin-bottom: 40px;
    }

    .mainColor-input{
        margin-right: 135px;
        width: 200px;
    }

    .secondaryColor-input{
        margin-bottom: 40px;
        width: 200px;
    }

    a.tablinks{
        width: 100%;
        min-height: 40px;
    }
    a.tablinks2{
        width: 100%;
        min-height: 40px;
    }

    a.dropdown-toggle{
        width: 100%;
    }

    .status-icon{
        float: right;
        margin-top: 10px;
        margin-right: 10px;
    }

    ul[dnd-list] .dndDraggingSource {
        display: none;
    }

</style>

    <div class="tab-panel">

        <div class="cardlet-name-panel">
            <input type="text" placeholder="Templates name" class="cadletName" ng-model="tabNames.cardletName" maxlength="25">
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div>
                    <ul class="tab" dnd-list="tabNames.tabs" dnd-horizontal-list="true" dnd-external-sources="true">

                        <li class="tabs" ng-repeat="tabName in tabNames.tabs" dnd-draggable="tabName" dnd-selected="models.selected = tabName"
                            ng-class="{'selected': models.selected === tabName}"  dnd-effect-allowed="move" dnd-moved="tabNames.tabs.splice($index, 1)" id="tab{{tabName.position}}" dnd-dragend="positionCheck()">
                            <div style="position: relative">
                                <a href="javascript:void(0)" class="tablinks" ng-click="openCity('settings'+tabName.name+tabName.position, 'tab'+tabName.position, tabName.name+tabName.position, tabName.position+tabName.name)">{{tabName.name}}</a>
                                <div ng-hide="tabNames.tabs.length == 1" class="remove" ng-click="showDeleteDialog(tabName.position)"><span style="font-size: 15px;color:#D0D8D9;" class="glyphicon glyphicon-remove-circle"></span></div>
                            </div>
                        </li>
                        <li  uib-dropdown class="dropdown pointer"  ng-show="isNewTab">
                            <a class="dropdown-toggle" uib-dropdown-toggle href="" >
                            <span class="glyphicon glyphicon-plus" style="color: #ffffff">
                            </span>
                            </a>
                            <ul class="dropdown-menu cardlet-dropdown" >
                                <li class="dropdown-tab" ui-sref-active="active">
                                    <a ng-click="addTab()" style="width:100%;">
                                        <span>My info</span>
                                    </a>
                                </li>
                                <li class="dropdown-tab">
                                    <a ng-click="addItem()" style="width:100%;">
                                        <span >Items</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                    <div ng-repeat="tabName in tabNames.tabs " id="settings{{tabName.name}}{{tabName.position}}" class="tabcontent">
                        <form  name="form" role="form" novalidate show-validation>

                            <div class="form-group" style="padding: 15px">

                                <input type="text" class="input-new" id="name" name="name" placeholder="Tab’s name" ng-minlength=1 maxlength="12"
                                       ng-model="tabName.name" required>
                                <div ng-show="form.name.$dirty && form.name.$invalid">
                                    <p class="help-block"
                                       ng-show="form.name.$error.required">
                                        Your tab name is required.
                                    </p>
                                    <p class="help-block"
                                       ng-show="form.name.$error.minlength">
                                        Your tab name is required to be at least 1 character.
                                    </p>

                                </div>
                            </div>
                        </form>

                        <div class="main">


                            <div class="accordion" ng-init="accordion2=1" ng-show="tabName.tabType === 2">
                                <div class="accordion-section" ng-repeat="item in tabName.items">
                                    <a class="accordion-section-title" ng-class="{active:accordionActive==item.index}" ng-click="changeAccordionActivity(item.index)">Enter Item {{$index+1}} Details <img class="status-icon" ng-click="accordionActive=0" ng-show="accordionActive==item.index" src="/content/images/Arrow_up.png"><img class="status-icon" ng-click="accordionActive=item.index" ng-show="accordionActive!=item.index" src="/content/images/Arrow_down.png"></a>
                                    <div id="accordion2-item.index" class="accordion-section-content" ng-show="accordionActive==item.index">
                                        <div class="form-group">
                                            <div class="input-text-div">
                                                <input type="text" class="input-new" id="itemName" placeholder="Name" ng-model="item.name.value" maxlength="16">
                                            </div>
                                            <div class="text-decoration-div" >
                                                <input type='checkbox' ng-model="item.name.bold" name='bold'  class="checkboxBold" value='valuable' id="boldName{{tabName.position}}{{item.position}}"/><label for="boldName{{tabName.position}}{{item.position}}"></label>
                                                <input type='checkbox' ng-model="item.name.italic" name='italic'  class="checkboxItalic" value='valuable' id="italicName{{tabName.position}}{{item.position}}"/><label for="italicName{{tabName.position}}{{item.position}}"></label>
                                                <input type='checkbox' ng-model="item.name.underline" name='underline' class="checkboxUunderline" value='valuable' id="underlineName{{tabName.position}}{{item.position}}"/><label for="underlineName{{tabName.position}}{{item.position}}"></label>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-text-div">
                                                <input type="text" ng-model="item.image" class="input-new" id="urlOne" placeholder="url:\\" >
                                            </div>
                                            <div class="social-image-form-div" >
                                                <button  type="submit" ng-disabled="for2m.$invalid" ng-click="openCropDialog($parent.$index, item.position, 'image')" class="btn btn-primary main-btn upload-item-img">Upload</button>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-text-div">
                                                <input type="text" class="input-new" id="description" placeholder="Description" ng-model="item.description.value" maxlength="40">
                                            </div>
                                            <div class="text-decoration-div" >
                                                <input type='checkbox' ng-model="item.description.bold" name='bold' value='valuable' class="checkboxBold" id="boldDescription{{tabName.position}}{{item.position}}"/><label for="boldDescription{{tabName.position}}{{item.position}}"></label>
                                                <input type='checkbox' ng-model="item.description.italic" name='italic' value='valuable' class="checkboxItalic" id="italicDescription{{tabName.position}}{{item.position}}"/><label for="italicDescription{{tabName.position}}{{item.position}}"></label>
                                                <input type='checkbox' ng-model="item.description.underline" name='underline' value='valuable' class="checkboxUunderline" id="underlineDescription{{tabName.position}}{{item.position}}"/><label for="underlineDescription{{tabName.position}}{{item.position}}"></label>

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div style="width: 450px">
                                                <input type="text" class="input-new" id="description" placeholder="Link" ng-model="item.link">
                                            </div>
                                            <div class="text-decoration-div" >

                                            </div>
                                        </div>
                                        <br>
                                        <div style="width: 100%; text-align: right; padding-right: 5px">
                                            <button ng-show="isDeleteItem"  type="submit" ng-disabled="for2m.$invalid" ng-click="deleteItems(tabName.position,  item.index)"  class="btn btn-primary main-btn item-btn" style="width: 110px"> Delete item</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="add-item-btn">
                                    <button ng-show="tabName.items.length < 10"  type="submit" ng-disabled="for2m.$invalid" ng-click="addItems(tabName.position,  tabName.items.length)" class="btn btn-primary main-btn item-btn">Add item</button>
                                </div>
                                <div class="accordion-section">
                                    <a class="accordion-section-title" ng-class="{active:accordionActive==1}" ng-click="changeAccordionActivity(1)">Layout design <img class="status-icon" ng-show="accordionActive==1" ng-click="accordionActive=0" src="/content/images/Arrow_up.png"><img class="status-icon" ng-click="accordionActive=1" ng-show="accordionActive!=1" src="/content/images/Arrow_down.png"></a>
                                    <div id="accordion2-1" class="accordion-section-content" ng-show="accordionActive==1">
                                        <script>
                                            $(document).ready(function() {
                                                jscolor.installByClassName("jscolor");
                                            });
                                        </script>
                                        <div class="color-tnput-div">
                                            <label class="login-lable cardlet-label" style="margin-left: 0px;" for="mainColor{{tabName.name}}">Background colour</label>
                                            <label class="login-lable cardlet-label" style="margin-left: 205px;" for="secondaryColor{{tabName.name}}">Feature colour</label>
                                        </div>
                                        <div class="color-tnput-div">
                                            <input ng-model="tabName.layout.mainColor" name='mainColorr' value='mainColor' id="mainColor{{tabName.name}}" class="jscolor mainColor-input" value="FFFFFF">
                                            <input ng-model="tabName.layout.secondaryColor" name='secondaryColor' value='secondaryColor' id="mainColor{{tabName.name}}" class="jscolor secondaryColor-input" value="4BABE2">
                                        </div>
                                        <div ng-repeat="itemType in itemTypes" style="margin-bottom: 30px;position: relative; width: 540px;">
                                            <div ng-click="chooseType(tabName.position, itemType.path, itemType.id)" style="display: block!important" class="choose-tab" ng-class="tabNames.tabs[tabName.position].layout.tabId == itemType.id ? 'choose-tab-active' : ''">
                                            </div>

                                            <ng-include style="display: block!important" src="itemType.path" ></ng-include>
                                        </div>

                                    </div><!--end .accordion-section-content-->
                                </div><!--end .accordion-section-->
                            </div>

                            <div class="accordion" ng-show="tabName.tabType === 1">
                                <div class="accordion-section">
                                    <a class="accordion-section-title" ng-class="{active:accordion==1}" ng-click="accordionActivete(1)">
                                        <div class="accordion-section-text">Personal details<img class="status-icon" ng-show="accordion==1" ng-click="accordion = 0" src="/content/images/Arrow_up.png"><img ng-click="accordion=1" class="status-icon" ng-show="accordion!=1" src="/content/images/Arrow_down.png"></div>
                                        <div class=""></div>
                                    </a>
                                    <div id="accordion-1" class="accordion-section-content"  ng-show="accordion==1">
                                        <div class="form-group">

                                            <div class="input-text-div">
                                                <input type="text" class="input-new" id="userName" placeholder="Name" ng-model="tabName.userName.value" maxlength="20">
                                            </div>
                                            <div class="text-decoration-div" >
                                                <input type='checkbox' ng-model="tabName.userName.bold" name='bold' class="checkboxBold" value='valuable' id="bold{{tabName.position}}"/><label for="bold{{tabName.position}}"></label>
                                                <input type='checkbox' ng-model="tabName.userName.italic" name='italic' class="checkboxItalic" value='valuable' id="italic{{tabName.position}}"/><label for="italic{{tabName.position}}"></label>
                                                <input type='checkbox' ng-model="tabName.userName.underline" name='underline' class="checkboxUunderline" value='valuable' id="underline{{tabName.position}}"/><label for="underline{{tabName.position}}"></label>

                                            </div>
                                        </div>

                                        <div class="form-group">

                                            <div class="input-text-div">
                                                <input type="text" class="input-new" id="userName" placeholder="Job title" ng-model="tabName.job.value" maxlength="25">
                                            </div>
                                            <div class="text-decoration-div" >
                                                <input type='checkbox' ng-model="tabName.job.bold" name='bold' value='valuable' class="checkboxBold" id="boldJob{{tabName.position}}"/><label for="boldJob{{tabName.position}}"></label>
                                                <input type='checkbox' ng-model="tabName.job.italic" name='italic' value='valuable' class="checkboxItalic" id="italicJob{{tabName.position}}"/><label for="italicJob{{tabName.position}}"></label>
                                                <input type='checkbox' ng-model="tabName.job.underline" name='underline' value='valuable' class="checkboxUunderline" id="underlineJob{{tabName.position}}"/><label for="underlineJob{{tabName.position}}"></label>

                                            </div>
                                        </div>

                                        <div class="form-group">

                                            <div class="input-text-div">
                                                <input type="text" class="input-new" id="userName" placeholder="Phone number" ng-model="tabName.phone.value" maxlength="25">
                                            </div>
                                            <div class="text-decoration-div" >
                                                <input type='checkbox' ng-model="tabName.phone.bold" name='bold' value='valuable' class="checkboxBold" id="boldPhone{{tabName.position}}"/><label for="boldPhone{{tabName.position}}"></label>
                                                <input type='checkbox' ng-model="tabName.phone.italic" name='italic' value='valuable' class="checkboxItalic" id="italicPhone{{tabName.position}}"/><label for="italicPhone{{tabName.position}}"></label>
                                                <input type='checkbox' ng-model="tabName.phone.underline" name='underline' value='valuable' class="checkboxUunderline" id="underlinePhone{{tabName.position}}"/><label for="underlinePhone{{tabName.position}}"></label>

                                            </div>
                                        </div>

                                        <div class="form-group">

                                            <div class="input-text-div">
                                                <input type="email" class="input-new" id="userName" placeholder="E-mail" ng-model="tabName.userEmail.value" maxlength="25">
                                            </div>
                                            <div class="text-decoration-div" >
                                                <input type='checkbox' ng-model="tabName.userEmail.bold" name='boldEmail' value='valuableEmail' class="checkboxBold" id="boldEmail{{tabName.position}}"/><label for="boldEmail{{tabName.position}}"></label>
                                                <input type='checkbox' ng-model="tabName.userEmail.italic" name='italicEmail' value='italicEmail' class="checkboxItalic" id="italicEmail{{tabName.position}}"/><label for="italicEmail{{tabName.position}}"></label>
                                                <input type='checkbox' ng-model="tabName.userEmail.underline" name='underlineEmail' value='valuable' class="checkboxUunderline" id="underlineEmail{{tabName.position}}"/><label for="underlineEmail{{tabName.position}}"></label>

                                            </div>
                                        </div>

                                        <div class="form-group">

                                            <div class="input-text-div">
                                                <input type="text" class="input-new" id="userName" placeholder="Company site" ng-model="tabName.site.value" maxlength="25">
                                            </div>
                                            <div class="text-decoration-div" >
                                                <input type='checkbox' ng-model="tabName.site.bold" name='bold' value='valuable' class="checkboxBold" id="boldSite{{tabName.position}}"/><label for="boldSite{{tabName.position}}"></label>
                                                <input type='checkbox' ng-model="tabName.site.italic" name='italic' value='valuable' class="checkboxItalic" id="italicSite{{tabName.position}}"/><label for="italicSite{{tabName.position}}"></label>
                                                <input type='checkbox' ng-model="tabName.site.underline" name='underline' value='valuable' class="checkboxUunderline" id="underlineSite{{tabName.position}}"/><label for="underlineSite{{tabName.position}}"></label>

                                            </div>

                                        </div>


                                        <div class="form-group">

                                            <div class="input-text-div">
                                                <input type="text" class="input-new" id="userName" placeholder="Company Name" ng-model="tabName.company.value" maxlength="25">
                                            </div>
                                            <div class="text-decoration-div" >
                                                <input type='checkbox' ng-model="tabName.company.bold" name='bold' value='valuable' class="checkboxBold" id="boldCompany{{tabName.position}}"/><label for="boldCompany{{tabName.position}}"></label>
                                                <input type='checkbox' ng-model="tabName.company.italic" name='italic' value='valuable' class="checkboxItalic" id="italicCompany{{tabName.position}}"/><label for="italicCompany{{tabName.position}}"></label>
                                                <input type='checkbox' ng-model="tabName.company.underline" name='underline' value='valuable' class="checkboxUunderline" id="underlineCompany{{tabName.position}}"/><label for="underlineCompany{{tabName.position}}"></label>

                                            </div>
                                        </div>

                                        <div class="form-group">

                                            <div class="input-text-div">
                                                <input type="text" class="input-new" id="userName" placeholder="Address" ng-model="tabName.address.value" maxlength="45">
                                            </div>
                                            <div class="text-decoration-div" >
                                                <input type='checkbox' ng-model="tabName.address.bold" name='bold' value='valuable' class="checkboxBold" id="boldAddress{{tabName.position}}"/><label for="boldAddress{{tabName.position}}"></label>
                                                <input type='checkbox' ng-model="tabName.address.italic" name='italic' value='valuable' class="checkboxItalic" id="italicAddress{{tabName.position}}"/><label for="italicAddress{{tabName.position}}"></label>
                                                <input type='checkbox' ng-model="tabName.address.underline" name='underline' value='valuable' class="checkboxUunderline" id="underlineAddress{{tabName.position}}"/><label for="underlineAddress{{tabName.position}}"></label>

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-text-div">
                                                <input type="text" ng-model="tabName.photo" class="input-new input-padding" id="urlOne" placeholder="Choose image">
                                            </div>
                                            <div class="social-image-form-div" >
                                                <button  type="submit" ng-disabled="for2m.$invalid" ng-click="openCropDialog($index)" class="btn btn-primary main-btn upload-item-img">Upload</button>
                                            </div>
                                        </div>
                                    </div>

                                </div><!--end .accordion-section-->

                                <div class="accordion-section">
                                    <a class="accordion-section-title" ng-class="{active:accordion==2}" ng-click="accordionActivete(2)">Social links <img class="status-icon" ng-click="accordion=0" ng-show="accordion==2" src="/content/images/Arrow_up.png"><img class="status-icon" ng-click="accordion=2" ng-show="accordion!=2" src="/content/images/Arrow_down.png"></a>
                                    <div id="accordion-2" class="accordion-section-content"  ng-show="accordion==2">

                                        <div class="form-group">

                                            <div class="input-text-div">
                                                <input type="text" class="input-new" id="twitter" placeholder="Twitter" ng-model="tabName.socialLinks.twitter">
                                            </div>
                                            <div class="social-image-form-div" >
                                                <img ng-show="tabName.socialLinks.twitter" src="/content/images/new/twitter_hover.png">
                                                <img ng-show="!tabName.socialLinks.twitter" src="/content/images/new/twitter.png">
                                            </div>
                                        </div>
                                        <div class="form-group">

                                            <div class="input-text-div">
                                                <input type="text" class="input-new" id="facebook" placeholder="Facebook" ng-model="tabName.socialLinks.facebook">
                                            </div>
                                            <div class="social-image-form-div" >
                                                <img ng-show="tabName.socialLinks.facebook" src="/content/images/new/facebook_hover.png">
                                                <img ng-show="!tabName.socialLinks.facebook" src="/content/images/new/facebook.png">
                                            </div>
                                        </div>
                                        <div class="form-group">

                                            <div class="input-text-div">
                                                <input type="text" class="input-new" id="google" placeholder="Google" ng-model="tabName.socialLinks.google">
                                            </div>
                                            <div class="social-image-form-div" >
                                                <img ng-show="tabName.socialLinks.google" src="/content/images/new/facebook_hover.png">
                                                <img ng-show="!tabName.socialLinks.google" src="/content/images/new/facebook.png">
                                            </div>
                                        </div>
                                        <div class="form-group">

                                            <div class="input-text-div">
                                                <input type="text" class="input-new input-padding" id="linkedin" placeholder="Linkedin" ng-model="tabName.socialLinks.linkedin">
                                            </div>
                                            <div class="social-image-form-div" >
                                                <img ng-show="tabName.socialLinks.linkedin" src="/content/images/new/linkedin_hover.png">
                                                <img ng-show="!tabName.socialLinks.linkedin" src="/content/images/new/linkedin.png">
                                        </div>
                                        </div>

                                     </div><!--end .accordion-section-content-->
                                </div><!--end .accordion-section-->

                                <div class="accordion-section">
                                    <a class="accordion-section-title" ng-class="{active:accordion==3}" ng-click="accordionActivete(3)">Layout design <img class="status-icon" ng-show="accordion==3" ng-click="accordion = 0" src="/content/images/Arrow_up.png"><img class="status-icon" ng-click="accordion=3" ng-show="accordion!=3" src="/content/images/Arrow_down.png"></a>
                                    <div id="accordion-3" class="accordion-section-content" ng-show="accordion==3">
                                        <script>
                                            $(document).ready(function() {
                                                jscolor.installByClassName("jscolor");
                                            });
                                        </script>
                                        <div class="color-tnput-div">
                                            <label class="login-lable cardlet-label" style="margin-left: 0px;" for="mainColor{{tabName.name}}">Background colour</label>
                                            <label class="login-lable cardlet-label" style="margin-left: 205px;" for="secondaryColor{{tabName.name}}">Feature colour</label>
                                        </div>
                                        <div class="color-tnput-div">
                                            <input ng-model="tabName.layout.mainColor" type="text" name='mainColorr' value='mainColor' id="mainColor{{tabName.name}}" class="jscolor mainColor-input" value="FFFFFF">
                                            <input ng-model="tabName.layout.secondaryColor"  type="text" name='secondaryColor' value='secondaryColor' id="secondaryColor{{tabName.name}}" class="jscolor secondaryColor-input" value="4BABE2">
                                        </div>
                                        <div ng-repeat="tabType in tabTypes" style="margin-bottom: 30px;position: relative; width: 540px">
                                            <div ng-click="chooseType(tabName.position, tabType.path, tabType.id)" class="choose-tab" ng-class="tabNames.tabs[tabName.position].layout.tabId == tabType.id ? 'choose-tab-active' : ''"></div>
                                            <ng-include style="display: block!important" src="tabType.path" ></ng-include>
                                        </div>

                                    </div><!--end .accordion-section-content-->
                                </div><!--end .accordion-section-->
                            </div><!--end .accordion-->
                        </div>
                        <ng-include style="display: block!important" src="business.tabType.path" ></ng-include>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="second-column" style="width: 550px;">
                    <div>
                        <ul class="tab2">
                            <li style="background-color: #fff" class="tabs2" ng-style="addColors(tabName.position+tabName.name, tabName.layout.mainColor, tabName.layout.secondaryColor)" ng-repeat="tabName in tabNames.tabs" id="{{tabName.position}}{{tabName.name}}">
                                <div style="position: relative">
                                    <a href="javascript:void(0)" class="tablinks2" ng-click="openCity('settings'+tabName.name+tabName.position, 'tab'+tabName.position, tabName.name+tabName.position, tabName.position+tabName.name)">{{tabName.name}}</a>
                                </div>
                            </li>

                        </ul>
                    </div>

                    <div ng-repeat="tabName in tabNames.tabs " id="{{tabName.name}}{{tabName.position}}" class="tabcontent2" ng-class="business.pisition === 1 ? 'display' : 'none-display'">
                            <ng-include style="display: block!important" src="tabName.layout.url" ></ng-include>
                    </div>


                    <div style="margin-top: 30px;">
                        <ng-include src="'app/cardlets/cardNew.html'"></ng-include>
                    </div>


                    <div style="margin-top: 20px;">
                        <button class="saveButton" ng-click="saveCardlet()">save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>


        a.accordion-section-title.active{
            background-color: #FFFFFF!important;
        }
        .main:before {
            width:100%;
            height:100%;
            position:absolute;
            top:0px;
            left:0px;
            z-index:-1;
            content:'';
            background:-webkit-radial-gradient(30%, rgba(255,255,255,0.15), rgba(0,0,0,0)), url('img/body-bg.png');
            background:-moz-radial-gradient(30%, rgba(255,255,255,0.15), rgba(0,0,0,0)), url('img/body-bg.png');
            background:-o-radial-gradient(30%, rgba(255,255,255,0.15), rgba(0,0,0,0)), url('img/body-bg.png');
            background:radial-gradient(30%, rgba(255,255,255,0.15), rgba(0,0,0,0)), url('img/body-bg.png');
        }

        .site-header-wrap {
            margin-bottom:60px;
            border-bottom:1px solid #cd9ad6;
        }

        /*------------------------------------*\
        -------- DEMO Code: accordion
        \*------------------------------------*/
        /*----- Accordion -----*/
        .accordion, .accordion * {
            -webkit-box-sizing:border-box;
            -moz-box-sizing:border-box;
            box-sizing:border-box;
        }

        .accordion {
            overflow:hidden;
            box-shadow:0px 1px 3px rgba(0,0,0,0.25);
            border-radius:3px;
            background:#ffffff;
        }

        /*----- Section Titles -----*/
        .accordion-section-title {
            width: 100%;
            padding: 15px;
            padding-left: 30px;
            display: inline-block;
            border-top: 1px solid #E7E7E7;
            border-bottom: 1px solid #E7E7E7;
            background: #ffffff;
            font-size: 1.200em;
            color: #13BCB5;
            text-transform: uppercase;
            font-weight: bold;
        }

        .accordion-section-title.active, .accordion-section-title:hover {
            background:#ffffff;
            /* Type */
            text-decoration:none;
            color: #13BCB5;
        }

        .accordion-section:last-child .accordion-section-title {
            border-bottom:none;
        }

        /*----- Section Content -----*/
        .accordion-section-content {
            padding:15px;
            padding-left: 30px;
            padding-right: 30px;
        }

    </style>
</div>








