
<div class="modeal-custom-window" ng-show="showCropDialog">
    <div class="modal-dialog " style="margin-top: 0px; width:390px!important;">
        <div class="modal-content" uib-modal-transclude="">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        ng-click="closeCropDialog()">&times;</button>
            </div>
            <div  style="padding: 0px!important; text-align: center" class="modal-body">
                <div>
                    <link rel="stylesheet" type="text/css" href="/content/ng-img-crop.css">

                    <div class="fileUpload btn btn-primary choose-photo-btn">
                        <span>Choose photo</span>
                        <input type="file" id="fileInput" class="upload"  onchange="angular.element(this).scope().handleFileSelect(event)"/>
                    </div>
                </div>
                <div class="cropArea">
                    <img-crop image="myImage" result-image="myCroppedImage" ></img-crop>
                </div>
                <div class="crop-btn-div">
                    <button class="btn btn-primary main-btn" ng-click="saveImage()">save</button>
                </div>
            </div>
        </div>
    </div>
</div>
