<div ng-show="showSpinner" class="spinner-shadow"><div style="position:absolute;top:40%; left: 50%"><img src="/content/images/spinner.svg" style="margin-left: -88px;"></div></div>

<script>
    $(document).ready(function(){
        $("#default-navbar").removeClass("navbar-fixed-top");
        $("#main-footer").removeClass("ng-hide");
    });
    $(document).ready(function() {
        jscolor.installByClassName("jscolor");
    });
</script>
<div class="entiti-content" ng-init="getCardlet()">
    <div class="alert alert-danger cardlet-alert" ng-show="showError">
        <strong>Access denied</strong>
    </div>
    <div>
        <div class="row" style="margin: 0px">
            <div class="left-column-editor">
                <div class="left-column-editor-content">
                    <div class="edit-page-top-title">Edit page</div>
                    <div style="height: 47px;">
                        <ul class="editor-tab" >
                            <li class="editor-tabs" ng-class="vm.activeTab == '1' ? 'active' : ''">
                                <a ng-click="setActive(1)">Header</a>
                                <div class="cadlet-top-title-border editor-line"></div>
                            </li>
                            <li class="editor-tabs" ng-class="vm.activeTab == '2' ? 'active' : ''">
                                <a ng-click="setActive(2)">Background</a>
                                <div class="cadlet-top-title-border editor-line"></div>
                            </li>
                            <li class="editor-tabs" ng-class="vm.activeTab == '3' ? 'active' : ''">
                                <a ng-click="setActive(3)">Footer</a>
                                <div class="cadlet-top-title-border editor-line"></div>
                            </li>
                        </ul>
                    </div>
                    <div ng-if="vm.activeTab == '1'" class="editor-panel">
                        <div class="editor-div">
                            <label class="login-lable label-editor" for="color">CTA Button color</label>
                            <input ng-model="tabName.layout.mainColor" type="text" name='mainColorr' value='mainColor' id="color" class="jscolor mainColor-input" value="FFFFFF">
                        </div>
                        <div class="editor-div">
                            <label class="login-lable label-editor label-upload">Logo</label>
                            <button class="editor-upload-btn label-upload">Upload</button>
                        </div>
                        <div class="editor-div">
                            <label class="login-lable label-editor label-upload">Photo</label>
                            <button class="editor-upload-btn">Upload</button>
                        </div>
                        <div class="editor-div">
                            <input class="editor-input" type="text" placeholder="Name">
                        </div>
                        <div class="editor-div">
                            <input class="editor-input" type="text" placeholder="Title">
                        </div>
                        <div class="editor-div">
                            <input class="editor-input" type="text" placeholder="Сompany">
                        </div>
                        <div class="editor-div">
                            <input class="editor-input" type="text" placeholder="Phone">
                        </div>
                        <div class="editor-div">
                            <input class="editor-input" type="text" placeholder="Email">
                        </div>
                    </div>
                    <div ng-if="vm.activeTab == '2'" class="editor-panel">
                        <div class="editor-div">
                            <label class="login-lable label-editor label-upload">Background Image</label>
                            <button class="editor-upload-btn label-upload">Upload</button>
                        </div>
                        <div class="editor-div">
                            <label class="login-lable label-editor label-upload">Caption Text Color</label>
                        </div>
                        <div class="editor-div">
                            <input class="editor-input" type="text" placeholder="Caption Text">
                        </div>
                    </div>
                    <div ng-if="vm.activeTab == '3'" class="editor-panel">
                        <div class="editor-div">
                            <input class="editor-input" type="text" placeholder="Link 1">
                        </div>
                        <div class="editor-div">
                            <input class="editor-input" type="text" placeholder="Link 1 Name">
                        </div>
                        <div class="editor-div">
                            <label class="login-lable label-editor">Link 1 Logo</label>
                            <span class="image-size-descript">(Recomended size 10х10)</span>
                            <button class="editor-upload-btn">Upload</button>
                        </div>
                        <div class="editor-div">
                            <input class="editor-input" type="text" placeholder="Link 2">
                        </div>
                        <div class="editor-div">
                            <input class="editor-input" type="text" placeholder="Link 2 Name">
                        </div>
                        <div class="editor-div">
                            <label class="login-lable label-editor">Link 2 Logo</label>
                            <span class="image-size-descript">(Recomended size 10х10)</span>
                            <button class="editor-upload-btn">Upload</button>
                        </div>
                        <div class="editor-div">
                            <input class="editor-input" type="text" placeholder="Link 3">
                        </div>
                        <div class="editor-div">
                            <input class="editor-input" type="text" placeholder="Link 3 Name">
                        </div>
                        <div class="editor-div">
                            <label class="login-lable label-editor">Link 3 Logo</label>
                            <span class="image-size-descript">(Recomended size 10х10)</span>
                            <button class="editor-upload-btn">Upload</button>
                        </div>
                    </div>

                    <div class="saveButtonDiv">
                        <button class="saveButton saveButtonNew" ng-disabled="disableSaveBtn" ng-click="saveCardlet()">Save Sigterra Profile</button>
                    </div>
                </div>
            </div>
            <div class="right-column-editor">
            </div>
        </div>
    </div>
</div>







