<div ng-show="showSpinner" class="spinner-shadow"><div style="position:absolute;top:40%; left: 50%"><img src="/content/images/spinner.svg" style="margin-left: -88px;"></div></div>

<style>
    body{
        min-width: 850px;
    }

    .tabs a{
        color: #7F8C8C;
    }


    .remove{
        padding: 0px!important;
        position: absolute;
        background: #fff;
        color: #000!important;
        border-radius: 20px;
        width: 15px;
        height: 15px;
        top: -7px;
        right: -7px;
        text-transform: none;
        z-index: 10
    }

    ul.tab2 {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        width: 550px;
        padding-top: 10px;
    }
    .right.carousel-control,  .left.carousel-control {
        display: none;
    }
</style>


<script>
    $(document).ready(function(){
        $("#default-navbar").removeClass("navbar-fixed-top");
        $("#main-footer").removeClass("ng-hide");
    });
    $(document).ready(function() {
        jscolor.installByClassName("jscolor");
    });
</script>
<div class="entiti-content" ng-init="getCardlet()">
    <div class="alert alert-danger cardlet-alert" ng-show="showError">
        <strong>Access denied</strong>
    </div>

    <div class="view-editor-flex">
        <div class="view-editor-col">
            <div class="left-column-editor-content">
                <div class="editor-view-header">
                    <ul class="editor-tab" >
                        <li class="editor-tabs" ng-class="vm.activeTab == '1' ? 'active' : ''">
                            <a ng-click="setActive(1)">Header</a>
                        </li>
                        <li class="editor-tabs" ng-class="vm.activeTab == '2' ? 'active' : ''">
                            <a ng-click="setActive(2)">Banner</a>
                        </li>
                        <li class="editor-tabs" ng-class="vm.activeTab == '3' ? 'active' : ''">
                            <a ng-click="setActive(3)">Links</a>
                        </li>
                        <li class="editor-tabs" ng-class="vm.activeTab == '4' ? 'active' : ''">
                            <a ng-click="setActive(4)">Footer</a>
                        </li>
                    </ul>
                </div>
                <div ng-if="vm.activeTab == '1'" class="editor-panel">
                    <div class="editor-div editor-div-flex">
                        <label class="login-lable label-editor label-editor-logo">Company Logo</label>
                        <div>
                            <div class="editor-header-logo-div">

                            </div>
                            <div class="editor-limits">
                                (240 x 70 px recommended)
                            </div>
                        </div>
                    </div>
                    <div class="editor-div editor-div-flex">
                        <label class="login-lable label-editor label-editor-logo">Display Profile</label>
                        <div>
                            <div class="editor-header-avatar-div">

                            </div>
                            <div class="editor-limits">
                                (100 x 100 px recommended)
                            </div>
                        </div>
                    </div>
                    <div class="editor-div editor-div-flex">
                        <div>
                            <label class="login-lable label-editor label-editor-profile">Title (CTA)</label>
                        </div>
                        <div>
                            <div class="input-editor-flex no-margin">
                                <div class="small-editor-label">
                                    Name:
                                </div>
                                <div>
                                    <input class="editor-input" type="text">
                                </div>
                            </div>
                            <div class="input-editor-flex">
                                <div class="small-editor-label">
                                    Title:
                                </div>
                                <div>
                                    <input class="editor-input" type="text">
                                </div>
                            </div>
                            <div class="input-editor-flex">
                                <div class="small-editor-label">
                                    Email:
                                </div>
                                <div>
                                    <input class="editor-input" type="text">
                                </div>
                            </div>
                            <div class="input-editor-flex">
                                <div class="small-editor-label">
                                    Phone:
                                </div>
                                <div>
                                    <input class="editor-input" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="editor-div editor-div-flex">
                        <label class="login-lable label-editor label-editor-logo">Color (CTA)</label>
                        <div>
                            <input ng-model="secondaryColor"  type="text" name='secondaryColor' value='secondaryColor' id="secondaryColor" class="jscolor editor-color-input" value="4BABE2">
                        </div>
                    </div>
                </div>
                <div ng-if="vm.activeTab == '2'" class="editor-panel">
                    <div class="editor-div editor-div-flex">
                        <label class="login-lable label-editor label-editor-logo">Headline</label>
                        <div>
                            <textarea class="editor-textarea"></textarea>
                        </div>
                    </div>
                    <div class="editor-div editor-div-flex">
                        <label class="login-lable label-editor label-editor-logo">Font Color</label>
                        <div class="editor-div-flex">
                            <div class="editor-div-flex">
                                <input type="radio" name="selector" class="editor-radio">
                                <div class="radio-label">Black</div>
                            </div>
                            <div class="editor-div-flex margin-left-35">
                                <input type="radio" name="selector" class="editor-radio">
                                <div class="radio-label">White</div>
                            </div>

                        </div>
                    </div>
                    <div class="editor-div editor-div-flex">
                        <label class="login-lable label-editor label-editor-slide">Color Theme</label>
                        <div>
                            <div ng-carousel ng-carousel-name="example-carousel1" ng-carousel-watch="slides">
                                <slidecontainer>
                                    <slide ng-repeat="slide in vm.bgSlides">
                                        <div class="slide-content">{{slide}}</div>
                                    </slide>

                                </slidecontainer>
                                <div class="carousel-arrow carousel-arrow-left">
                                    <button class="demo-nav" ng-click="Carousel.get('example-carousel1').previous()">b</button>
                                </div>
                                <div class="carousel-arrow carousel-arrow-right">
                                    <button class="demo-nav" ng-click="Carousel.get('example-carousel1').next()">f</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="editor-div editor-div-flex">
                        <label class="login-lable label-editor label-editor-logo">Current Theme</label>
                        <div>
                            <div class="theme-div"></div>
                        </div>
                    </div>
                </div>
                <div ng-if="vm.activeTab == '3'" class="editor-panel">
                    <div class="editor-div">
                        <input class="editor-input" type="text" placeholder="Link 1">
                    </div>
                    <div class="editor-div">
                        <input class="editor-input" type="text" placeholder="Link 1 Name">
                    </div>
                    <div class="editor-div">
                        <label class="login-lable label-editor">Link 1 Logo</label>
                        <span class="image-size-descript">(Recomended size 10х10)</span>
                        <button class="editor-upload-btn">Upload</button>
                    </div>
                    <div class="editor-div">
                        <input class="editor-input" type="text" placeholder="Link 2">
                    </div>
                    <div class="editor-div">
                        <input class="editor-input" type="text" placeholder="Link 2 Name">
                    </div>
                    <div class="editor-div">
                        <label class="login-lable label-editor">Link 2 Logo</label>
                        <span class="image-size-descript">(Recomended size 10х10)</span>
                        <button class="editor-upload-btn">Upload</button>
                    </div>
                    <div class="editor-div">
                        <input class="editor-input" type="text" placeholder="Link 3">
                    </div>
                    <div class="editor-div">
                        <input class="editor-input" type="text" placeholder="Link 3 Name">
                    </div>
                    <div class="editor-div">
                        <label class="login-lable label-editor">Link 3 Logo</label>
                        <span class="image-size-descript">(Recomended size 10х10)</span>
                        <button class="editor-upload-btn">Upload</button>
                    </div>
                </div>
                <div ng-if="vm.activeTab == '4'" class="editor-panel">
                    <div class="editor-div editor-div-flex">
                        <label class="login-lable label-editor label-editor-logo">Footer Title</label>
                        <div>
                            <input class="editor-input" type="text">
                        </div>
                    </div>
                    <div class="editor-div-flex editor-url">
                        <div class="login-lable label-editor label-editor-logo editor-div-flex">
                            <div class="editor-url-icon">
                                <img src="/content/images/editor/fb-icon.png">
                            </div>
                            <div>(URL)</div>
                        </div>
                        <div>
                            <input class="editor-input" type="text">
                        </div>
                    </div>
                    <div class="editor-div-flex editor-url">
                        <div class="login-lable label-editor label-editor-logo editor-div-flex">
                            <div class="editor-url-icon">
                                <img src="/content/images/editor/twitter-icon.png">
                            </div>
                            <div>(URL)</div>
                        </div>
                        <div>
                            <input class="editor-input" type="text">
                        </div>
                    </div>
                    <div class="editor-div-flex editor-url">
                        <div class="login-lable label-editor label-editor-logo editor-div-flex">
                            <div class="editor-url-icon">
                                <img src="/content/images/editor/in-icon.png">
                            </div>
                            <div>(URL)</div>

                        </div>
                        <div>
                            <input class="editor-input" type="text">
                        </div>
                    </div>
                </div>

                <div class="saveButtonDiv">
                    <button class="saveButton saveButtonNew" ng-disabled="disableSaveBtn" ng-click="saveCardlet()">Save Sigterra Profile</button>
                </div>
            </div>
        </div>
        <div class="view-editor-col">
            <div class="second-column-editor">
                <div class="editor-preview-panel"  ng-style="{'background': 'url(' + vm.bg + ') no-repeat center center fixed', 'background-size': 'cover'}">
                    <div class="editor-preview-header" id="editor-preview-header">
                        <div class="editor-preview-header-flex">
                            <div>
                                <a href="#">
                                    <img  alt="Brand" src="https://cdn.shopify.com/s/files/1/1081/0328/files/logo-cap.svg?12226597222098781749">
                                </a>
                            </div>
                            <div>
                                <div>
                                    <div class="col-md-2 circle" >
                                        <img class="image "  src="">
                                    </div>
                                    <div class="col-md-6 alignme ">
                                        <span class="bold"><strong>Harshad Apte</strong></span>
                                        <br>
                                        <span class="small text-light">Social Media Stream Lead</span>
                                        <br>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <span class="small  fa fa-envelope"></span><span class="text-light">Harshad.apte@capgemini.com</span>
                                    <br>
                                    <span class="small fa fa-phone"> </span><span class="text-light">(+91) 959-045-6473</span>
                                </div>
                            </div>
                            <div>
                                <button class="btn-warning bnt-edit-preview">Connect With Our Experts</button>
                            </div>
                        </div>
                    </div>
                    <div id="editor-preview-body" style="min-height: 470px; margin: 0 auto; width: 538px">
                        <div class="editor-preview-title">
                            Conversational Commerce is the biggest opportunity for brands to act like people in digital channels & build customer engagement and loyalty.
                        </div>
                        <div>
                            <ul class="tab2">
                                <li class="tabs2" ng-style="addColors('card'+tabName.position+tabName.name, tabName.layout.mainColor, tabName.layout.secondaryColor, 'tabLink2'+tabName.position)" ng-repeat="tabName in tabNames.tabs" id="card{{tabName.position}}{{tabName.name}}">
                                    <div style="position: relative;display: table; width: 100%;">
                                        <a style="overflow: hidden; text-overflow: ellipsis;" href="javascript:void(0)"  ng-class="{disabledLink: !isEmptyName()}" id="tabLink2{{tabName.position}}" class="tablinks2" ng-click="openCity('settings'+tabName.name+tabName.position, tabName.position, tabName.name+tabName.position, 'card'+tabName.position+tabName.name)">{{tabName.name}}</a>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div ng-repeat="tabName in tabNames.tabs " id="{{tabName.name}}{{tabName.position}}" class="tabcontent2 tabcontent-editor" ng-class="tabName.position == 0 ? 'display' : 'none-display'">
                            <div class="custom-slide-prev slide-prev-editor" ng-show="vm.tabType != 1 && tabName.items.length > 1">
                                <span class="glyphicon glyphicon-chevron-left chevron-editor" ng-click="prevSlide($index)"></span>
                            </div>
                            <ng-include style="display: block!important" src="tabName.layout.url" ></ng-include>
                            <div class="custom-slide-next slide-next-editor" ng-show="vm.tabType != 1 && tabName.items.length > 1">
                                <span class="glyphicon glyphicon-chevron-right chevron-editor" ng-click="nextSlide($index)"></span>
                            </div>
                            <div class="arrow-link">
                                <a class="fa fa-arrow-down hidden-sm hidden-md" href="" ng-click="scrollToFooter('capture')" target="_self"></a>
                            </div>
                        </div>

                    </div>
                    <div id="editor-preview-footer">
                        <section class="service-info-sec">
                            <h4 class="text-center" id="capture">CapGemini's Experts are standing by</h4>
                            <br>
                            <div class="service-info-editor service-info-min-height" >
                                <div class="col-sm-4 img-with-text">
                                    <img class="click-sec" src="https://cdn.shopify.com/s/files/1/1081/0328/files/Icon02.png?17535346864100737432" border="0" alt="Carl Call"  />
                                    <p class="click-sec-text-editor">
                                        <a class="preview-footer-link" href="#myModalNorm" data-toggle="modal">Request Info</a>
                                    </p>
                                    <br />
                                </div>
                                <div class="col-sm-4  img-with-text">
                                    <img class="click-sec" src="https://cdn.shopify.com/s/files/1/1081/0328/files/Icon01.png?17535346864100737432" border="0" alt="Sjon Gentry"  />
                                    <p class="click-sec-text-editor">
                                        <a class="preview-footer-link" href="#myModalNorm1" data-toggle="modal">Schedule a Deep Dive</a>
                                    </p>
                                    <br />
                                </div>
                                <div class="col-sm-4  img-with-text">
                                    <img class="click-sec" src="https://cdn.shopify.com/s/files/1/1081/0328/files/icon3.png?12339313325764754835" border="0" alt="John Mabery" />
                                    <p class="click-sec-text-editor">
                                        <a class="preview-footer-link" href="#myModalNorm" data-toggle="modal">Connect with our Experts</a>
                                    </p>
                                    <br />
                                </div>

                            </div>
                        </section>
                        <div class="footer-bottom-editor">
                            <div>
                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                        <div class="copyright-text">
                                            CopyRight © 2018 Digital All Rights Reserved
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
