


<div class="registration-div">
    <div class="register-head"></div>
    <div class="row">
        <div class="register-container">
            <div class="main-head-text">Reset password</div>
            <div class="alert alert-danger static" ng-show="vm.keyMissing">
                <strong>The password reset key is missing.</strong>
            </div>

            <div class="alert alert-danger static" ng-show="vm.error">
                <p>Your password couldn't be reset. Remember a password request is only valid for 24 hours.</p>
            </div>

            <div class="alert alert-success static" ng-show="vm.success">
                <p><strong>Your password has been reset.</strong> Please <a class="alert-link activate-alert-link" href="" ng-click="vm.login()">sign in</a>.</p>
            </div>

            <div class="alert alert-danger static" ng-show="vm.doNotMatch">
                The password and its confirmation do not match!
            </div>
            <div ng-show="!vm.success" style="color: #7F8C8C; font-size: 13px; text-align: center;padding-bottom: 45px">Choose a new password</div>

            <div ng-hide="vm.keyMissing">
                <form ng-show="!vm.success" name="form" role="form" novalidate ng-submit="vm.finishReset()" show-validation>
                    <div class="form-group form-group-new">
                        <input type="password" class="profile-input" id="password" name="password" placeholder="New password"
                               ng-model="vm.resetAccount.password" ng-minlength=4 ng-maxlength=50 required>
                        <label for="password" class="custom-placeholder" ng-hide="vm.resetAccount.password || form.password.$error.minlength || form.password.$error.maxlength">New password</label>
                        <div ng-show="form.password.$dirty && form.password.$invalid">
                            <p class="help-block"
                               ng-show="form.password.$error.required">
                                Your password is required.
                            </p>
                            <p class="help-block"
                               ng-show="form.password.$error.minlength">
                                Your password is required to be at least 4 characters.
                            </p>
                            <p class="help-block"
                               ng-show="form.password.$error.maxlength">
                                Your password cannot be longer than 50 characters.
                            </p>
                        </div>
                        <password-strength-bar password-to-check="vm.resetAccount.password"></password-strength-bar>
                    </div>

                    <div class="form-group form-group-new">
                        <input type="password" class="profile-input" id="confirmPassword" name="confirmPassword" placeholder="Confirm the new password"
                               ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 pw-check='password' required>
                        <label for="confirmPassword" class="custom-placeholder" ng-hide="vm.confirmPassword || form.confirmPassword.$error.minlength || form.confirmPassword.$error.maxlength">Confirm the new password</label>
                        <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                            <p class="help-block"
                               ng-show="form.confirmPassword.$error.required">
                                Your password confirmation is required.
                            </p>
                            <p class="help-block"
                               ng-show="form.confirmPassword.$error.minlength">
                                Your password confirmation is required to be at least 4 characters.
                            </p>
                            <p class="help-block"
                               ng-show="form.confirmPassword.$error.maxlength">
                                Your password confirmation cannot be longer than 50 characters.
                            </p>
                            <p class="help-block"
                               ng-show="form.confirmPassword.$error.pwmatch">
                                Passwords don't match.
                            </p>
                        </div>
                    </div>
                    <button type="submit" ng-disabled="form.$invalid" class="loginButton">Reset Password</button>
                </form>
            </div>

        </div>
    </div>
    <div style="color: #7F8C8C; font-size: 13px; text-align: center; padding-top: 20px; padding-bottom: 45px">
    </div>
</div>
