<div class="entiti-content">
    <h2>Item Data</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="item-data.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Item Data
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span>Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span>Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdDate"><span>Created Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="modifiedDate"><span>Modified Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="firstImage"><span>First Image</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="secondImage"><span>Second Image</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="thirdImage"><span>Third Image</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="item.id"><span>Item</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="itemData in vm.itemData track by itemData.id">
                    <td><a ui-sref="item-data-detail({id:itemData.id})">{{itemData.id}}</a></td>
                    <td>{{itemData.title}}</td>
                    <td>{{itemData.description}}</td>
                        <td>{{itemData.createdDate | date:'mediumDate'}}</td>
                        <td>{{itemData.modifiedDate | date:'mediumDate'}}</td>
                    <td>{{itemData.firstImage}}</td>
                    <td>{{itemData.secondImage}}</td>
                    <td>{{itemData.thirdImage}}</td>
                    <td>
                        <a ui-sref="item-detail({id:itemData.item.id})">{{itemData.item.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="item-data-detail({id:itemData.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="item-data.edit({id:itemData.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="item-data.delete({id:itemData.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
