<!--<div ng-show="showBannerDialog" class="image-popup">-->
    <!--<div class="row image-dialog2" style="margin-right: 30%;">-->
        <!--<button type="button" class="close login-close-gray" ng-click="closeDialog()">×</button>-->
        <!--<div class="crop-dialog-header">Upload banner</div>-->
        <!--<div class="image-dialog-crop-panel">-->

            <!--<div>-->
                <!--<div class="fileUpload btn btn-primary choose-photo-btn">-->
                    <!--<span>Choose photo</span>-->
                    <!--<input type="file" id="fileInput" class="upload" onchange="angular.element(this).scope().handleFileSelect(event)" />-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="cropArea">-->
                <!--<img-crop image="myImage" result-image="myCroppedImage" ></img-crop>-->
            <!--</div>-->
            <!--<div class="crop-btn-div">-->
                <!--<button class="btn btn-primary main-btn" ng-click="vm.saveImage()">save</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="modeal-custom-window" ng-show="isAddIcons">
    <div class="modal-dialog " style="margin-top: -100px; width: 1130px!important;">
        <div class="modal-content" uib-modal-transclude="">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        ng-click="closeDialog()">&times;</button>
              <div class="signature-title">Add icons</div>
            </div>
            <div  style=" padding: 0px!important;" class="modal-body">
                <div >
                    <div class="row" style="margin-left: 15px;margin-right: 15px;">

                        <div class="selectSignature selectSogmatureCol">
                            <div class="modal-signature-panel">
                                <div style="margin-top: -30px;" id="secondSignature">
                                    <ng-include src="'/app/entities/user-cardlets/userSigmature2.html'"></ng-include>
                                </div>
                            </div>
                        </div>
                        <div class="selectSogmatureCol" style="width: 450px">
                            <div ng-repeat="tabName in userCardlets[segnatureId].tabs">
                                <div class="form-group" >
                                    <div class="input-text-div">
                                        <input type="text" ng-model="tabName.sigImage" class="form-control profile-input" id="urlOne" placeholder="" >
                                    </div>
                                    <div class="social-image-form-div"  style="padding: 0px;width: 100%;text-align: right;margin-top: 10px;margin-bottom: 20px;">
                                        <button  type="submit" ng-disabled="for2m.$invalid" style="padding: 0px" ng-click="showCropTabs($index)" class="btn btn-primary main-btn upload-item-img">Upload</button>
                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>
                    <div class="select-btn-div" style="padding-bottom: 30px;">
                        <button type="submit" data-clipboard-text="{{cardletLink}}" ngclipboard data-clipboard-text="{{cardletLink}}"class="saveButton"  ng-click="selectSignature(4)">
                            Next
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
