<script src="/app/entities/cardlet-list/jscolor.js"></script>
<script src="http://files.codepedia.info/uploads/iScripts/html2canvas.js"></script>
<!--<div ng-show="showBannerDialog" class="image-popup">-->
<!--<div class="row image-dialog2" style="margin-right: 30%;">-->
<!--<button type="button" class="close login-close-gray" ng-click="closeDialog()">×</button>-->
<!--<div class="crop-dialog-header">Upload banner</div>-->
<!--<div class="image-dialog-crop-panel">-->

<!--<div>-->
<!--<div class="fileUpload btn btn-primary choose-photo-btn">-->
<!--<span>Choose photo</span>-->
<!--<input type="file" id="fileInput" class="upload" onchange="angular.element(this).scope().handleFileSelect(event)" />-->
<!--</div>-->
<!--</div>-->
<!--<div class="cropArea">-->
<!--<img-crop image="myImage" result-image="myCroppedImage" ></img-crop>-->
<!--</div>-->
<!--<div class="crop-btn-div">-->
<!--<button class="btn btn-primary main-btn" ng-click="vm.saveImage()">save</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<div ng-show="showSpinner" class="spinner-shadow"><img src="/content/images/spinner.gif" style="position:absolute;top:40%"></div>
<div class="modeal-custom-window" ng-show="isCopyTiEmail"></div>
<div class="modeal-custom-window" ng-show="isCopyTiEmail" style="position: absolute; background-color: rgba(0, 0, 0, 0);;">
    <div class="modal-dialog " style="margin-top: -100px; width: 1130px!important;">
        <div class="modal-content" uib-modal-transclude="">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        ng-click="closeDialog()">&times;</button>
            </div>
            <div  style=" padding: 0px!important;" class="modal-body">
                <div class="copy-to-email-top">
                    <div class="signature-title">Add banner to your signature</div>
                    <div class="form-group" style="margin-left: 250px;">
                        <div class="input-text-div">
                            <input type="text" ng-model="banner" class="form-control profile-input" id="urlOne" placeholder="" ng-model="item.urlOne">
                        </div>
                        <div class="social-image-form-div"  style="padding: 0px; padding-left: 30px">
                            <div class="fileUpload btn btn-primary upload-banner-img choose-photo-btn" style="margin: 0px;">
                                <span>Upload</span>
                                <input type="file" id="fileInput" class="upload"  onchange="angular.element(this).scope().fileSelected(event)"/>
                            </div>

                        </div>
                    </div>
                    <div style="margin-top: 100px;">
                        <img style="width: 300px" src="{{banner}}">

                    </div>
                    <div style="margin-top: 20px;">
                        <button type="submit" data-clipboard-text="{{cardletLink}}" ngclipboard data-clipboard-text="{{cardletLink}}"class="saveButton" ng-click="addBanner()">
                            Add to signature
                        </button>
                    </div>
                    <!--<img class="image-cropped" ng-show="showCroppedImage"  ng-src="{{myCroppedImage}}" />-->
                    <!--<img ng-show="!showCroppedImage" class="image-cropped" src="/content/images/default_photo_image@2x.png" /></div>-->
                </div>
                <div class="copy-to-email-bottom" style="height: 400px; overflow:auto">
                    <div class="row" style="margin-left: 15px;margin-right: 15px;">
                        <div class="selectSignature">
                            <div class="modal-signature-panel">
                                <div class="signature-text-sample">Kind regards,</div>
                                <div class="modal-signature-panel-shadow"></div>
                                <div style="margin-left: -75px; margin-top: -30px;">
                                    <div  style="transform: scale(0.59);">
                                        <a href="signatureLink"><div id="previewImage"></div></a>
                                        <img ng-show="isAddBanner" style="width: 540px" src="{{banner}}">
                                    </div>

                                    <!--<input id="btn-Preview-Image" type="button" value="Preview" ng-click="testimg()"/>-->
                                    <!--<a id="btn-Convert-Html2Image" href="#" ng-click="testimg2()">Download</a>-->
                                    <!--<br/>-->
                                    <!--<h3>Preview :</h3>-->
                                    <!--<div id="previewImage">-->
                                    <!--</div>-->
                                </div>
                            </div>
                            <div class="select-btn-div" style="margin-top: 30px;">
                                <button type="submit" data-clipboard-text="{{cardletLink}}" ngclipboard data-clipboard-text="{{cardletLink}}"class="saveButton" ng-click="selectSignature(1)">
                                    Select
                                </button>
                            </div>
                        </div>
                        <div class="selectSignature">
                            <div class="modal-signature-panel">
                                <div class="signature-text-sample">Kind regards,</div>
                                <div class="modal-signature-panel-shadow"></div>
                                <div style="margin-top: -30px;" id="secondSignature">
                                    <ng-include src="'/app/entities/user-cardlets/userSigmature2.html'"></ng-include>
                                </div>
                            </div>
                            <div class="select-btn-div">
                                <button type="submit" data-clipboard-text="{{cardletLink}}" ngclipboard data-clipboard-text="{{cardletLink}}"class="saveButton"  ng-click="selectSignature(2)">
                                    Select
                                </button>
                            </div>
                        </div>
                        <div class="selectSignature">
                            <div class="modal-signature-panel">
                                <div class="signature-text-sample">Kind regards,</div>
                                <div class="modal-signature-panel-shadow"></div>
                                <div style=" margin-top: -30px;" id="thirdSignature">
                                    <ng-include src="'/app/entities/user-cardlets/userSigmature3.html'"></ng-include>
                                </div>
                            </div>
                            <div class="select-btn-div">
                                <button type="submit" data-clipboard-text="{{cardletLink}}" ngclipboard data-clipboard-text="{{cardletLink}}"class="saveButton"  ng-click="selectSignature(3)">
                                    Select
                                </button>
                            </div>
                            <img src="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<ng-include ng-show="isShowMailClientWindow" src="'/app/entities/user-cardlets/emailClientDialog.html'"></ng-include>
<div class="modeal-custom-window" ng-show="isAddIcons">
    <div class="modal-dialog " style="margin-top: -100px; width: 1130px!important;">
        <div class="modal-content" uib-modal-transclude="">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        ng-click="closeDialog()">&times;</button>
                <div class="signature-title">Add icons</div>
            </div>
            <div  style=" padding: 0px!important;" class="modal-body">
                <div >
                    <div class="row" style="margin-left: 15px;margin-right: 15px;">

                        <div class="selectSignature selectSogmatureCol">
                            <div class="modal-signature-panel">
                                <div style="margin-top: -30px;" id="secondSignaturePreview">
                                    <ng-include src="'/app/entities/user-cardlets/userSigmature2.html'"></ng-include>
                                </div>
                            </div>
                        </div>
                        <div class="selectSogmatureCol" style="width: 450px">
                            <div ng-repeat="tabName in userCardlets[segnatureId].tabs">
                                <div class="form-group" >
                                    <div class="input-text-div">
                                        <input type="text" ng-model="tabName.sigImage" class="form-control profile-input" id="urlOne" placeholder="" >
                                    </div>
                                    <div class="social-image-form-div"  style="padding: 0px;width: 100%;text-align: right;margin-top: 10px;margin-bottom: 20px;">
                                        <button  type="submit" ng-disabled="for2m.$invalid" style="padding: 0px" ng-click="showCropTabs($index)" class="btn btn-primary main-btn upload-item-img">Upload</button>
                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>
                    <div class="select-btn-div" style="padding-bottom: 30px;">
                        <button type="submit" data-clipboard-text="{{cardletLink}}" ngclipboard data-clipboard-text="{{cardletLink}}"class="saveButton"  ng-click="selectSignature(4)">
                            Next
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-include ng-show="showDelteCardletDialog" src="'/app/entities/user-cardlets/deleteCardletDialog.html'"></ng-include>

<div class="modeal-custom-window" ng-show="showCropDialog">
    <div class="modal-dialog " style="margin-top: 0px; width:390px!important;">
        <div class="modal-content" uib-modal-transclude="">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        ng-click="closeCropDialog()">&times;</button>
            </div>
            <div  style="padding: 0px!important; text-align: center" class="modal-body">
                <div>
                    <link rel="stylesheet" type="text/css" href="../../ng-img-crop.css">

                    <div class="fileUpload btn btn-primary choose-photo-btn">
                        <span>Choose photo</span>
                        <input type="file" id="fileInput" class="upload"  onchange="angular.element(this).scope().handleFileSelect(event)"/>
                    </div>
                </div>
                <div class="cropArea">
                    <img-crop image="myImage" result-image="banner" area-type="square"></img-crop>
                </div>
                <div class="crop-btn-div">
                    <button class="btn btn-primary main-btn" ng-click="saveBanner()">save</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modeal-custom-window" ng-show="showCropDialogTabs">
    <div class="modal-dialog " style="margin-top: 0px; width:390px!important;">
        <div class="modal-content" uib-modal-transclude="">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        ng-click="closeCropDialog()">&times;</button>
            </div>
            <div  style="padding: 0px!important; text-align: center" class="modal-body">
                <div>
                    <link rel="stylesheet" type="text/css" href="../../ng-img-crop.css">

                    <div class="fileUpload btn btn-primary choose-photo-btn">
                        <span>Choose photo</span>
                        <input type="file" id="fileInput" class="upload"  onchange="angular.element(this).scope().handleFileSelect2(event)"/>
                    </div>
                </div>
                <div class="cropArea">
                    <img-crop image="myImage2" result-image="tabsImage"></img-crop>
                </div>
                <div class="crop-btn-div">
                    <button class="btn btn-primary main-btn" ng-click="saveTabsImage()">save</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modeal-custom-window" ng-show="isShowModal">
    <div class="modal-dialog "><div class="modal-content" uib-modal-transclude="">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                    ng-click="closeDialog()">&times;</button>
            <h4 class="modal-title" id="myUserLabel">
                Copy to web-browser</h4>
        </div>
        <div class="modal-body">
            <div class="copy-to-web-div">
                <textarea id="copyedText" style="width: 100%; height: 100px" ng-model="cardletLink"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="saveButton back-btn" data-dismiss="modal" ng-click="closeDialog()">
                Back to Portfolio
            </button>

            <button type="submit" style="float: right;" data-clipboard-text="{{cardletLink}}" ngclipboard data-clipboard-text="{{cardletLink}}"class="saveButton">
                Copy to Clipboard
            </button>
        </div>
    </div>
    </div>
</div>
<div class="add-new-header">
    <div class="add-new-header-text">
        Have you been prospecting for months on end, only to end up with no one? Or have you been trying to sell a product or service that has not been selling? Or you just kind of depressed about your current employment?
    </div>
    <div style="position: relative">
        <div class="border-line-new-header"></div>
        <div class="add-new-btn">
            <button class="saveButton" ui-sref="cardletlist">Create new</button>
            <button class="saveButton" ng-show="showImpersonate === 'true'" ng-click="impersonate()" style="margin-top: 10px">Logout</button>
        </div>
    </div>
</div>
<div class="entiti-content">
<style>

    .modal-content{
        margin-top: 100px;
    }

    .copy-to-web-div{
        text-align: center;
        width: 100%;
    }

    .modal-title{
        text-transform: uppercase;
    }

    .modal-header{
        text-align: center;
    }

    .modal-footer{
        text-align: left!important;
        background-color: #e7e7e7;
        padding: 10px 10% 30px 10%!important;
    }
    .modal-body{
        background-color: #e7e7e7;
        padding: 30px 10%!important;

    }



    .add-new-header{
        position: relative;
        height: 200px;
        background-color: #fff;
        text-align: center;
        padding-top: 40px;
        font-size: 14px;
        color: #4A4A4A;
    }

    .user-cardlets-footer{
        height: 250px;
        background-color: #fff;
        text-align: center;
        padding-top: 40px;
        font-size: 14px;
        color: #4A4A4A;
        position: relative;
    }

    .add-new-header-text{
        padding-right: 10%;
        padding-left: 10%;
        width: 100%;
    }

    .cardlet-name-panel{
        margin-bottom: 30px;
    }

    .cadletName{
        border-width: 0px;
        border-bottom-width: 1px;
        border-style: solid;
        border-color: #18C6B7;
        width: 300px;
        padding-bottom: 10px;
        font-size:15px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .user-cardlet-panel{
        min-width: 600px;
        padding-top: 50px;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 50px;
        background-color: #F9F9F9;
        box-shadow: none;
    }
    @media (min-width: 1200px) {
        .user-cardlet-panel {
            min-width: 600px;
            padding-top: 50px;
            padding-left: 5%;
            padding-right: 5%;
            padding-bottom: 50px;
            background-color: #F9F9F9;
            box-shadow: none;
        }
    }
    @media (min-width: 1300px) {
        .user-cardlet-panel {
            min-width: 600px;
            padding-top: 50px;
            padding-left: 8%;
            padding-right: 8%;
            padding-bottom: 50px;
            background-color: #F9F9F9;
            box-shadow: none;
        }
    }

    ul.tab {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #FFF;
        width: 620px;
    }

    /* Float the list items side by side */
    ul.tab li {
        width: 150px;
        float: left;
        background: #FFFFFF;
        border-width: 1px;
        border-style: solid;
        border-color: #D0D8D9;
        margin-right: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: none;
        color: #7F8C8C!important;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    }

    /* Style the links inside the list items */
    ul.tab li a {
        display: inline-block;
        text-align: center;
        padding: 10px 16px;
        text-decoration: none;
        transition: 0.3s;
        font-size: 17px;


    }

    /* Change background color of links on hover */
    ul.tab li a:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */

    .tabs a{
        color: #7F8C8C;
    }


    .remove{
        padding: 0px!important;
        position: absolute;
        background: #fff;
        color: #000!important;
        border-radius: 20px;
        width: 15px;
        height: 15px;
        top: -7px;
        right: -7px;
        text-transform: none;
    }

    ul.tab{
        padding-top: 10px;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 0px;
        border: 1px solid #ccc;
        width: 620px;
        background-color: #F9F9F9;
        margin-top: 45px;
    }


    /* Style the tab content */
    .tabcontent2 {
        display: none;
        border: 1px solid #ccc;
        width: 540px;
        background-color: #F9F9F9;
    }


    .tabs2 a{
        color: #7F8C8C;
    }

    .active a{
        color: #FFFFFF;
    }

    ul.tab2 {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        width: 550px;
    }

    /* Float the list items side by side */
    ul.tab2 li {
        width: 131px;
        float: left;
        background: #FFFFFF;
        border-width: 1px;
        border-style: solid;
        border-color: #D0D8D9;
        margin-right: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: none;
        color: #7F8C8C!important;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    }

    /* Style the links inside the list items */
    ul.tab2 li a {
        display: inline-block;
        text-align: center;
        padding: 10px 16px;
        text-decoration: none;
        transition: 0.3s;
        font-size: 17px;


    }

    /* Change background color of links on hover */
    ul.tab2 li a:hover {
        background-color: #ddd;
    }

    .display{
        display: block;
    }
    .none-display{
        display: none;
    }

    .cardlet-label{
        font-size: 11px;
    }

    .input-text-div{
        float:left;
        width: 450px
    }

    .text-decoration-div{
        float: left;
        width: 130px;
        text-align: right;
        padding-top: 25px;
    }

    .social-image-form-div{
        float: left;
        width: 130px;
        padding-top: 25px;
        padding-left: 25px;
    }

    ul.tab li.active {
        background: #18C6B7;
    }

    .dropdown-tab{
        border:none!important;
        width: 100%!important;
        background-color: #FAFAFA!important;
    }
    .cardlet-dropdown{
        background-color: #FAFAFA!important;
    }

    .add-item-btn{
        margin: 10px;
    }

    .delete-item-btn{
        background: none!important;
        border: none!important;
        color: #18C6B7!important;
        text-decoration: underline;
    }

     input:focus{
        outline: none;
    }

    ul[dnd-list], ul[dnd-list] > li {
        position: relative;
    }

    .dndPlaceholder{
        display: inline-block;
        position: relative;
        background-color: #ddd;
        width: 150px;
        min-height:44px;
        margin: 0;
        padding: 0;
    }

    .cardlet-panel{
        width: 562px;
        padding: 10px;
        margin: auto;
        background-color: #ECECEC;
        border-radius: 5px;
    }

    .cardlet-name{
        height: 60px;
        font-size: 20px;
        text-transform: uppercase;
        width: 540px;
        background: #FFF;
        margin-bottom: 10px;
        text-align: center;
        padding-top: 15px;
    }

    .cardlet-button-panel{
        margin: 0px!important;
        margin-top: 10px!important;
        width: 540px;

    }

    .catdlet-btn{
        height:80px;
        background: #fff;
        border-radius: 5px;
        text-align: center;
        border-width: 1px;
        border-style: solid;
        border-color: #c4c4c4;
    }

    .catdlet-btn:hover{
        border-width: 2px;
        border-color: #18C6B7;
    }

    .catdlet-btn-col{
        padding: 0px!important;
        width: 25%;
        float: left;
    }

    .catdlet-btn-margin{
        margin-right: 10px;
    }

    .crate-new-btn{
        margin-top: 20px;
    }

    .add-new-panel{
        margin-top: 50px;
    }

    .mail-us-btn{
        width: 100px;
        position: relative;
        z-index: 100;
        margin: auto;
        margin-top: 15px;
        background: #fff;
        margin-bottom: 30px;
    }

    a.tablinks{
        width: 100%;
    }
    a.tablinks2{
        width: 100%;
    }

    .modeal-custom-window{
        top:0;
        position: fixed;
        display: block;
        width: 100%;
        height:100%;
        background-color: rgba(0,0,0, 0.6);
        z-index: 1000;
    }

    .back-btn{
        background-color: #e7e7e7;
        color: #cf3d37;
        width: auto;
        padding-left: 0px;
    }

</style>
    <div class="user-cardlet-panel">
            <div class="row" >
                <div style="margin-bottom: 30px;" class="col-lg-6" ng-repeat="tabNames in userCardlets">
                    <div class="cardlet-panel">
                        <div class="cardlet-name">{{tabNames.cardletName}}</div>
                        <div id="copy-to-clip{{tabNames.id}}">
                            <div>
                                <ul class="tab2">
                                    <li style="background-color: #fff" class="tabs2 tabs2{{tabNames.id}}" ng-style="addColors('tab'+tabName.position+tabName.name+tabNames.id, tabName.layout.mainColor, tabName.layout.secondaryColor, $parent.$index)" ng-repeat="tabName in tabNames.tabs" ng-class="tabName.position == 0 ? 'active' : ''"
                                        id="tab{{tabName.position}}{{tabName.name}}{{tabNames.id}}">
                                        <div style="position: relative">
                                            <a href="javascript:void(0)" class="tablinks2 tablinks2{{tabNames.id}}" ng-click="openCard(tabName.name+tabName.position+tabNames.id, 'tab'+tabName.position+tabName.name+tabNames.id, tabNames.id)">{{tabName.name}}</a>
                                        </div>
                                    </li>

                                </ul>
                            </div>

                            <div ng-repeat="tabName in tabNames.tabs " id="{{tabName.name}}{{tabName.position}}{{tabNames.id}}" class="tabcontent2 tabcontent2{{tabNames.id}}" ng-class="tabName.position == 0 ? 'display' : 'none-display'">
                                    <ng-include style="display: block!important" src="tabName.layout.url" ></ng-include>
                            </div>
                        </div>
                        <div class="cardlet-button-panel row">
                            <div class="catdlet-btn-col">
                                <div ng-click="copyToEmail($index, 'copy-to-clip'+tabNames.id, tabNames.id)" class="catdlet-btn catdlet-btn-margin">
                                    <img src="/content/images/copy_to_email_icon.png">
                                </div>
                            </div>
                            <div class=" catdlet-btn-col">
                                <div ng-click="openModal(tabNames.id)" class="catdlet-btn catdlet-btn-margin">
                                    <img src="/content/images/copy_to_web_icon.png">
                                </div>
                            </div>
                            <div class=" catdlet-btn-col">
                                <div ui-sref="editcardletlist({ cardletId: tabNames.id })" class="catdlet-btn catdlet-btn-margin">
                                    <img src="/content/images/edit_icon.png">
                                </div>
                            </div>
                            <div class=" catdlet-btn-col">
                                <div class="catdlet-btn" ng-click="delteCardletDialog(tabNames.id)">
                                    <img src="/content/images/delete_icon.png">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div style="margin-bottom: 30px;" class="col-lg-6">
                    <div class="create-new-cardlet" ui-sref="cardletlist">
                        <div class="add-new-panel">
                            <img src="/content/images/plus_icon2.png">
                            <div class="crate-new-btn">Create new</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="user-cardlets-footer">
        <div class="border-line-footer"></div>
        <div class="mail-us-btn">
            <img src="/content/images/envelope_icon.png">
        </div>
        <div class="add-new-header-text">
            Have you been prospecting for months on end, only to end up with no one? Or have you been trying to sell a product or service that has not been selling? Or you just kind of depressed about your current employment?
        </div>
        <div class="add-new-btn">
            <button class="saveButton" ng-click="saveCardlet()">Mail us</button>
        </div>
    </div>

    <style>

        a.accordion-section-title.active{
            background-color: #ECECEC!important;
        }
        .main:before {
            width:100%;
            height:100%;
            position:absolute;
            top:0px;
            left:0px;
            z-index:-1;
            content:'';
            background:-webkit-radial-gradient(30%, rgba(255,255,255,0.15), rgba(0,0,0,0)), url('img/body-bg.png');
            background:-moz-radial-gradient(30%, rgba(255,255,255,0.15), rgba(0,0,0,0)), url('img/body-bg.png');
            background:-o-radial-gradient(30%, rgba(255,255,255,0.15), rgba(0,0,0,0)), url('img/body-bg.png');
            background:radial-gradient(30%, rgba(255,255,255,0.15), rgba(0,0,0,0)), url('img/body-bg.png');
        }

        .site-header-wrap {
            margin-bottom:60px;
            border-bottom:1px solid #cd9ad6;
        }

        /*------------------------------------*\
        -------- DEMO Code: accordion
        \*------------------------------------*/
        /*----- Accordion -----*/
        .accordion, .accordion * {
            -webkit-box-sizing:border-box;
            -moz-box-sizing:border-box;
            box-sizing:border-box;
        }

        .accordion {
            overflow:hidden;
            box-shadow:0px 1px 3px rgba(0,0,0,0.25);
            border-radius:3px;
            background:#f7f7f7;
        }

        /*----- Section Titles -----*/
        .accordion-section-title {
            width: 100%;
            padding: 15px;
            display: inline-block;
            border-top: 1px solid #D0D8D9;
            border-bottom: 1px solid #D0D8D9;
            background: #F9F9F9;
            font-size: 1.200em;
            color: #7F8C8C;
            text-transform: uppercase;
            font-weight: bold;
        }

        .accordion-section-title.active, .accordion-section-title:hover {
            background:#ECECEC;
            /* Type */
            text-decoration:none;
            color: #7F8C8C;
        }

        .accordion-section:last-child .accordion-section-title {
            border-bottom:none;
        }

        /*----- Section Content -----*/
        .accordion-section-content {
            padding:15px;
        }

    </style>

</div>








