<div class="modeal-custom-window" ng-show="isCopyTiEmail"></div>
<div class="modeal-custom-window" ng-show="isCopyTiEmail" style="position: absolute; background-color: rgba(0, 0, 0, 0);;">
    <div class="modal-dialog " style="margin-top: -100px; width: 1130px!important;">
        <div class="modal-content" uib-modal-transclude="">
            <div class="modal-header">
                <button style="color: #00C6C2" type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        ng-click="closeDialog()">&times;</button>
                <h4 class="modal-title" id="myUserLabel">
                    Copy to e-mail</h4>
            </div>
            <div  style=" padding: 50px!important;" class="modal-body">
                <div class="copy-to-email-step-number">1</div><div class="copy-to-email-steps">Choose your signature design:</div>
                <div>
                    <div class="row" style="margin: 15px; margin-top: 30px; min-height: 310px">
                        <div class="selectSignature">
                            <div ng-click="selectSignature(1)" id="signature-selector">
                                <div class="modal-signature-panel-shadow"></div>
                                <div ng-class="signatureSelected === 1 ? 'activeSignature' : ''">
                                    <a href="signatureLink"><div id="previewImage"></div></a>
                                    <div style="max-height: 300px; overflow: hidden">
                                        <img ng-show="isAddBanner" style="width: 540px;" src="{{banner}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="selectSignature" style="float: right;top: 30px; right: 90px">
                            <div ng-click="selectSignature(3)"  id="signature-selector">
                                <div class="modal-signature-panel-shadow"></div>
                                <div style=" margin-top: -30px;" id="thirdSignature" ng-class="signatureSelected === 3 ? 'activeSignature' : ''">
                                    <div style="width: 300px;">
                                        <ng-include src="'app/cardlets/userSigmatureNew.html'"></ng-include>
                                        <div style="max-height: 150px; overflow: hidden">
                                            <img ng-show="isAddBanner" style="width: 300px;" src="{{banner}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="add-banner-panel" style="padding-bottom: 35px; padding-top: 35px">
                    <div class="copy-to-email-step-number">2</div><div class="copy-to-email-steps" style="display: inline-block">Add banner to your signature:</div>
                    <div style="display: inline-block; color: #595959; font-size: 14px; margin-left: 20px;">
                        <input class="add-banner-checkbox" type="checkbox" ng-model="isAddBanner" ng-click="addBanner()" width="20px" height="20px" style="margin-right: 10px"> Banner
                    </div>
                    <div class="input-text-div" style="display: inline-block; margin-left: 20px; width: 320px ">
                        <input style=" width: 300px" type="text" ng-model="banner" class="input-new" id="urlOne" placeholder="" ng-model="item.urlOne"> or
                    </div>
                    <div class="social-image-form-div"  style="padding: 0px; padding-left: 30px; display: inline-block">
                        <div class="fileUpload btn btn-primary upload-banner-img choose-photo-btn" style="margin: 0px; border-radius: 0px!important;">
                            <span>Upload</span>
                            <input type="file" id="fileInput3" class="upload"/>
                        </div>

                    </div>
                </div>

                <div style="padding-top: 40px">
                    <div class="copy-to-email-step-number">3</div><div class="copy-to-email-steps" style="display: inline-block;">Choose e-mail client:</div>
                    <div style="display: inline-block">
                        <select class="form-control" ng-options="item.title for item in fieldTable" ng-model="selected" ng-change="hasChanged()" style="margin-left: 20px; width: 150px; background-color: #FFF">
                        </select>
                    </div>
                </div>
                <div  style=" padding: 0px!important;" class="modal-body">
                    <div ng-show="instructions==1" ng-class="shovall == 1 ? 'mail-instructions-open' : 'mail-instructions'">
                        <div class="instructions-title">Gmail instructions</div>

                        1. Open Gmail.<br>
                        2. In the top right, click Settings   Settings.
                        3. In the "Signature" section, add your signature text in the box. If you want, you can format your message by adding an image or changing the text style.<br>
                        4. At the bottom of the page, click Save Changes.<br>
                        <a target="_blank" href="https://support.google.com/mail/answer/8395?co=GENIE.Platform%3DDesktop&hl=en">Support</a>

                    </div>
                    <div class="mail-instructions" ng-show="instructions==3" ng-class="shovall == 1 ? 'mail-instructions-open' : 'mail-instructions'">
                        <div class="instructions-title">Airmail instructions</div>

                        Go to Preferences > Accounts >  Signature to change or add signatures to your outgoing email messages. Signatures are created on a per-account basis, so you can configure each email account with multiple signatures.
                        Additionally, you can control whether a signature is automatically added to a message (again, on a per-account basis). Just go to Preferences > Accounts > (select an account) then click on 'Composer' tab. Choose whether to add a signature to the message while replying.<br>
                        <a target="_blank" href="http://docs.airmailapp.com/airmail-for-mac/composer/signature-add-multiple-signatures-airmail-for-macos">Support</a>


                    </div>
                    <div class="mail-instructions" ng-show="instructions==2" ng-class="shovall == 1 ? 'mail-instructions-open' : 'mail-instructions'">
                        <div class="instructions-title">Outlook instructions</div>


                        1. Create a new email message.<br>
                        2. On the Message tab, in the Include group, choose Signature > Signatures.<br>
                        3. Under Select signature to edit, choose New, and in the New Signature dialog box, type a name for the signature.<br>
                        4. Under Choose default signature, set the following options for your signature:<br>
                        In the E-mail account list, choose an email account to associate with the signature. You can have different signatures for each email account.<br>
                        In the New messages list, choose the signature that you want to be added automatically to all new email messages. If you don't want to auto sign your new email messages, accept the default option of (none).<br>
                        In the Replies/forwards list, choose the signature that you want to be added automatically (auto sign) when you reply to or forward messages. Otherwise, accept the default option of (none).<br>
                        5.Under Edit signature, type the signature, and then choose OK.<br>
                        <a target="_blank" href="https://support.office.com/en-us/article/Create-and-add-a-signature-to-messages-8ee5d4f4-68fd-464a-a1c1-0e1c80bb27f2">Support</a>

                    </div>
                    <div class="mail-instructions" ng-show="instructions==4" ng-class="shovall == 1 ? 'mail-instructions-open' : 'mail-instructions'">
                        <div class="instructions-title">Yahoo instructions</div>

                        1. Mouse over the Settings menu icon  | select Settings.<br>
                        2. Click Accounts.<br>
                        3. Click your Yahoo account.<br>
                        4. Select Append a signature to the emails you send.<br>
                        5. Enter or edit your signature text in the Signature field.<br>
                        6. Click Save.<br>
                        <a target="_blank" href="https://help.yahoo.com/kb/SLN16030.html">Support</a>

                    </div>
                    <div style="text-align: center; padding: 10px; border-width: 0px; border-color: #F1F1F1; border-style: solid;border-bottom-width: 1px">
                        <img ng-click="shovall == 1 ? shovall = 0 : shovall = 1" src="/content/images/new/ellipsis.png">
                    </div>
                    <div>
                        <div class="copy-to-email-step-number">4</div><div class="copy-to-email-steps" style="padding-top: 35px">Copy this zone:</div>
                        <div class="mail-copy-div">

                            <div class="copy-to-web-div">
                                <div ng-show="instructions==1">
                                    <div>Select your signature</div>
                                    <div id="gmailDiv"></div>
                                </div>
                                <textarea ng-show="instructions!=1" id="copyedText" style="width: 100%; height: 150px; max-width: 930px" ng-model="coptToEmailText"></textarea>
                            </div>
                            <div style="margin-top: 40px; padding-bottom: 20px;">

                                <button type="submit" data-clipboard-text="{{coptToEmailText}}" ngclipboard data-clipboard-text="{{coptToEmailText}}"class="saveButton">
                                    Copy to Clipboard
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
