<div class="modeal-custom-window" ng-show="showDelteTabDialog">
    <div class="modal-dialog " style="margin-top: 100px; width: 400px!important;">
        <div class="modal-content">
            <div class="modal-header" style="text-align: center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        ng-click="closeDialog()">&times;</button>
                <h4 class="modal-title" id="myUserLabel">
                    Delete Tab?</h4>
            </div>
            <div  style=" padding: 0px!important;" class="modal-body">
                <div style="background: #FFF; padding-left: 30px; padding-right: 30px;">
                    <div style="margin-top: 40px; color:#">
                        Are you sure you want to delete this?
                    </div>
                    <div class="select-btn-div" style="padding-bottom: 50px;">
                        <button style="float: left" class="saveButton closeButton" ng-click="closeDialog()">
                            Close
                        </button>
                        <button style="float: right" class="saveButton deleteButton" ng-click="removeTab(); enableTabs()">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
