<div>
    <div ng-style="{'background-color': '#'+tabName.layout.mainColor}" class="cardlet3" style="position: relative;height: 240px">
        <div>
            <div ng-show="tabName.items.length == 1">
                <div class="main-carousel-image-div-info-3">
                    <div  ng-repeat="slide in tabName.items"  class="main-carousel-info-div-new-3" style="margin-top: 10px">
                        <div  style="margin-top: 10px">
                            <a href="{{slide.link}}" target="_blank" ng-show="slide.link && showLink" class="carousel-text-link">
                                <pre class="carousel-info-name-div-new-3 carousel-item-name-div" ng-style="{'font-family': slide.name.bold ? 'Roboto-Bold' : 'Roboto-Regular',
                                'font-style': slide.name.italic ? 'italic' : 'normal',
                                'text-decoration': slide.name.underline ? 'underline' : 'normal' , 'color': '#'+tabName.layout.secondaryColor}" ng-show="slide.name.value">{{slide.name.value}}</pre>
                                <div class="text-editor-displaying-third" ta-bind ng-model="slide.description.value"></div>
                            </a>
                            <div ng-hide="slide.link && showLink">
                                <pre class="carousel-info-name-div-new-3 carousel-item-name-div" ng-style="{'font-family': slide.name.bold ? 'Roboto-Bold' : 'Roboto-Regular',
                                'font-style': slide.name.italic ? 'italic' : 'normal',
                                'text-decoration': slide.name.underline ? 'underline' : 'normal' , 'color': '#'+tabName.layout.secondaryColor}" ng-show="slide.name.value">{{slide.name.value}}</pre>
                                <div class="text-editor-displaying-third" ta-bind ng-model="slide.description.value"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="main-carousel-image-div-info-3" uib-carousel active="vm.currentSlide" interval="myInterval" no-wrap="noWrapSlides" ng-show="vm.showCarousel" ng-if="tabName.items.length > 1" ng-init="initSlide(tabName)">
                <div ng-show="showEditorNavigation" class="custom-slide-prev-editor" style="top: 100px"><img src="/content/images/new/arrow_left.png" ng-click="prevSlide(tabName.position)"></div>
                <div ng-show="showEditorNavigation"  class="custom-slide-next-editor"  style="top: 100px"><img src="/content/images/new/arrow_right.png" ng-click="nextSlide(tabName.position)"></div>

                <div uib-slide ng-repeat="slide in tabName.items track by slide.position" index="slide.position" style="margin-top: 10px">

                    <div class="carousel-image-div" style=" margin-left: 24px">

                        <div  class="carousel-info-div-new-3">
                            <div  style="margin-top: 10px">
                                <a href="{{slide.link}}" target="_blank" ng-show="slide.link && showLink" class="carousel-text-link">
                                    <pre class="carousel-info-name-div-new-3 carousel-item-name-div" ng-style="{'font-family': slide.name.bold ? 'Roboto-Bold' : 'Roboto-Regular',
                                'font-style': slide.name.italic ? 'italic' : 'normal',
                                'text-decoration': slide.name.underline ? 'underline' : 'normal' , 'color': '#'+tabName.layout.secondaryColor}" ng-show="slide.name.value">{{slide.name.value}}</pre>
                                    <div class="text-editor-displaying-third" ta-bind ng-model="slide.description.value"></div>
                                </a>
                                <div ng-hide="slide.link && showLink">
                                    <pre class="carousel-info-name-div-new-3 carousel-item-name-div" ng-style="{'font-family': slide.name.bold ? 'Roboto-Bold' : 'Roboto-Regular',
                                'font-style': slide.name.italic ? 'italic' : 'normal',
                                'text-decoration': slide.name.underline ? 'underline' : 'normal' , 'color': '#'+tabName.layout.secondaryColor}" ng-show="slide.name.value">{{slide.name.value}}</pre>
                                    <div class="text-editor-displaying-third" ta-bind ng-model="slide.description.value"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>


    <style type="text/css">

        .carousel-inner{
            min-height: 200px;

        }
        .info-tab-image-3{
            width: 80px;
            height: 80px;
        }


        .carousel-info-name-div-new-3{
            width: 100%;
            font-size: 20px;
            color:#242424;
            word-break: normal!important;
            background:transparent;
            border: none;
            padding-left: 0px;
            padding-top: 0px;
        }

        .carousel-info-deskript-div-3{
            font-weight: normal;
            font-size: 15px;
            margin-top: 10px;
            word-break: normal!important;
            max-height: 150px;
            overflow: hidden;
            padding: 0px;
        }

        .left-catusel-panel{
            float: left;
        }

        .main-carousel-image-div-info-3{
            text-align: center;
            position: absolute!important;
            width: 100%;
            height: 100%;
        }

        .main-carousel-info-div-new-3{
            display: inline-block;
            width: 470px;
            vertical-align: top;
            text-align: center;
            margin-top: 10px;
        }


        .carousel-info-div-new-3{
            float: left;
            width: 470px;
            margin-left: 10px;
            text-align: center;

        }

        p {
            margin: 0;
        }



    </style>
