<div>
    <div ng-style="{'background-color': '#'+tabName.layout.mainColor}" class="cardlet3" style="position: relative;height: 240px">
        <div>
            <div ng-show="tabName.items.length == 1">
                <div class="main-carousel-image-div-info-3">
                    <div  ng-repeat="slide in tabName.items"  class="main-carousel-info-div-new-3" style="margin-top: 10px">
                        <div id="cf4a" style="width: 100%; height: 80px">
                            <img crossorigin="anonymous" id="ing-1" class="info-tab-image-3" ng-show="!slide.link" ng-src="{{slide.image}}">
                            <a href="{{slide.link}}" target="_blank" ng-show="slide.link">
                                <img crossorigin="anonymous" id="ing-1" class="info-tab-image-3" ng-show="slide.image" ng-src="{{slide.image}}">
                            </a>
                        </div>
                        <div  style="margin-top: 10px">
                            <div class="carousel-info-name-div-new-3" ng-style="{'font-family': slide.name.bold ? 'Roboto-Bold' : 'Roboto-Regular',
                            'font-style': slide.name.italic ? 'italic' : 'normal',
                            'text-decoration': slide.name.underline ? 'underline' : 'normal' , 'color': '#'+tabName.layout.secondaryColor}" ng-show="slide.name.value">{{slide.name.value}}</div>
                            <div class="carousel-info-name-div-new-3" ng-show="!slide.name.value" ng-style="{'font-family': slide.name.bold ? 'Roboto-Bold' : 'Roboto-Regular',
                            'font-style': slide.name.italic ? 'italic' : 'normal',
                            'text-decoration': slide.name.underline ? 'underline' : 'normal', 'color': '#'+tabName.layout.secondaryColor}">Maui Hotel</div>
                            <pre class="carousel-info-name-div-new-3 carousel-info-deskript-div-3" ng-show="slide.description.value"
                                 ng-style="{'font-family': slide.description.bold ? 'Roboto-Bold' : 'Roboto-Regular',
                        'font-style': slide.description.italic ? 'italic' : 'normal',
                        'text-decoration': slide.description.underline ? 'underline' : 'normal'}">{{slide.description.value}}</pre>
                            <div class="carousel-info-name-div-new-3 carousel-info-deskript-div-3" ng-show="!slide.description.value">How To Fly A Private Jet On Your Next Trip</div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="main-carousel-image-div-info-3" uib-carousel active="vm.currentSlide" interval="myInterval" no-wrap="noWrapSlides" ng-if="tabName.items.length > 1" ng-init="initSlide(tabName)">

                <div uib-slide ng-repeat="slide in tabName.items track by slide.position" index="slide.position" style="margin-top: 10px">

                    <div class="carousel-image-div">

                        <div  class="carousel-info-div-new-3">
                            <div id="cf4a" style="width: 100%; height: 90px">
                                <img crossorigin="anonymous" id="ing-1" class="info-tab-image-3" ng-show="!slide.link" ng-src="{{slide.image}}">
                                <a href="{{slide.link}}" target="_blank" ng-show="slide.link">
                                    <img crossorigin="anonymous" id="ing-1" class="info-tab-image-3" ng-show="slide.image" ng-src="{{slide.image}}">
                                </a>
                            </div>
                            <div  style="margin-top: 10px">
                                <div class="carousel-info-name-div-new-3" ng-style="{'font-family': slide.name.bold ? 'Roboto-Bold' : 'Roboto-Regular',
                            'font-style': slide.name.italic ? 'italic' : 'normal',
                            'text-decoration': slide.name.underline ? 'underline' : 'normal' , 'color': '#'+tabName.layout.secondaryColor}" ng-show="slide.name.value">{{slide.name.value}}</div>
                                <div class="carousel-info-name-div-new-3" ng-show="!slide.name.value" ng-style="{'font-family': slide.name.bold ? 'Roboto-Bold' : 'Roboto-Regular',
                            'font-style': slide.name.italic ? 'italic' : 'normal',
                            'text-decoration': slide.name.underline ? 'underline' : 'normal' , 'color': '#'+tabName.layout.secondaryColor}">Maui Hotel</div>
                                <pre class="carousel-info-name-div-new-3 carousel-info-deskript-div-3" ng-show="slide.description.value"
                                     ng-style="{'font-family': slide.description.bold ? 'Roboto-Bold' : 'Roboto-Regular',
                        'font-style': slide.description.italic ? 'italic' : 'normal',
                        'text-decoration': slide.description.underline ? 'underline' : 'normal'}">{{slide.description.value}}</pre>
                                <div class="carousel-info-name-div-new-3 carousel-info-deskript-div-3" ng-show="!slide.description.value">How To Fly A Private Jet On Your Next Trip</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>


    <style type="text/css">
        .info-tab-image-3{
            width: 80px;
            height: 80px;
        }


        .carousel-info-name-div-new-3{
            width: 100%;
            font-size: 20px;
            color:#242424;
            background:transparent;
            border: none;
        }

        .carousel-info-deskript-div-3{
            font-weight: normal;
            font-size: 15px;
            margin-top: 10px;
            word-break: break-word;
        }

        .left-catusel-panel{
            float: left;
        }

        .main-carousel-image-div-info-3{
            text-align: center;
            position: absolute!important;
            width: 100%;
            height: 100%;
        }

        .main-carousel-info-div-new-3{
            display: inline-block;
            width: 470px;
            vertical-align: top;
            text-align: center;
            margin-top: 10px;
        }


        .carousel-image-div{
            margin-left: 25px;
            margin-top: 10px;
        }


        .carousel-info-div-new-3{
            float: left;
            width: 470px;
            margin-left: 10px;
            text-align: center;

        }


    </style>
