<div>
    <div class="cardlet-image--preview"  ng-style="{'background-color': '#'+tabName.layout.mainColor}" style="position:relative;">

        <div>
            <div ng-show="tabName.items.length == 1" style="position: relative;">
                <div class="main-carousel-item-preview" >
                    <div style="border: 1px solid #D0D8D9;border-top-width: 0px;height: 606px">
                        <div ng-repeat="slide in tabName.items"  class="main-carousel-item-div-preview"
                             ng-click="readsCounter($event, tabName.id, slide.id)">
                            <div style="max-height: 605px;overflow:hidden;">
                                <img crossorigin="anonymous"  style="width: 913px" id="ing-1" ng-src="{{slide.image}}?{{time}}">
                            </div>
                            <div class="item-3-content-preview" ng-hide="!slide.name.value && !slide.description.value" ng-style="{'background-color': '#'+tabName.layout.secondaryColor}">
                                <a style="max-height: 605px;" href="{{slide.link | link}}" target="_blank" ng-show="slide.link  && showLink" class="custom-cursor">
                                    <div class="carousel-item-name-third-type carousel-item-no-wrap" ng-style="{'font-family': slide.name.bold ? 'Roboto-Bold' : 'Roboto-Regular',
                                    'font-style': slide.name.italic ? 'italic' : 'normal',
                                    'text-decoration': slide.name.underline ? 'underline' : 'normal' , 'color': '#'+tabName.layout.mainColor}" ng-show="slide.name.value">{{slide.name.value}}</div>
                                    <pre class="carousel-item-name-third-type carousel-item-deskript-third-type" ng-style="{'font-family': slide.description.bold ? 'Roboto-Bold' : 'Roboto-Regular',
                                    'font-style': slide.description.italic ? 'italic' : 'normal',
                                    'text-decoration': slide.description.underline ? 'underline' : 'normal', 'color': '#'+tabName.layout.mainColor }" ng-show="slide.description.value">{{slide.description.value}}</pre>
                                </a>
                                <div ng-hide="slide.link && showLink">
                                    <div class="carousel-item-name-third-type carousel-item-no-wrap" ng-style="{'font-family': slide.name.bold ? 'Roboto-Bold' : 'Roboto-Regular',
                                        'font-style': slide.name.italic ? 'italic' : 'normal',
                                        'text-decoration': slide.name.underline ? 'underline' : 'normal' , 'color': '#'+tabName.layout.mainColor}" ng-show="slide.name.value">{{slide.name.value}}</div>
                                    <pre class="carousel-item-name-third-type carousel-item-deskript-third-type" ng-style="{'font-family': slide.description.bold ? 'Roboto-Bold' : 'Roboto-Regular',
                                        'font-style': slide.description.italic ? 'italic' : 'normal',
                                        'text-decoration': slide.description.underline ? 'underline' : 'normal', 'color': '#'+tabName.layout.mainColor }" ng-show="slide.description.value"
                                         data-ng-bind="slide.description.value" data-ellipsis>{{slide.description.value}}</pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div uib-carousel active="vm.currentSlide" interval="myInterval" no-wrap="noWrapSlides" ng-show="vm.showCarousel"  ng-if="tabName.items.length > 1" ng-init="initSlide(tabName)">
            <div ng-show="showEditorNavigation" class="custom-slide-prev-editor" style="top: 100px;z-index: 2"><img src="/content/images/new/arrow_left.png" ng-click="prevSlide(tabName.position)"></div>
            <div ng-show="showEditorNavigation"  class="custom-slide-next-editor"  style="top: 100px;z-index: 2"><img src="/content/images/new/arrow_right.png" ng-click="nextSlide(tabName.position)"></div>
            <div uib-slide ng-repeat="slide in tabName.items track by slide.position" index="slide.position" style="position:relative;">
                <div style="border: 1px solid #D0D8D9;border-top-width: 0px;height: 606px"
                     ng-click="readsCounter($event, tabName.id, slide.id)">
                    <div style="max-height: 605px;overflow: hidden">
                        <img crossorigin="anonymous" style="width: 100%" id="ing-1" ng-src="{{slide.image}}?{{time}}">

                    </div>
                    <div class="main-carousel-item-preview" style="position: absolute;top:0;left:0; height: 606px">
                        <a href="{{slide.link | link}}" target="_blank" ng-show="slide.link && showLink" class="custom-cursor">
                            <div  class="main-carousel-item-div-preview">
                                <div class="item-3-content-preview" ng-style="{'background-color': '#'+tabName.layout.secondaryColor}" ng-hide="!slide.name.value && !slide.description.value">
                                    <div class="carousel-item-name-third-type carousel-item-no-wrap" ng-style="{'font-family': slide.name.bold ? 'Roboto-Bold' : 'Roboto-Regular',
                                    'font-style': slide.name.italic ? 'italic' : 'normal',
                                    'text-decoration': slide.name.underline ? 'underline' : 'normal' , 'color': '#'+tabName.layout.mainColor}" ng-show="slide.name.value">{{slide.name.value}}</div>
                                    <pre class="carousel-item-name-third-type carousel-item-deskript-third-type" ng-style="{'font-family': slide.description.bold ? 'Roboto-Bold' : 'Roboto-Regular',
                                'font-style': slide.description.italic ? 'italic' : 'normal',
                                'text-decoration': slide.description.underline ? 'underline' : 'normal', 'color': '#'+tabName.layout.mainColor }" ng-show="slide.description.value">{{slide.description.value}}</pre>

                                </div>
                            </div>
                        </a>
                        <div ng-hide="slide.link && showLink" class="main-carousel-item-div-preview">
                            <div class="item-3-content-preview" ng-style="{'background-color': '#'+tabName.layout.secondaryColor}" ng-hide="!slide.name.value && !slide.description.value">
                                <div class="carousel-item-name-third-type carousel-item-no-wrap" ng-style="{'font-family': slide.name.bold ? 'Roboto-Bold' : 'Roboto-Regular',
                                    'font-style': slide.name.italic ? 'italic' : 'normal',
                                    'text-decoration': slide.name.underline ? 'underline' : 'normal', 'color': '#'+tabName.layout.mainColor}" ng-show="slide.name.value">{{slide.name.value}}</div>
                                <pre class="carousel-item-name-third-type carousel-item-deskript-third-type" ng-style="{'font-family': slide.description.bold ? 'Roboto-Bold' : 'Roboto-Regular',
                                'font-style': slide.description.italic ? 'italic' : 'normal',
                                'text-decoration': slide.description.underline ? 'underline' : 'normal' , 'color': '#'+tabName.layout.mainColor}" ng-show="slide.description.value"
                                     data-ng-bind="slide.description.value" data-ellipsis>{{slide.description.value}}</pre>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

</div>


<style type="text/css">


    .main-carousel-item-div{
        width: 160px;
        display: inline-block;
        vertical-align: top;
    }

    .carousel-item-div{
        float: left;
        width: 160px;
    }


    .item-images-new {
        width: 130px;
        height: 130px;
        border-radius: 25%;
        border-width: 5px;
        border-style: solid;
        border-color: #FFFfff;
        margin-left: 20px;
    }





</style>
