<div>
    <div class="cardlet3" ng-style="{'background-color': '#'+tabName.layout.mainColor}"style="position:relative;">
        <div>
            <div class="firstItemTop" ng-style="{'background-color': '#'+tabName.layout.secondaryColor}"></div>
            <div ng-show="tabName.items.length <= 2">
                <div class="main-carousel-image-div">
                    <div ng-repeat="slide in tabName.items" style="width: 234px" class="main-carousel-item-div"
                         ng-click="readsCounter($event, tabName.id, slide.id)"   >
                        <div id="cf4a" class="second-item-img-main">
                            <div class="second-item-img" ng-style="{'background-color': '#'+tabName.layout.mainColor}">
                                <a href="{{slide.link | link}}" target="_blank" ng-show="slide.link" ng-style="{'pointer-events': !slide.link ? 'none' : ''}">
                                    <img crossorigin="anonymous" id="ing-1" class="item-images-second " ng-show="slide.image" ng-src="{{slide.image}}?{{time}}">
                                </a>
                            </div>
                        </div>
                        <div class="carousel-item-name-div-first item-carousel-name carousel-item-no-wrap" ng-style="{'font-family': slide.name.bold ? 'Roboto-Bold' : 'Roboto-Regular',
                    'font-style': slide.name.italic ? 'italic' : 'normal',
                    'text-decoration': slide.name.underline ? 'underline' : 'normal', 'color': '#'+tabName.layout.secondaryColor}">{{slide.name.value}}</div>
                        <div class="carousel-item-name-div-first carousel-item-deskript-div" ng-show="slide.description.value"
                             ng-style="{'font-family': slide.description.bold ? 'Roboto-Bold' : 'Roboto-Regular',
                    'font-style': slide.description.italic ? 'italic' : 'normal',
                    'text-decoration': slide.description.underline ? 'underline' : 'normal'}"
                             data-ng-bind="slide.description.value" data-ellipsis>{{slide.description.value}}</div>
                    </div>
                </div>

            </div>


            <div uib-carousel active="vm.currentSlide" interval="myInterval" no-wrap="noWrapSlides" ng-show="vm.showCarousel" ng-if="tabName.items.length > 2" ng-init="initSlide(tabName)" >
                <div ng-show="showEditorNavigation" class="custom-slide-prev-editor" style="top: 100px"><img src="/content/images/new/arrow_left.png" ng-click="prevSlide(tabName.position)"></div>
                <div ng-show="showEditorNavigation"  class="custom-slide-next-editor"  style="top: 100px"><img src="/content/images/new/arrow_right.png" ng-click="nextSlide(tabName.position)"></div>

                <div uib-slide ng-repeat="slide in tabName.items track by slide.position" index="slide.position" >

                    <div class="carousel-image-div-item">
                        <div>
                            <div class="carousel-item-div" style="width: 234px"
                                 ng-click="readsCounter($event, tabName.id, slide.id)">
                                <div id="cf4a" class="second-item-img-main">
                                    <div class="second-item-img" ng-style="{'background-color': '#'+tabName.layout.mainColor}">
                                        <a href="{{slide.link | link}}" target="_blank" ng-style="{'pointer-events': !slide.link ? 'none' : ''}">
                                            <img crossorigin="anonymous" id="ing-1" class="item-images-second" ng-show="slide.image" ng-src="{{slide.image}}?{{time}}">
                                        </a>
                                    </div>
                                </div>
                                <div class="carousel-item-name-div-first item-carousel-name carousel-item-no-wrap" ng-style="{'font-family': slide.name.bold ? 'Roboto-Bold' : 'Roboto-Regular','font-style': slide.name.italic ? 'italic' : 'normal','text-decoration': slide.name.underline ? 'underline' : 'normal', 'color': '#'+tabName.layout.secondaryColor}">{{slide.name.value}}</div>
                                <div ng-show="slide.description.value" class="carousel-item-name-div-first carousel-item-deskript-div"
                                     ng-style="{'font-family': slide.description.bold ? 'Roboto-Bold' : 'Roboto-Regular',
                        'font-style': slide.description.italic ? 'italic' : 'normal',
                        'text-decoration': slide.description.underline ? 'underline' : 'normal' ,}" data-ng-bind="slide.description.value" data-ellipsis>{{slide.description.value}}</div>
                            </div>

                            <div class="carousel-item-div" ng-show="tabName.items.length >$index+1" style="width: 234px"
                                 ng-click="readsCounter($event, tabName.id, tabName.items[$index+1].id)" >
                                <div id="cf4a" class="second-item-img-main">
                                    <div class="second-item-img" ng-style="{'background-color': '#'+tabName.layout.mainColor}">
                                        <a href="{{tabName.items[$index+1].link | link}}" target="_blank" ng-style="{'pointer-events': !tabName.items[$index+1].link ? 'none' : ''}">
                                            <img crossorigin="anonymous" id="ing-1" class="item-images-second" ng-show="tabName.items[$index+1].image" ng-src="{{tabName.items[$index+1].image}}?{{time}}">
                                        </a>
                                    </div>
                                </div>
                                <div class="carousel-item-name-div-first item-carousel-name carousel-item-no-wrap"
                                     ng-style="{'font-family': tabName.items[$index+1].name.bold ? 'Roboto-Bold' : 'Roboto-Regular',
                                'font-style': tabName.items[$index+1].name.italic ? 'italic' : 'normal',
                                'text-decoration': tabName.items[$index+1].name.underline ? 'underline' : 'normal', 'color': '#'+tabName.layout.secondaryColor}">{{tabName.items[$index+1].name.value}}</div>
                                <div class="carousel-item-name-div-first carousel-item-deskript-div" ng-show="tabName.items[$index+1].description.value" ng-style="{'font-family': tabName.items[$index+1].description.bold ? 'Roboto-Bold' : 'Roboto-Regular',
                                'font-style': tabName.items[$index+1].description.italic ? 'italic' : 'normal',
                                'text-decoration': tabName.items[$index+1].description.underline ? 'underline' : 'normal'}" data-ng-bind="tabName.items[$index+1].description.value" data-ellipsis>{{tabName.items[$index+1].description.value}}</div>
                            </div>
                            <div class="carousel-item-div" ng-show="tabName.items.length-1 === $index && tabName.items.length > 2" style="width: 234px"
                                 ng-click="readsCounter($event, tabName.id, tabName.items[0].id)">
                                <div id="cf4a" class="second-item-img-main">
                                    <div class="second-item-img" ng-style="{'background-color': '#'+tabName.layout.mainColor}">
                                        <a href="{{tabName.items[0].link | link}}" target="_blank" ng-style="{'pointer-events': !tabName.items[0].link ? 'none' : ''}">
                                            <img crossorigin="anonymous" id="ing-1" class="item-images-second" ng-show="tabName.items[0].image" ng-src="{{tabName.items[0].image}}?{{time}}">
                                        </a>
                                    </div>
                                </div>
                                <div class="carousel-item-name-div-first item-carousel-name carousel-item-no-wrap"
                                     ng-style="{'font-family': tabName.items[0].name.bold ? 'Roboto-Bold' : 'Roboto-Regular',
                        'font-style': tabName.items[0].name.italic ? 'italic' : 'normal',
                        'text-decoration': tabName.items[0].name.underline ? 'underline' : 'normal', 'color': '#'+tabName.layout.secondaryColor}">{{tabName.items[0].name.value}}</div>
                                <div ng-show="tabName.items[0].description.value" class="carousel-item-name-div-first carousel-item-deskript-div"
                                     ng-style="{'font-family': tabName.items[0].description.bold ? 'Roboto-Bold' : 'Roboto-Regular',
                        'font-style': tabName.items[0].description.italic ? 'italic' : 'normal',
                        'text-decoration': tabName.items[0].description.underline ? 'underline' : 'normal'}"  data-ng-bind="tabName.items[0].description.value" data-ellipsis>{{tabName.items[0].description.value}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <style type="text/css">

        .main-carousel-image-div{
            text-align: center;
        }

        .main-carousel-item-div{
            vertical-align: top;
            display: inline-block;
            width: 150px;
        }


        .carousel-image-div-item{
            margin-left: 26px;
        }


        .carousel-item-div{
            float: left;

        }


    </style>
