<div>
    <div class="cardlet3" style="position: relative;">
        <div ng-style="{'background-color': '#'+tabName.layout.secondaryColor}" class="item-central-div"></div>
        <div ng-style="{'background-color': '#'+tabName.layout.mainColor}" class="item-bottom-div"></div>
        <div ng-style="{'background-color': '#'+tabName.layout.mainColor}" class="item-top-div"></div>
        <div>
            <div ng-show="tabName.items.length == 1">
                <div class="main-carousel-image-div-2">
                    <div  ng-repeat="slide in tabName.items"  class="main-carousel-item-div-new" style="margin-top: 10px; "
                        ng-click="readsCounter($event, tabName.id, slide.id)">

                        <div id="cf4a" class="first-item-img-main">
                            <div class="first-item-img" ng-style="{'background-color': '#'+tabName.layout.mainColor}">
                                <img crossorigin="anonymous" id="ing-1" class="item-images-3" ng-hide="slide.link && showLink" ng-src="{{slide.image}}?{{time}}"  ng-style="{'border-color': '#'+tabName.layout.mainColor}">
                                <a href="{{slide.link | link}}" target="_blank" ng-show="slide.link && showLink">
                                    <img crossorigin="anonymous" id="ing-1" class="item-images-3" ng-style="{'border-color': '#'+tabName.layout.mainColor}" ng-show="slide.image" ng-src="{{slide.image}}?{{time}}" >
                                </a>
                            </div>
                        </div>
                        <div class="first-item-content">
                            <a href="{{slide.link | link}}" target="_blank" ng-show="slide.link && showLink" class="carousel-text-link">
                                <div class="carousel-item-name-first-type" ng-style="{'font-family': slide.name.bold ? 'Roboto-Bold' : 'Roboto-Regular',
                                'font-style': slide.name.italic ? 'italic' : 'normal',
                                'text-decoration': slide.name.underline ? 'underline' : 'normal', 'color': '#'+tabName.layout.mainColor}" ng-show="slide.name.value">{{slide.name.value}}</div>
                                <pre class="carousel-item-name-first-type carousel-item-deskript-first-type" ng-show="slide.description.value"
                                     ng-style="{'font-family': slide.description.bold ? 'Roboto-Bold' : 'Roboto-Regular',
                            'font-style': slide.description.italic ? 'italic' : 'normal',
                            'text-decoration': slide.description.underline ? 'underline' : 'normal', 'color': '#'+tabName.layout.mainColor}"
                                     data-ng-bind="slide.description.value" data-ellipsis>{{slide.description.value}}</pre>
                            </a>
                                <div ng-hide="slide.link && showLink">
                                    <div class="carousel-item-name-first-type" ng-style="{'font-family': slide.name.bold ? 'Roboto-Bold' : 'Roboto-Regular',
                                'font-style': slide.name.italic ? 'italic' : 'normal',
                                'text-decoration': slide.name.underline ? 'underline' : 'normal', 'color': '#'+tabName.layout.mainColor}" ng-show="slide.name.value">{{slide.name.value}}</div>
                                    <pre class="carousel-item-name-first-type carousel-item-deskript-first-type" ng-show="slide.description.value"
                                         ng-style="{'font-family': slide.description.bold ? 'Roboto-Bold' : 'Roboto-Regular',
                            'font-style': slide.description.italic ? 'italic' : 'normal',
                            'text-decoration': slide.description.underline ? 'underline' : 'normal', 'color': '#'+tabName.layout.mainColor}"
                                         data-ng-bind="slide.description.value" data-ellipsis>{{slide.description.value}}</pre>
                                </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="main-carousel-image-div-2" uib-carousel interval="myInterval" active="vm.currentSlide" no-wrap="noWrapSlides" ng-show="vm.showCarousel"  ng-if="tabName.items.length > 1" ng-init="initSlide(tabName)">
                <div ng-show="showEditorNavigation" class="custom-slide-prev-editor" style="top: 100px"><img src="/content/images/new/arrow_left.png" ng-click="prevSlide(tabName.position)"></div>
                <div ng-show="showEditorNavigation"  class="custom-slide-next-editor"  style="top: 100px"><img src="/content/images/new/arrow_right.png" ng-click="nextSlide(tabName.position)"></div>
                <div uib-slide ng-repeat="slide in tabName.items track by slide.position" index="slide.position" class="main-carousel-item-div-new">

                    <div class="carousel-image-div-carousel" ng-click="readsCounter($event, tabName.id, slide.id)">

                        <div  class="carousel-item-div-new">
                            <div id="cf4a" class="first-item-img-main">
                                <div class="first-item-img" ng-style="{'background-color': '#'+tabName.layout.mainColor}">
                                    <img crossorigin="anonymous" id="ing-1" class="item-images-3" ng-hide="slide.link && showLink" ng-src="{{slide.image}}?{{time}}"  ng-style="{'border-color': '#'+tabName.layout.mainColor}">
                                    <a href="{{slide.link | link}}" target="_blank" ng-class="{'disabled': !slide.link}" ng-show="slide.link && showLink">
                                        <img crossorigin="anonymous" id="ing-1" class="item-images-3 imgFirst" ng-style="{'border-color': '#'+tabName.layout.mainColor}" ng-show="slide.image" ng-src="{{slide.image}}?{{time}}">
                                    </a>
                                </div>
                            </div>
                            <div class="first-item-content">
                                <a href="{{slide.link | link}}" target="_blank" ng-class="{'disabled': !slide.link}" ng-show="slide.link && showLink" class="carousel-text-link">
                                    <div class="carousel-item-name-first-type"  ng-style="{'font-family': slide.name.bold ? 'Roboto-Bold' : 'Roboto-Regular',
                            'font-style': slide.name.italic ? 'italic' : 'normal',
                            'text-decoration': slide.name.underline ? 'underline' : 'normal', 'color': '#'+tabName.layout.mainColor}" ng-show="slide.name.value">{{slide.name.value}}</div>
                                    <pre class="carousel-item-name-first-type carousel-item-deskript-first-type" ng-style="{'font-family': slide.description.bold ? 'Roboto-Bold' : 'Roboto-Regular',
                            'font-style': slide.description.italic ? 'italic' : 'normal',
                            'text-decoration': slide.description.underline ? 'underline' : 'normal', 'color': '#'+tabName.layout.mainColor}"  ng-show="slide.description.value"
                                         data-ng-bind="slide.description.value" data-ellipsis>{{slide.description.value}}</pre>
                                </a>
                                <div ng-hide="slide.link && showLink">
                                    <div class="carousel-item-name-first-type"  ng-style="{'font-family': slide.name.bold ? 'Roboto-Bold' : 'Roboto-Regular',
                            'font-style': slide.name.italic ? 'italic' : 'normal',
                            'text-decoration': slide.name.underline ? 'underline' : 'normal', 'color': '#'+tabName.layout.mainColor}" ng-show="slide.name.value">{{slide.name.value}}</div>
                                    <pre class="carousel-item-name-first-type carousel-item-deskript-first-type" ng-style="{'font-family': slide.description.bold ? 'Roboto-Bold' : 'Roboto-Regular',
                            'font-style': slide.description.italic ? 'italic' : 'normal',
                            'text-decoration': slide.description.underline ? 'underline' : 'normal', 'color': '#'+tabName.layout.mainColor}"  ng-show="slide.description.value"
                                         data-ng-bind="slide.description.value" data-ellipsis>{{slide.description.value}}</pre>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>


    <style type="text/css">

        .left-catusel-panel{
            float: left;
        }

        .main-carousel-image-div-2{
            text-align: center;
            position: absolute!important;
            top:0px;
            width: 100%;
        }

        .main-carousel-item-div-new{
            display: inline-block;
            width: 480px;
            vertical-align: top;
            text-align: left;
        }


        .carousel-image-div-carousel{
            margin-left: 29px;
            margin-top: 10px;
        }

        .carousel-item-div-new{
            float: left;
            width: 480px;
        }

    </style>
