<link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css">
<div>
    <div class="cardlet" ng-init="initSlide(tabName)" style="position: relative;height: 223px">
        <div ng-style="{'background-color': '#'+tabName.layout.mainColor}" class="item-top-div"></div>
        <div ng-style="{'background-color': '#'+tabName.layout.secondaryColor}" class="item-bottom-div"></div>
        <div>
            <div ng-show="tabName.items.length <= 3">
                <div class="main-carousel-image-div-2">
                    <div  ng-repeat="slide in tabName.items"  class="main-carousel-item-div">
                        <div class="carousel-item-name-div" ng-style="{'font-weight': slide.name.bold ? 'bold' : 'normal',
                    'font-style': slide.name.italic ? 'italic' : 'normal',
                    'text-decoration': slide.name.underline ? 'underline' : 'normal'}" ng-show="slide.name.value">{{slide.name.value}}</div>
                        <div class="carousel-item-name-div" ng-show="!slide.name.value">Maui Hotel</div>
                        <div id="cf4a">
                            <img id="ing-1" class="item-images-3 imgFirst" ng-show="!slide.link" ng-src="{{slide.image}}">
                            <a href="{{slide.link}}" target="_blank" ng-show="slide.link">
                                <img id="ing-1" class="item-images-3 imgFirst" ng-show="slide.image" ng-src="{{slide.image}}">
                            </a>
                        </div>
                        <div class="carousel-item-name-div carousel-item-deskript-div" ng-show="slide.description.value"
                             ng-style="{'font-weight': slide.description.bold ? 'bold' : 'normal',
                    'font-style': slide.description.italic ? 'italic' : 'normal',
                    'text-decoration': slide.description.underline ? 'underline' : 'normal'}">{{slide.description.value}}</div>
                        <div class="carousel-item-name-div carousel-item-deskript-div" ng-show="!slide.description.value">How To Fly A Private Jet On Your Next Trip</div>
                    </div>
                </div>

            </div>
            <div class="main-carousel-image-div-2" uib-carousel active interval="myInterval" no-wrap="noWrapSlides" ng-show="tabName.items.length > 3">
                <div uib-slide ng-repeat="slide in tabName.items track by slide.position" index="slide.position">

                    <div class="carousel-image-div">

                        <div  class="carousel-item-div">
                            <div class="carousel-item-name-div"  ng-style="{'font-weight': slide.name.bold ? 'bold' : 'normal',
                    'font-style': slide.name.italic ? 'italic' : 'normal',
                    'text-decoration': slide.name.underline ? 'underline' : 'normal'}" ng-show="slide.name.value">{{slide.name.value}}</div>
                            <div class="carousel-item-name-div" ng-show="!slide.name.value">Maui Hotel</div>
                            <div id="cf4a">
                                <a href="{{slide.link}}" target="_blank" ng-class="{'disabled': !slide.link}">
                                    <img id="ing-1" class="item-images-3 imgFirst" ng-show="slide.image" ng-src="{{slide.image}}">
                                </a>
                            </div>
                            <div class="carousel-item-name-div carousel-item-deskript-div" ng-style="{'font-weight': slide.description.bold ? 'bold' : 'normal',
                    'font-style': slide.description.italic ? 'italic' : 'normal',
                    'text-decoration': slide.description.underline ? 'underline' : 'normal'}"  ng-show="slide.description.value">{{slide.description.value}}</div>
                            <div class="carousel-item-name-div carousel-item-deskript-div" ng-show="!slide.description.value">How To Fly A Private Jet On Your Next Trip</div>
                        </div>

                        <div  class="carousel-item-div" ng-show="tabName.items.length >$index+1">
                            <div class="carousel-item-name-div" ng-style="{'font-weight': tabName.items[$index+1].name.bold ? 'bold' : 'normal',
                    'font-style': tabName.items[$index+1].name.italic ? 'italic' : 'normal',
                    'text-decoration': tabName.items[$index+1].name.underline ? 'underline' : 'normal'}" ng-show="tabName.items[$index+1].name.value">{{tabName.items[$index+1].name.value}}</div>
                            <div class="carousel-item-name-div" ng-show="!tabName.items[$index+1].name.value">Maui Hotel</div>
                            <div id="cf4a">
                                <img id="ing-1" class="item-images-3 imgFirst" ng-show="!tabName.items[$index+1].link" ng-src="{{tabName.items[$index+1].image}}">
                                <a href="{{tabName.items[$index+1].link}}" target="_blank"   ng-show="tabName.items[$index+1].link">
                                    <img id="ing-1" class="item-images-3 imgFirst" ng-show="tabName.items[$index+1].image" ng-src="{{tabName.items[$index+1].image}}">

                                </a>
                            </div>
                            <div class="carousel-item-name-div carousel-item-deskript-div" ng-style="{'font-weight': tabName.items[$index+1].bold ? 'bold' : 'normal',
                    'font-style': tabName.items[$index+1].description.italic ? 'italic' : 'normal',
                    'text-decoration': tabName.items[$index+1].description.underline ? 'underline' : 'normal'}" ng-show="tabName.items[$index+1].description.value">{{tabName.items[$index+1].description.value}}</div>
                            <div class="carousel-item-name-div carousel-item-deskript-div" ng-show="!tabName.items[$index+1].description.value">How To Fly A Private Jet On Your Next Trip</div>
                        </div>

                        <div class="carousel-item-div"  ng-show="tabName.items.length >$index+2">
                            <div class="carousel-item-name-div" ng-style="{'font-weight': tabName.items[$index+2].name.bold ? 'bold' : 'normal',
                    'font-style': tabName.items[$index+2].name.italic ? 'italic' : 'normal',
                    'text-decoration': tabName.items[$index+2].name.underline ? 'underline' : 'normal'}" ng-show="tabName.items[$index+2].name.value">{{tabName.items[$index+2].name.value}}</div>
                            <div class="carousel-item-name-div" ng-show="!tabName.items[$index+2].name.value">Maui Hotel</div>
                            <div id="cf4a">
                                <img id="ing-1" class="item-images-3 imgFirst" ng-show="!tabName.items[$index+2].link" ng-src="{{tabName.items[$index+2].image}}">
                                <a href="{{tabName.items[$index+2].link}}" target="_blank"  ng-show="tabName.items[$index+2].link">

                                    <img id="ing-1" class="item-images-3 imgFirst" ng-show="tabName.items[$index+1].image" ng-src="{{tabName.items[$index+2].image}}">

                                </a>
                            </div>
                            <div class="carousel-item-name-div carousel-item-deskript-div" ng-style="{'font-weight': tabName.items[$index+2].description.bold ? 'bold' : 'normal',
                    'font-style': tabName.items[$index+2].description.italic ? 'italic' : 'normal',
                    'text-decoration': tabName.items[$index+2].description.underline ? 'underline' : 'normal'}" ng-show="tabName.items[$index+2].description.value">{{tabName.items[$index+2].description.value}}</div>
                            <div class="carousel-item-name-div carousel-item-deskript-div" ng-show="!tabName.items[$index+2].description.value">How To Fly A Private Jet On Your Next Trip</div>
                        </div>
                        <div class="carousel-item-div" ng-show="tabName.items.length-3 < $index && tabName.items.length > 3">
                            <div class="carousel-item-name-div" ng-style="{'font-weight': tabName.items[0].name.bold ? 'bold' : 'normal',
                    'font-style': tabName.items[0].name.italic ? 'italic' : 'normal',
                    'text-decoration': tabName.items[0].name.underline ? 'underline' : 'normal'}"  ng-show="tabName.items[0].name.value">{{tabName.items[0].name.value}}</div>
                            <div class="carousel-item-name-div" ng-show="!tabName.items[0].name.value">Maui Hotel</div>
                            <div id="cf4a">
                                <img id="ing-1" class="item-images-3 imgFirst" ng-show="!tabName.items[0].link" ng-src="{{tabName.items[0].image}}">
                                <a href="{{tabName.items[0].link}}" target="_blank"  ng-show="tabName.items[0].link">
                                    <img id="ing-1" class="item-images-3 imgFirst" ng-show="tabName.items[0].image" ng-src="{{tabName.items[0].image}}">
                                </a>
                            </div>
                            <div class="carousel-item-name-div carousel-item-deskript-div" ng-style="{'font-weight': tabName.items[0].description.bold ? 'bold' : 'normal',
                    'font-style': tabName.items[0].description.italic ? 'italic' : 'normal',
                    'text-decoration': tabName.items[0].description.underline ? 'underline' : 'normal'}" ng-show="tabName.items[0].description.value">{{tabName.items[0].description.value}}</div>
                            <div class="carousel-item-name-div carousel-item-deskript-div" ng-show="!tabName.items[0].description.value">How To Fly A Private Jet On Your Next Trip</div>
                        </div>

                        <div  class="carousel-item-div" ng-show="tabName.items.length-2 < $index && tabName.items.length > 3">
                            <div class="carousel-item-name-div" ng-style="{'font-weight': tabName.items[1].name.bold ? 'bold' : 'normal',
                    'font-style': tabName.items[1].name.italic ? 'italic' : 'normal',
                    'text-decoration': tabName.items[1].name.underline ? 'underline' : 'normal'}" ng-show="tabName.items[1].name.value">{{tabName.items[1].name.value}}</div>
                            <div class="carousel-item-name-div" ng-show="!tabName.items[1].name.value">Maui Hotel</div>
                            <div id="cf4a">
                                <img id="ing-1" class="item-images-3 imgFirst" ng-show="!tabName.items[1].link" ng-src="{{tabName.items[1].image}}">
                                <a href="{{tabName.items[1].link}}" target="_blank"  ng-show="tabName.items[1].link">
                                    <img id="ing-1" class="item-images-3 imgFirst" ng-show="tabName.items[1].image"  ng-src="{{tabName.items[1].image}}">
                                </a>
                            </div>
                            <div class="carousel-item-name-div carousel-item-deskript-div" ng-style="{'font-weight': tabName.items[1].description.bold ? 'bold' : 'normal',
                    'font-style': tabName.items[1].description.italic ? 'italic' : 'normal',
                    'text-decoration': tabName.items[1].description.underline ? 'underline' : 'normal'}" ng-show="tabName.items[1].description.value">{{tabName.items[1].description.value}}</div>
                            <div class="carousel-item-name-div carousel-item-deskript-div" ng-show="!tabName.items[1].description.value">How To Fly A Private Jet On Your Next Trip</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>


<style type="text/css">

    #cf4a{
        width: 130px;
        height:130px;

    }


    .item-bottom-div{
        height: 120px;
        width: 100%;
    }

    .item-top-div{
        height: 100px;
        width: 100%;
    }


    .main-carousel-image-div-2{
        text-align: center;
        position: absolute!important;
        top:10px;
        width: 100%;
    }

    .main-carousel-item-div{
        display: inline-block;
        width: 160px;
        vertical-align: top;
    }


    .carousel-image-div{
        margin-left: 25px;
        margin-top: 10px;
    }

    .carousel-item-name-div{
        width: 140px;
        height: 30px;
        font-weight: bold;
        font-size: 16px;
        margin-left: 15px;
        max-height:30px;
        min-height: 30px;
        max-width: 140px;
    }


    .carousel-item-deskript-div{
        font-weight: normal;
        font-size: 14px;
        max-height:40px;
        min-height: 40px;
    }


    .carousel-item-div{
        float: left;
        width: 160px;
    }

    .carousel-indicators{
        display: none;
    }

    .carousel-control{
        box-shadow: none !important;
        width: 25px!important;
        background-color: rgba(255, 255 255 ,0)!important;
    }

    .carousel-control:hover, .carousel-control:focus{
        background-color: rgba(255, 255 255 ,0)!important;
    }
    .cardlet{
        border-width: 2px;
        border-style: solid;
        border-color: #bdbdbd;
    }

    .item-images-3 {
        width: 130px;
        height: 130px;
        border-width: 5px;
        border-style: solid;
        border-color: #CFCFCF;
        border-radius: 70px;
        margin-left: 20px;

    }

    .carousel-control.left, .carousel-control.right {
        background-image: none !important;
        background-color: rgba(255, 255, 255, 0)!important;
    }


</style>
