<div>
    <div class="cardlet3"  ng-style="{'background-color': '#'+tabName.layout.mainColor}" style="position:relative;">

        <div>
            <div ng-show="tabName.items.length == 1" style="position: relative;">
                <div class="main-carousel-image-div-new-3" >

                    <div ng-repeat="slide in tabName.items"  class="main-carousel-item-div-new-3">
                            <div style="max-height: 240px;overflow: hidden">
                                <img crossorigin="anonymous"  style="width: 100%" id="ing-1" ng-src="{{slide.image}}">
                            </div>
                            <div class="item-3-content" ng-hide="!slide.name.value && !slide.description.value" ng-style="{'background-color': '#'+tabName.layout.mainColor, 'border-color': '#'+tabName.layout.secondaryColor, 'text-align':'center'}">
                                <a style="max-height: 240px;" href="{{slide.link}}" target="_blank" ng-class="{disabledLink: !slide.link}">
                                    <div class="carousel-item-name-div-new-3" ng-style="{'font-family': slide.name.bold ? 'Roboto-Bold' : 'Roboto-Regular',
                                'font-style': slide.name.italic ? 'italic' : 'normal',
                                'text-decoration': slide.name.underline ? 'underline' : 'normal' , 'color': '#'+tabName.layout.secondaryColor}" ng-show="slide.name.value">{{slide.name.value}}</div>
                                    <div class="carousel-item-name-div-new-3" ng-style="{'color': '#'+tabName.layout.secondaryColor}" ng-show="!slide.name.value">Maui Hotel</div>
                                    <div class="carousel-item-name-div-new-3 carousel-item-deskript-div" ng-style="{'font-family': slide.description.bold ? 'Roboto-Bold' : 'Roboto-Regular',
                                'font-style': slide.description.italic ? 'italic' : 'normal',
                                'text-decoration': slide.description.underline ? 'underline' : 'normal' }" ng-show="slide.description.value">{{slide.description.value}}</div>
                                </a>
                                </div>
                        </div>
                    </div>

                </div>

            </div>
            <div uib-carousel active="vm.currentSlide" interval="myInterval" no-wrap="noWrapSlides" ng-show="tabName.items.length > 1"  ng-if="tabName.items.length > 1" ng-init="initSlide(tabName)">
                <div uib-slide ng-repeat="slide in tabName.items track by slide.position" index="slide.position">
                    <div style="max-height: 240px;overflow: hidden">
                        <img crossorigin="anonymous" style="width: 100%" id="ing-1" ng-src="{{slide.image}}">

                    </div>
                    <div class="main-carousel-image-div-new-3" style="height: 240px">
                        <a href="{{slide.link}}" target="_blank" ng-class="{disabledLink: !slide.link}">
                            <div  class="main-carousel-item-div-new-3" ng-style="{'text-align': 'center'}">
                                <div class="item-3-content" ng-style="{'background-color': '#'+tabName.layout.mainColor, 'border-color': '#'+tabName.layout.secondaryColor, 'text-align':'center'}" ng-hide="!slide.name.value && !slide.description.value">
                                    <div class="carousel-item-name-div-new-3" ng-style="{'font-family': slide.name.bold ? 'Roboto-Bold' : 'Roboto-Regular',
                            'font-style': slide.name.italic ? 'italic' : 'normal',
                            'text-decoration': slide.name.underline ? 'underline' : 'normal' , 'color': '#'+tabName.layout.secondaryColor}" ng-show="slide.name.value">{{slide.name.value}}</div>
                                    <div class="carousel-item-name-div-new-3 carousel-item-deskript-div" ng-style="{'font-family': slide.description.bold ? 'Roboto-Bold' : 'Roboto-Regular',
                        'font-style': slide.description.italic ? 'italic' : 'normal',
                        'text-decoration': slide.description.underline ? 'underline' : 'normal' }" ng-show="slide.description.value">{{slide.description.value}}</div>

                                </div>
                            </div>
                            </a>
                        </div>
                </div>
            </div>
        </div>

    </div>

</div>


<style type="text/css">


    .item-3-content{
        width: 240px;
        height: 116px;
        margin: 0 auto;
        top: 60px;
        left: 148px;
        border-width: 3px;
        border-style: solid;
        position: absolute;
    }

    .main-carousel-item-div-new-3{
        display: inline-block;
        width: 538px;
        vertical-align: top;
        text-align: left;
        height: 100%;
    }


    .main-carousel-image-div-new-3{
        text-align: center;
        height: 240px;
    }

    .main-carousel-item-div{
        width: 160px;
        display: inline-block;
        vertical-align: top;
    }


    .carousel-image-div{
        margin-left: 25px;
        margin-top: 10px;
    }

    .carousel-item-name-div-new-3{
        max-width: 200px;
        height: 30px;
        font-size: 16px;
        margin-left: 15px;
        max-height:30px;
        min-height: 30px;
        margin-top: 10px;
        color: #242424
    }


    .carousel-item-deskript-div{
        font-weight: normal;
        font-size: 14px;
        max-height:60px;
        min-height: 60px;
        overflow: hidden;
    }


    .carousel-item-div{
        float: left;
        width: 160px;
    }


    .item-images-new {
        width: 130px;
        height: 130px;
        border-radius: 25%;
        border-width: 5px;
        border-style: solid;
        border-color: #FFFfff;
        margin-left: 20px;
    }





</style>
