

<div class="entiti-content" style="width: 300px; text-align: left;">
    <div style="margin-top: 40px">
        <div class="user-name" ng-style="{'font-weight': userCardlets[segnatureId].tabs[firstBusinessCardId].userName.bold ? 'bold' : 'normal',
                    'font-style': userCardlets[segnatureId].tabs[firstBusinessCardId].userName.italic ? 'italic' : 'normal',
                    'text-decoration': userCardlets[segnatureId].tabs[firstBusinessCardId].userName.underline ? 'underline' : 'normal'}" style="font-size: 22px;color: #4BABE2;text-align: left">{{userCardlets[segnatureId].tabs[firstBusinessCardId].userName.value}}</div>

        <div class="user-main-text job-titile" ng-style="{'font-weight': userCardlets[segnatureId].tabs[firstBusinessCardId].job.bold ? 'bold' : 'normal',
                    'font-style': userCardlets[segnatureId].tabs[firstBusinessCardId].job.italic ? 'italic' : 'normal',
                    'text-decoration': userCardlets[segnatureId].tabs[firstBusinessCardId].job.underline ? 'underline' : 'normal'}" style="text-align: left">{{userCardlets[segnatureId].tabs[firstBusinessCardId].job.value}}</div>

        <div style="margin-bottom: 0px;text-align: left" class="user-main-text job-titile" ng-style="{'font-weight': userCardlets[segnatureId].tabs[firstBusinessCardId].phone.bold ? 'bold' : 'normal',
                    'font-style': userCardlets[segnatureId].tabs[firstBusinessCardId].phone.italic ? 'italic' : 'normal',
                    'text-decoration': userCardlets[segnatureId].tabs[firstBusinessCardId].phone.underline ? 'underline' : 'normal'}">{{userCardlets[segnatureId].tabs[firstBusinessCardId].phone.value}}</div>

         <div style="text-align: left" class="user-main-text job-titile" ng-style="{'font-weight': userCardlets[segnatureId].tabs[firstBusinessCardId].site.bold ? 'bold' : 'normal',
                            'font-style': userCardlets[segnatureId].tabs[firstBusinessCardId].site.italic ? 'italic' : 'normal',
                            'text-decoration': userCardlets[segnatureId].tabs[firstBusinessCardId].site.underline ? 'underline' : 'normal'}">{{userCardlets[segnatureId].tabs[firstBusinessCardId].site.value}}</div>


        <div>
            <div ng-repeat="tabName in userCardlets[segnatureId].tabs" style="display: inline-block; width: 25%; text-align: center">
                <div>

                    <div ng-style="{'display': !tabName.sigImage ? 'block' : 'none'}" style="width: 20px;
            height: 20px;
            background-color: #4BABE2;
            border-radius: 100%;
            border-width: 5px;
            border-color: #D0D8D9;
            border-style: solid;
            margin: auto;
            margin-top: 20px;"></div>
                    <div ng-style="{'display': tabName.sigImage ? 'block' : 'none'}"><img style="width: 60px; height: 60px; border-radius: 30px" src="{{tabName.sigImage}}"></div>
                    <div style="position: relative">
                        <a href="{{signatureLink}}" class="tablinks2"ng-click="openCity(tabName.name+tabName.position, 'card'+tabName.position+tabName.name)">{{tabName.name}}</a>
                    </div>
                </div>
            </div>
        </div>
        <img ng-style="{'display': isAddBanner ? 'block' : 'none'}" style="width: 100%;" src="{{banner}}">
    </div>
</div>










