<div class="modal-header login-header" style="height: 50px">
<button type="button" class="close login-close" data-dismiss="modal" aria-hidden="true"
        ng-click="vm.cancel()">&times;</button>
</div>
<div class="modal-body login-body">
    <div class="row">
        <div class="col-md-12 login-form">
            <div class="alert alert-danger" ng-show="vm.authenticationError">
                <strong>Failed to sign in!</strong> Please check your credentials and try again.
            </div>
        </div>
        <div class="col-md-12">
            <div class="login-head-text">Sign in</div>
            <form class="form login-form" role="form" ng-submit="vm.login($event)">
                <div class="form-group-new">
                    <input type="text" ng-change="vm.authenticationError = null" class="profile-input" id="username" placeholder="E-mail" ng-model="vm.username">
                </div>
                <div class="form-group-new">
                    <input type="password" ng-change="vm.authenticationError = null" class="profile-input" id="password" placeholder="Password"
                           ng-model="vm.password">
                </div>
                <div class="form-group form-group-new" style="margin-bottom: 30px">
                    <div style="display: inline-block; width: 50%;">
                    <label for="rememberMe">
                        <input type="checkbox" id="rememberMe" ng-model="vm.rememberMe" style="margin-top: 0px;width: 14px;height: 14px;" checked>
                        <span class="login-lable">Remember me</span>
                    </label>
                    </div>
                    <div style="float: right; width: 50%;text-align: right">
                        <a class="alert-link login-lable" href="" ng-click="vm.requestResetPassword()">Forgot your password?</a>
                    </div>
                </div>
                <button type="submit" class="loginButton" style="width: 100%">SIGN IN</button>

                <div style="color: #7F8C8C; font-size: 13px; text-align: center; margin-top: 20px; margin-bottom: 45px">
                    Don't have an account yet? <a class="alert-link register-link" style="color:#13BCB5;font-size: 13px;  font-weight: bold" href="" ng-click="vm.register()"> Sign up</a>
                </div>
            </form>
            <p></p>
        </div>

        <!--<div class="col-md-6">-->
        <!--<br/>-->
        <!--<jh-social ng-provider="google"></jh-social>-->
        <!--<jh-social ng-provider="facebook"></jh-social>-->
        <!--<jh-social ng-provider="twitter"></jh-social>-->
        <!--&lt;!&ndash; jhipster-needle-add-social-button &ndash;&gt;-->
        <!--</div>-->
    </div>
</div>
