
</div>
</div>
<div ng-show="vm.isFirstStep && !vm.isDone" class="registration-div">
    <div class="register-head"></div>
    <div class="register-container">
        <div>
            <div class="row main-head-text">
                <div class="col-md-7">Registration</div>
                <div class="col-md-5 steps">Step 1 of 3</div>
            </div>

            <div class="alert alert-success" ng-show="vm.success">
                <strong>Registration saved!</strong> Please check your email for confirmation.
            </div>

            <div class="alert alert-danger" ng-show="vm.error">
                <strong>Registration failed!</strong> Please try again later.
            </div>

            <div class="alert alert-danger" ng-show="vm.errorUserExists">
                <strong>Login name already registered!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="vm.errorEmailExists">
                <strong>E-mail is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="vm.doNotMatch">
                The password and its confirmation do not match!
            </div>
        </div>
        <div>
            <form ng-show="!vm.success" name="form" role="form" novalidate show-validation>

                <div class="form-group">
                    <label class="login-lable" for="username">NAME*</label>
                    <input type="text" class="form-control profile-input" id="username" name="username" placeholder="First & Last Name"
                           ng-model="vm.registerAccount.username" ng-minlength=3 ng-maxlength=50 required>
                    <div ng-show="form.username.$dirty && form.username.$invalid">
                        <p class="help-block"
                           ng-show="form.username.$error.required">
                            Your username is required.
                        </p>
                        <p class="help-block"
                           ng-show="form.username.$error.minlength">
                            Your username is required to be at least 1 character.
                        </p>
                        <p class="help-block"
                           ng-show="form.username.$error.maxlength">
                            Your username cannot be longer than 50 characters.
                        </p>
                        <p class="help-block"
                           ng-show="form.username.$error.pattern">
                            Your username can only contain lower-case letters and digits.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="login-lable" for="email">E-mail*</label>
                    <input type="email" class="form-control profile-input" id="email" name="email" placeholder="Your E-mail"
                           ng-model="vm.registerAccount.email" ng-minlength=5 ng-maxlength=100 required>
                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block"
                           ng-show="form.email.$error.required">
                            Your e-mail is required.
                        </p>
                        <p class="help-block"
                           ng-show="form.email.$error.email">
                            Your e-mail is invalid.
                        </p>
                        <p class="help-block"
                           ng-show="form.email.$error.minlength">
                            Your e-mail is required to be at least 5 characters.
                        </p>
                        <p class="help-block"
                           ng-show="form.email.$error.maxlength">
                            Your e-mail cannot be longer than 100 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="login-lable" for="password">Password*</label>
                    <input type="password" class="form-control profile-input" id="password" name="password" placeholder="Your Password"
                           ng-model="vm.registerAccount.password" ng-minlength=3 ng-maxlength=50 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                           ng-show="form.password.$error.required">
                            Your password is required.
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.minlength">
                            Your password is required to be at least 4 characters.
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.maxlength">
                            Your password cannot be longer than 50 characters.
                        </p>
                    </div>
                    <password-strength-bar password-to-check="vm.registerAccount.password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="login-lable" for="confirmPassword">Password confirmation*</label>
                    <input type="password" class="form-control profile-input" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password"
                           ng-model="vm.confirmPassword" ng-minlength=3 ng-maxlength=50  pw-check='password' required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.required">
                            Your confirmation password is required.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.minlength">
                            Your confirmation password is required to be at least 4 characters.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.maxlength">
                            Your confirmation password cannot be longer than 50 characters.
                        </p>
                       <p class="help-block"
                          ng-show="form.confirmPassword.$error.pwmatch">
                           Passwords don't match.
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <input type="checkbox" id="accept" name="accept"style="margin-top: 0px;width: 14px;height: 14px;" ng-model="vm.accept" required>
                    <label class="login-lable" for="accept">I accept <a class="terms-and-conditions" href="#">terms and conditions</a> of using</label>
                </div>
                <div style="text-align: center;">
                    <button ng-click="vm.nextStep()" type="submit" ng-disabled="form.$invalid" class="btn btn-primary main-btn">Next</button>
                </div>
            </form>

            <div class="indication-page-block">
                <div class="indication-page">
                    <div class="circle circle-active" id="page1"></div>
                    <div class="circle" id="curent-page"></div>
                    <div class="circle" id="page3"></div>
                </div>
            </div>
            <div style="margin-top: 70px;color: #7F8C8C;">
                * Required fields
            </div>
        </div>
    </div>
    <div class="login-registration">
        Already have an account? <a href="#"  ng-click="vm.login()">SIGN IN</a>
    </div>
</div>



<div ng-show="!vm.isFirstStep && !vm.isDone" class="registration-div">
    <div class="register-head"></div>
    <div class="register-container">
        <div>
            <div class="row main-head-text">
                <div class="col-md-7"></div>
                <div class="col-md-5 steps">Step 2 of 3</div>
            </div>

            <div class="alert alert-success" ng-show="vm.success">
                <strong>Registration saved!</strong> Please check your email for confirmation.
            </div>

            <div class="alert alert-danger" ng-show="vm.error">
                <strong>Registration failed!</strong> Please try again later.
            </div>

            <div class="alert alert-danger" ng-show="vm.errorUserExists">
                <strong>Login name already registered!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="vm.errorEmailExists">
                <strong>E-mail is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="vm.doNotMatch">
                The password and its confirmation do not match!
            </div>
        </div>
        <div>
            <form ng-show="!vm.success" name="form2" role="form" novalidate show-validation>

                <div class="form-group">
                    <label class="login-lable" for="phoneNumber">PHONE NUMBER</label>
                    <input type="text" class="form-control profile-input" id="phoneNumber" name="phoneNumber" placeholder="Your Phone Number"
                           ng-model="vm.registerAccount.phoneNumber">
                </div>
                <div class="form-group">
                    <label class="login-lable" for="address">ADDRESS</label>
                    <input type="text" class="form-control profile-input" id="address" name="address" placeholder="Your Address"
                           ng-model="vm.registerAccount.address">
                </div>

                <div class="form-group">
                    <label class="login-lable" for="companyName">COMPANY NAME</label>
                    <input type="text" class="form-control profile-input" id="companyName" name="companyName" placeholder="Your Company Name"
                           ng-model="vm.registerAccount.companyName">
                </div>
                <div class="form-group">
                    <label class="login-lable" for="companySite">COMPANY WEBSITE</label>
                    <input type="text" class="form-control profile-input" id="companySite" name="companySite" placeholder="Your Company Website"
                           ng-model="vm.registerAccount.companySite">
                </div>

                <div class="form-group">
                    <label class="login-lable" for="jobTitle">JOB TITLE</label>
                    <input type="text" class="form-control profile-input" id="jobTitle" name="jobTitle" placeholder="Job Title"
                           ng-model="vm.registerAccount.jobTitle">
                </div>

                <div style="text-align: center;">
                    <button  type="submit" ng-disabled="for2m.$invalid" ng-click="vm.register()" class="btn btn-primary main-btn">Save</button>
                    <button  type="submit" ng-disabled="form2.$invalid" ng-click="vm.skip()" class="btn btn-primary skip-btn">skip</button>
                </div>
            </form>

            <div class="indication-page-block">
                <div class="indication-page">
                    <div class="circle" id="page1"></div>
                    <div class="circle circle-active" id="curent-page"></div>
                    <div class="circle" id="page3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="login-registration">
        Already have an account? <a href="#"  ng-click="vm.login()">SIGN IN</a>
    </div>
</div>


<div ng-show="vm.isDone" class="registration-div">
    <div class="register-head"></div>
    <div class="register-container">
        <div>
            <div class="row main-head-text">
                <div class="col-md-7"></div>
                <div class="col-md-5 steps">Step 3 of 3</div>
            </div>
        </div>
        <div>
            <div class="email-img-block">
                <img src="/content/images/email.png" alt="">
            </div>
            <div class="reg-saved-block">
                REGISTRATION SAVED!
            </div>
            <div class="check-email-block">
                Please check your <b>{{vm.registerAccount.email}}</b> for confirmation.
            </div>
            <div class="check-span-block">
                No email? Check your spam folder! <a href="">Click here to resend</a> or contact us at <a href="">costumer@sigterra.com.</a>
            </div>
            <div class="indication-page-block">
                <div class="indication-page">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle circle-active"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="login-registration">
        Already have an account? <a href="#"  ng-click="vm.login()">LOGIN</a>
    </div>
</div>
