
</div>
</div>
<div ng-show="vm.isFirstStep && !vm.isDone" class="registration-div">
    <div class="register-head"></div>
    <div class="register-container">
        <div>
            <div class="row main-head-text ">
                <div>Registration</div>
            </div>

            <div style="position: relative;  margin-top: 30px; margin-bottom: 30px">
                <div class="registration-steps-line"></div>
                <div class="row registration-steps-bar">
                    <div style="text-align: left; float: left; width: 33.33333%">
                        <div class="registration-steps registration-steps-active" style="margin-left: 0px;">1</div>
                    </div>
                    <div style="text-align: center; float: left;width: 33.33333%">
                        <div class="registration-steps">2</div>
                    </div>
                    <div style="text-align: right; float: left;width: 33.33333%">
                        <div class="registration-steps" style="margin-right: -1px">3</div>
                    </div>
                </div>
            </div>

            <div class="alert alert-success" check-position-scroll ng-show="vm.success">
                <strong>Registration saved!</strong> Please check your email for confirmation.
            </div>

            <div class="alert alert-danger" ng-show="vm.error">
                <strong>Registration failed!</strong> Please try again later.
            </div>

            <div class="alert alert-danger" ng-show="vm.errorUserExists">
                <strong>Login name already registered!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="vm.errorEmailExists">
                <strong>E-mail is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="vm.doNotMatch">
                The password and its confirmation do not match!
            </div>
        </div>
        <div>
            <form ng-show="!vm.success" name="form" role="form" novalidate show-validation>

                <div class="form-group">
                    <input type="text" class="profile-input" id="username" name="username" placeholder="Your Name *"
                           ng-model="vm.registerAccount.username" ng-minlength=1 ng-maxlength=50 required>
                    <label ng-hide="vm.registerAccount.username" for="username" class="custom-placeholder">Your Name *</label>
                    <div ng-show="form.username.$dirty && form.username.$invalid">
                        <p class="help-block"
                           ng-show="form.username.$error.required">
                            Your username is required.
                        </p>
                        <p class="help-block"
                           ng-show="form.username.$error.minlength">
                            Your username is required to be at least 1 character.
                        </p>
                        <p class="help-block"
                           ng-show="form.username.$error.maxlength">
                            Your username cannot be longer than 50 characters.
                        </p>
                        <p class="help-block"
                           ng-show="form.username.$error.pattern">
                            Your username can only contain lower-case letters and digits.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <input type="email" ng-change="vm.errorEmailExists = null;" class="profile-input" id="email" name="email" placeholder="E-mail *"
                           ng-model="vm.registerAccount.email" ng-minlength=5 ng-maxlength=100 required>
                    <label ng-hide="form.email.$error.email || form.email.$error.minlength || form.email.$error.maxlength || vm.registerAccount.email" for="email" class="custom-placeholder">E-mail *</label>
                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block"
                           ng-show="form.email.$error.required">
                            Your e-mail is required.
                        </p>
                        <p class="help-block"
                           ng-show="form.email.$error.email">
                            Your e-mail is invalid.
                        </p>
                        <p class="help-block"
                           ng-show="form.email.$error.minlength">
                            Your e-mail is required to be at least 5 characters.
                        </p>
                        <p class="help-block"
                           ng-show="form.email.$error.maxlength">
                            Your e-mail cannot be longer than 100 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" class="profile-input" id="password" name="password" placeholder="Password *"
                           ng-model="vm.registerAccount.password" ng-minlength=4 ng-maxlength=50 required>
                    <label ng-hide="vm.registerAccount.password || form.password.$error.minlength || form.password.$error.maxlength" for="password" class="custom-placeholder">Password *</label>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                           ng-show="form.password.$error.required">
                            Your password is required.
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.minlength">
                            Your password is required to be at least 4 characters.
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.maxlength">
                            Your password cannot be longer than 50 characters.
                        </p>
                    </div>
                    <password-strength-bar password-to-check="vm.registerAccount.password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <input type="password" class="profile-input" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password *"
                           ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50  pw-check='password' required>
                    <label ng-hide="vm.confirmPassword || form.confirmPassword.$error.minlength || form.confirmPassword.$error.maxlength" for="confirmPassword" class="custom-placeholder">Confirm Password *</label>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.required">
                            Your confirmation password is required.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.minlength">
                            Your confirmation password is required to be at least 4 characters.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.maxlength">
                            Your confirmation password cannot be longer than 50 characters.
                        </p>
                       <p class="help-block"
                          ng-show="form.confirmPassword.$error.pwmatch">
                           Passwords don't match.
                        </p>
                    </div>
                </div>

                <div style="text-align: right">
                    <div style="color: #7F8C8C; font-size: 11px;">* Required</div>
                </div>
                <div style="color: #7F8C8C;text-align: center">
                    Choosing Next means that you agree to the <a target="_blank" class="terms-and-conditions" href="/termsAndConditions.html">Terms and Conditions</a> of using.
                </div>
                <div style="text-align: center;margin-top: 35px">
                    <button ng-click="vm.nextStep()" type="submit" ng-disabled="form.$invalid" class="loginButton">Next</button>
                </div>
            </form>

            <div style="color: #7F8C8C; font-size: 13px; text-align: center; padding-top: 20px; padding-bottom: 45px">
                Already have an account? <a class="alert-link register-link" style="color:#13BCB5;font-size: 13px;  font-weight: bold" href="" ng-click="vm.login()"> Sign in</a>
            </div>
        </div>
    </div>
</div>



<div ng-show="!vm.isFirstStep && !vm.isDone" class="registration-div">
    <div class="register-head"></div>
    <div class="register-container">
        <div>
            <div class="row main-head-text">
                <div>Additional information</div>
            </div>

            <div style="position: relative; margin-top: 30px; margin-bottom: 30px">
                <div class="registration-steps-line"></div>
                <div class="row registration-steps-bar">
                    <div style="text-align: left; float: left; width: 33.33333%">
                        <div style="margin-left: 0px;"><img src="/content/images/new/registerStepDone.png" class="registration-steps-image"></div>
                    </div>
                    <div style="text-align: center; float: left; width: 33.33333%">
                        <div class="registration-steps registration-steps-active">2</div>
                    </div>
                    <div style="text-align: right ; float: left; width: 33.33333%">
                        <div class="registration-steps" style="margin-right: -1px">3</div>
                    </div>
                </div>
            </div>

            <div class="alert alert-success" ng-show="vm.success">
                <strong>Registration saved!</strong> Please check your email for confirmation.
            </div>

            <div class="alert alert-danger" ng-show="vm.error">
                <strong>Registration failed!</strong> Please try again later.
            </div>

            <div class="alert alert-danger" ng-show="vm.errorUserExists">
                <strong>Login name already registered!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="vm.errorEmailExists">
                <strong>E-mail is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="vm.doNotMatch">
                The password and its confirmation do not match!
            </div>
        </div>
        <div>
            <form ng-show="!vm.success" name="form2" role="form" novalidate show-validation>

                <div class="form-group">
                    <input type="text" class="profile-input" id="phoneNumber" name="phoneNumber" placeholder="Phone number"
                           ng-model="vm.registerAccount.phoneNumber">
                    <label ng-hide="vm.registerAccount.phoneNumber" for="phoneNumber" class="custom-placeholder">Phone number</label>
                </div>
                <div class="form-group">
                    <input type="text" class="profile-input" id="address" name="address" placeholder="Address"
                           ng-model="vm.registerAccount.address">
                    <label ng-hide="vm.registerAccount.address" for="address" class="custom-placeholder">Address</label>
                </div>

                <div class="form-group">
                    <input type="text" class="profile-input" id="companyName" name="companyName" placeholder="Company name"
                           ng-model="vm.registerAccount.companyName">
                    <label ng-hide="vm.registerAccount.companyName" for="companyName" class="custom-placeholder">Company name</label>
                </div>
                <div class="form-group">
                    <input type="text" class="profile-input" id="companySite" name="companySite" placeholder="Company website"
                           ng-model="vm.registerAccount.companySite">
                    <label ng-hide="vm.registerAccount.companySite" for="companySite" class="custom-placeholder">Company website</label>
                </div>

                <div class="form-group">
                    <input type="text" class="profile-input" id="jobTitle" name="jobTitle" placeholder="Job title"
                           ng-model="vm.registerAccount.jobTitle">
                    <label ng-hide="vm.registerAccount.jobTitle" for="jobTitle" class="custom-placeholder">Job title</label>
                </div>

                <div style="text-align: center;">
                    <button  type="submit" ng-disabled="for2m.$invalid" ng-click="vm.register()" class="loginButton" style="width: 130px; float: left">Save</button>
                    <button  type="submit" ng-disabled="form2.$invalid" ng-click="vm.skip()" class="btn btn-primary skip-btn"  style="width: 130px; float: right">skip</button>
                </div>
            </form>
            <div style="color: #7F8C8C; font-size: 13px; text-align: center; padding-top: 60px; padding-bottom: 45px">
                Already have an account?<a class="alert-link register-link" style="color:#13BCB5;font-size: 13px; font-weight: bold" href="" ng-click="vm.login()">   Sign in</a>
            </div>
        </div>
    </div>
</div>


<div ng-show="vm.isDone" class="registration-div">
    <div class="register-head"></div>
    <div class="register-container">
        <div>
            <div class="row main-head-text">
               <div>Email sent</div>
            </div>

            <div style="position: relative; margin-top: 30px; margin-bottom: 30px">
                <div class="registration-steps-line"></div>
                <div class="row registration-steps-bar">
                    <div cstyle="text-align: left; float: left; width: 33.33333%">
                        <div style="text-align: left; float: left; width: 33.33333%">
                            <img src="/content/images/new/registerStepDone.png" class="registration-steps-image"></div>
                    </div>
                    <div style="text-align: center; float: left; width: 33.33333%">
                        <div style="margin-left: 0px;"><img src="/content/images/new/registerStepDone.png" class="registration-steps-image"></div>
                    </div>
                    <div style="text-align: right; float: left; width: 33.33333%">
                        <div class="registration-steps registration-steps-active" style="margin-right: -1px">3</div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="email-img-block">
                <img src="/content/images/email.png" alt="">
            </div>
            <div class="check-email-block" style="margin-top: 40px">
                Please check your <b>{{vm.registerAccount.email}}</b> for confirmation.
            </div>
            <div class="check-span-block">
                No email? Check your spam folder! <a href="">Click here to resend</a> or contact us at <a href="">costumer@sigterra.com.</a>
            </div>
            <div style="color: #7F8C8C; font-size: 13px; text-align: center; padding-top: 20px; padding-bottom: 45px">
                Already have an account? <a class="alert-link register-link" style="color:#13BCB5;font-size: 13px;  font-weight: bold" href="" ng-click="vm.login()"> Sign in</a>
            </div>
        </div>
    </div>
</div>
