<script>
    $(document).ready(function(){
        $("#default-navbar").removeClass("navbar-fixed-top");
        $("#main-footer").addClass("ng-hide");
        console.log()
    });
</script>
<link rel="stylesheet" href="/previewCardlet.css">
<div class="entiti-content preview-bg" ng-init="getCardlet()" style="padding-bottom: 30px;">


    <div class="preview-border">
        <div class="preview-title"></div>
    </div>
    <div class="preview-cardlet" ng-click="clicksCounter($event)"
         style="margin: auto;width: 570px;padding-top: 100px; padding-left: 30px; position: relative">
        <div class="alert alert-success-added" check-position-scroll ng-show="successfulyAdded">
            <strong>{{successfulyAdded}}</strong>
        </div>

        <div class="alert alert-danger" check-position-scroll ng-show="errorAddeding">
            <strong>{{errorAddeding}}</strong>
        </div>

        <div style="position:relative;">
            <div>
                <ul class="tab2">
                    <li style="background-color: #fff" class="tabs2 tabs2{{tabNames.id}}" ng-style="addColors('card'+tabName.position+tabName.name, tabName.layout.mainColor, tabName.layout.secondaryColor, 'tabLink'+tabName.name)" ng-repeat="tabName in tabNames.tabs" id="card{{tabName.position}}{{tabName.name}}" ng-class="tabName.position == 0 ? 'active' : ''">
                        <div style="position: relative; display: table; width: 100%;">
                            <a style="overflow: hidden; text-overflow: ellipsis;" href="javascript:void(0)" id="tabLink{{tabName.name}}" class="tablinks2" style="color:#{{tabName.layout.secondaryColor}}" ng-click="openCity(tabName.name+tabName.position, 'card'+tabName.position+tabName.name, tabName.position)">{{tabName.name}}</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div ng-repeat="tabName in tabNames.tabs " id="{{tabName.name}}{{tabName.position}}" class="tabcontent2" ng-class="tabName.position == 0 ? 'display' : 'none-display'">
                <div class="custom-slide-prev"><img src="/content/images/arrow_left.png" ng-show="vm.tabType != 1 && tabName.items.length > 1" ng-click="prevSlide($index)"></div>
                <div data-item-id="{{tabNames.tabs[$index].id}}"  ng-click="openPreviewDialog(tabName.tabType)" class="tab-item">
                    <ng-include style="display: block!important" src="tabName.layout.url"></ng-include>
                </div>
                <div class="custom-slide-next"><img src="/content/images/arrow_right.png" ng-show="vm.tabType != 1 && tabName.items.length > 1"  ng-click="nextSlide($index)"></div>
            </div>
            <div style="margin-top: 30px; margin-bottom: 60px; position: relative; z-index: 10; text-align: center">
                <div><button class="preview-add-button" ng-click="addToAddressBook()">Add contact</button></div>
                <div><button class="preview-create-button" ui-sref="cardletlist">Whats’s Sigterra</button></div>
            </div>
        </div>
    </div>

    <style>


        a.accordion-section-title.active{
            background-color: #ECECEC!important;
        }


        .site-header-wrap {
            margin-bottom:60px;
            border-bottom:1px solid #cd9ad6;
        }

        /*------------------------------------*\
        -------- DEMO Code: accordion
        \*------------------------------------*/
        /*----- Accordion -----*/
        .accordion, .accordion * {
            -webkit-box-sizing:border-box;
            -moz-box-sizing:border-box;
            box-sizing:border-box;
        }

        .accordion {
            overflow:hidden;
            box-shadow:0px 1px 3px rgba(0,0,0,0.25);
            border-radius:3px;
            background:#f7f7f7;
        }

        /*----- Section Titles -----*/
        .accordion-section-title {
            width: 100%;
            padding: 15px;
            display: inline-block;
            border-top: 1px solid #D0D8D9;
            border-bottom: 1px solid #D0D8D9;
            background: #F9F9F9;
            font-size: 1.200em;
            color: #7F8C8C;
            text-transform: uppercase;
            font-weight: bold;
        }

        .accordion-section-title.active, .accordion-section-title:hover {
            background:#ECECEC;
            /* Type */
            text-decoration:none;
            color: #7F8C8C;
        }

        .accordion-section:last-child .accordion-section-title {
            border-bottom:none;
        }

        /*----- Section Content -----*/
        .accordion-section-content {
            padding:15px;
        }

    </style>
</div>








