
<div class="modeal-custom-window" ng-show="showViewDialog">
    <div class="modal-dialog " style="margin-top: 100px; width: 850px!important;">
        <div class="modal-content">
            <div class="modal-header">
                {{dialogTitle}}
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        ng-click="closeDialog()">&times;</button>
              <div class="signature-title"></div>
            </div>
            <div  style=" padding: 0px!important;" class="modal-body">
                <div class="preview-dialog-content">
                    <iframe class="video-frame" ng-if="isVideo && showViewDialog" ng-src="{{trustSrc(viewingElement)}}" frameborder="0" allowfullscreen></iframe>
                    <embed  ng-src="{{trustSrc(viewingElement)}}" ng-if="isPdf" ng-if="isPdf" type="application/pdf" width="100%" height="400px" />
                    <div class="preview-dialog-image-div">
                        <img width="100%" ng-src="{{viewingElement}}" ng-if="isImage">
                    </div>
                    <div ng-if="showLink" >Click <a href="{{viewingElement}}" target="_blank">here</a> to launch </div>
                </div>
            </div>
        </div>
    </div>
</div>
