<script>
    $(document).ready(function(){
        $("#default-navbar").removeClass("navbar-fixed-top");
        $("#main-footer").addClass("ng-hide");
        console.log()
    });
</script>
<style>

    .tab-panel{
        padding-top: 50px;
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 50px;
        background-color: #fff;
        box-shadow: none;
    }

    ul.tab {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #FFF;
        width: 620px;
    }

    /* Float the list items side by side */
    ul.tab li {
        width: 150px;
        min-height: 44px;
        float: left;
        background: #FFFFFF;
        border-width: 1px;
        border-style: solid;
        border-color: #D0D8D9;
        margin-right: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: none;
        color: #7F8C8C!important;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    }

    .tabs a{
        color: #7F8C8C;
    }


    .remove{
        padding: 0px!important;
        position: absolute;
        background: #fff;
        color: #000!important;
        border-radius: 20px;
        width: 15px;
        height: 15px;
        top: -7px;
        right: -7px;
        text-transform: none;
    }

    ul.tab{
        padding-top: 10px;
    }

    /* Style the tab content */

    ul.tab2 {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        width: 916px;
        padding-top: 10px;
    }


    .display{
        display: block;
    }
    .none-display{
        display: none;
    }

    .cardlet-label{
        font-size: 11px;
        margin-left: 5px;
    }

    .text-decoration-div{
        float: left;
        width: 130px;
        text-align: right;
        padding-top: 25px;
    }

    .social-image-form-div{
        float: left;
        width: 130px;
        padding-top: 25px;
        padding-left: 25px;
    }

    ul.tab li.active {
        background: #18C6B7;
    }

    .dropdown-tab{
        border:none!important;
        width: 100%!important;
        background-color: #FAFAFA!important;
    }
    .cardlet-dropdown{
        background-color: #FAFAFA!important;
    }

    .add-item-btn{
        margin: 10px;
    }

    .delete-item-btn{
        background: none!important;
        border: none!important;
        color: #18C6B7!important;
        text-decoration: underline;
    }

    input:focus{
        outline: none;
    }

    ul[dnd-list], ul[dnd-list] > li {
        position: relative;
    }

    .dndPlaceholder{
        display: inline-block;
        position: relative;
        background-color: #ddd;
        width: 150px;
        min-height:44px;
        margin: 0;
        padding: 0;
    }

    .input-padding{
        margin-bottom: 40px;
    }


    .mainColor-input{
        margin-right: 215px;
    }

    .secondaryColor-input{
        margin-bottom: 40px;
    }

    a.dropdown-toggle{
        width: 100%;
    }

    .status-icon{
        float: right;
        margin-right: 10px;
    }

    ul[dnd-list] .dndDraggingSource {
        display: none;
    }

    .right.carousel-control,  .left.carousel-control {
        display: none;
    }

    @media (max-width: 970px){
        .right.carousel-control,  .left.carousel-control {
            display: block;
        }


        .custom-slide-prev, .custom-slide-next{
            display: none;
        }
    }

</style>

<nav class="navbar navbar-default preview-nav" >
    <div>
        <div class="navbar-header navbar-brand-preview">
            <button type="button" class="navbar-toggle navbar-toggle-preview" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img class="prview-logo view-header-logo-main" alt="Brand" ng-show="header.logoUrl"  ng-src="{{header.logoUrl}}?{{time}}">
        </div>
        <div class="navbar-collapse navbar-collapse-preview nav-view" style="display: flex!important" uib-collapse="vm.isNavbarCollapsed">

            <img class="prview-logo view-header-logo-collapse"  alt="Brand" ng-show="header.logoUrl"  ng-src="{{header.logoUrl}}?{{time}}">
            <ul class="nav navbar-nav nav-preview">
                <div class="preview-image-group">
                    <div >
                        <img class="prview-avatar" ng-show="header.photoUrl" ng-src="{{header.photoUrl}}?{{time}}">
                    </div>
                    <div class=" alignme ">
                        <span class="bold"><strong>{{header.name}}</strong></span>
                        <br>
                        <span class="small text-light">{{header.title}}</span>
                        <br>
                    </div>
                </div>
            </ul>
            <ul class="nav navbar-nav nav-preview">
                <div>
                    <span ng-show="header.email" class="small  fa fa-envelope"></span><span class="text-light">{{header.email}}</span>
                    <br>
                    <span ng-show="header.phone" class="small fa fa-phone"> </span><span class="text-light">{{header.phone}}</span>
                </div>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <button class="btn  btn-warning connect-btn"  data-toggle="modal" data-target="#myModalNorm" ng-style="{'background-color': '#'+header.ctaColor}">{{header.text}}</button>
            </ul>
        </div>
    </div>
</nav>


<div class="entiti-content" ng-init="getCardlet()" ng-style="{'background': 'url(' + background.imageUrl + ') no-repeat center center fixed', 'background-size': 'cover'}">

    <div class="preview-border">
        <div class="preview-title"></div>
    </div>
    <div class="preview-cardlet" ng-click="clicksCounter($event)">
        <div class="alert alert-success-added" check-position-scroll ng-show="successfulyAdded">
            <strong>{{successfulyAdded}}</strong>
        </div>

        <div class="alert alert-danger" check-position-scroll ng-show="errorAddeding">
            <strong>{{errorAddeding}}</strong>
        </div>

        <h2 class="preview-title" ng-style="{'color': background.textColor === 'true' ? '#000000' : '#ffffff'}">{{background.text}}</h2>

        <div style="position:relative;">
            <div>
                <ul class="tab2">
                    <li class="tabs2 tab-preview tabs2{{tabNames.id}}" ng-style="addColors('card'+tabName.position+tabName.name, tabName.layout.mainColor, tabName.layout.secondaryColor, 'tabLink'+tabName.name)" ng-repeat="tabName in tabNames.tabs" id="card{{tabName.position}}{{tabName.name}}" ng-class="tabName.position == 0 ? 'active' : ''">
                        <div style="position: relative; display: table; width: 100%;">
                            <a style="overflow: hidden; text-overflow: ellipsis;" href="javascript:void(0)" id="tabLink{{tabName.name}}" class="tablinks2 tablinks-preview" style="color:#{{tabName.layout.secondaryColor}}" ng-click="openCity(tabName.name+tabName.position, 'card'+tabName.position+tabName.name, tabName.position)">{{tabName.name}}</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div ng-repeat="tabName in tabNames.tabs " id="{{tabName.name}}{{tabName.position}}" class="tabcontent-preview" ng-class="tabName.position == 0 ? 'display' : 'none-display'">
                <div class="custom-slide-prev"  ng-show="vm.tabType != 1 && tabName.items.length > 1">
                    <span class="glyphicon glyphicon-chevron-left right-chevron" ng-click="prevSlide($index)"></span>
                </div>
                <div data-item-id="{{tabNames.tabs[$index].id}}"  ng-click="openPreviewDialog(tabName.tabType)" class="tab-item">
                    <ng-include style="display: block!important" src="getUrl(tabName.layout.url)"></ng-include>
                </div>
                <div class="custom-slide-next" ng-show="vm.tabType != 1 && tabName.items.length > 1">
                    <span class="glyphicon glyphicon-chevron-right right-chevron" ng-click="nextSlide($index)"></span>
                </div>
                <div class="arrow-link">
                    <a class="fa fa-arrow-down fa-2x hidden-sm hidden-md" href="" ng-click="scrollToFooter('capture')" target="_self"></a>
                </div>
            </div>
            <div style="margin-top: 30px; margin-bottom: 60px; position: relative; z-index: 10; text-align: center">
            </div>
        </div>
    </div>
    <style>


        a.accordion-section-title.active{
            background-color: #ECECEC!important;
        }


        .site-header-wrap {
            margin-bottom:60px;
            border-bottom:1px solid #cd9ad6;
        }

        /*------------------------------------*\
        -------- DEMO Code: accordion
        \*------------------------------------*/
        /*----- Accordion -----*/
        .accordion, .accordion * {
            -webkit-box-sizing:border-box;
            -moz-box-sizing:border-box;
            box-sizing:border-box;
        }

        .accordion {
            overflow:hidden;
            box-shadow:0px 1px 3px rgba(0,0,0,0.25);
            border-radius:3px;
            background:#f7f7f7;
        }

        /*----- Section Titles -----*/
        .accordion-section-title {
            width: 100%;
            padding: 15px;
            display: inline-block;
            border-top: 1px solid #D0D8D9;
            border-bottom: 1px solid #D0D8D9;
            background: #F9F9F9;
            font-size: 1.200em;
            color: #7F8C8C;
            text-transform: uppercase;
            font-weight: bold;
        }

        .accordion-section-title.active, .accordion-section-title:hover {
            background:#ECECEC;
            /* Type */
            text-decoration:none;
            color: #7F8C8C;
        }

        .accordion-section:last-child .accordion-section-title {
            border-bottom:none;
        }

        /*----- Section Content -----*/
        .accordion-section-content {
            padding:15px;
        }

    </style>
</div>
<section class="service-info-sec">
    <h2 class="text-center" id="capture">{{links.title}}</h2>
    <br>
    <div class="container service-info" >
        <div class="col-sm-4 img-with-text">
            <img class="click-sec" ng-src="{{links.logoUrl1}}" border="0" alt="Carl Call"  />
            <p class="click-sec-text">
                <a class="preview-footer-link" ng-href="links.url1" data-toggle="modal" target="_blank">{{links.name1}}</a>
            </p>
            <br />
            <!--   (931)268-2040<br /><a href="mailto:carlcall@centergrovecoc.com">Email Carl Call</a>  </p>
             -->
        </div>
        <div class="col-sm-4  img-with-text">
            <img class="click-sec" ng-src="{{links.logoUrl2}}"/>
            <p class="click-sec-text">
                <a class="preview-footer-link" ng-href="links.url2" data-toggle="modal" target="_blank">{{links.name2}}</a>
            </p>
            <br />
            <!--   (931)268-3273<br /><a href="mailto:sjongentry@centergrovecoc.com">Email Sjon Gentry</a></p>
             -->
        </div>
        <div class="col-sm-4  img-with-text">
            <img class="click-sec" ng-src="{{links.logoUrl3}}"/>
            <p class="click-sec-text">
                <a class="preview-footer-link" ng-href="links.url3" data-toggle="modal" target="_blank">{{links.name3}}</a>
            </p>
            <br />
            <!--   (931)268-0651<br /><a href="mailto:johnmabery@centergrovecoc.com">Email John Mabery</a> </p>
             -->
        </div>

    </div>
</section>
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="copyright-text">
                    CopyRight © 2018 Digital All Rights Reserved
                </div>
                <div>
                    <div class="row">
                    </div>
                    <div class="nav-view footer-editor-icon footer-editor-icon-div">
                        <div ng-show="footer.facebookLink" class="footer-preview-icon-div">
                            <a ng-href="footer.facebookLink" target="_blank">
                                <img class="footer-preview-icon" src="/content/images/editor/FB.png">
                            </a>
                        </div>
                        <div ng-show="footer.twitterLink" class="footer-preview-icon-div">
                            <a class="footer-preview-icon" ng-href="footer.twitterLink" target="_blank">
                                <img class="footer-preview-icon" src="/content/images/editor/tweeter.png">
                            </a>
                        </div>
                        <div ng-show="footer.linkedinLink" class="footer-preview-icon-div">
                            <a class="footer-preview-icon" ng-href="footer.linkedinLink" target="_blank">
                                <img class="footer-preview-icon" src="/content/images/editor/Linkdn.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div> <!-- End Col -->
            <!-- <div class="col-sm-4">
                <ul class="social-link pull-right footer-icons">
                    <li><a href=""><span class="fa fa-facebook"></span></a></li>
                    <li><a href=""><span class="fa fa-skype"></span></a></li>
                    <li><a href=""><span class="fa fa-linkedin"></span></a></li>
                    <li><a href=""><span class="fa fa-twitter"></span></a></li>
                </ul>
            </div> --> <!-- End Col -->
        </div>

    </div>
</div>







