<div>
    <h2>Address Books</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="address-book.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Address Book
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdDate"><span>Created Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="modifiedDate"><span>Modified Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.userId"><span>User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cardlet.cardletId"><span>Cardlet</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="addressBook in vm.addressBooks track by addressBook.id">
                    <td><a ui-sref="address-book-detail({id:addressBook.id})">{{addressBook.id}}</a></td>
                        <td>{{addressBook.createdDate | date:'mediumDate'}}</td>
                        <td>{{addressBook.modifiedDate | date:'mediumDate'}}</td>
                    <td>
                        {{addressBook.user.userId}}
                    </td>
                    <td>
                        <a ui-sref="cardlet-detail({id:addressBook.cardlet.id})">{{addressBook.cardlet.cardletId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="address-book-detail({id:addressBook.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="address-book.edit({id:addressBook.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="address-book.delete({id:addressBook.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
