@font-face {
    font-family: 'Lato-Regular';
    src: url('/content/fonts/Lato-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:  url('/content/fonts/icomoon.ttf');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-e-mail_white_icon:before {
    content: "\e900";
}
.icon-facebook_icon_02:before {
    content: "\e901";
}
.icon-facebook:before {
    content: "\e902";
}
.icon-globe_white_icon:before {
    content: "\e903";
}
.icon-google_icon_02:before {
    content: "\e904";
}
.icon-googleplus:before {
    content: "\e905";
}
.icon-lacation_white_icon:before {
    content: "\e906";
}
.icon-linkedin_icon_02:before {
    content: "\e907";
}
.icon-linkedin:before {
    content: "\e908";
}
.icon-mobile_white_icon:before {
    content: "\e909";
}
.icon-tweeter_icon_02:before {
    content: "\e90a";
}
.icon-twitter:before {
    content: "\e90b";
}

html{
    background: #FFFFFF;
    height: 100%;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    font-family: "Lato-Regular"!important;
    color: #333;
    min-height: 100%;
    min-width: 600px;
    padding-right: 0px!important;
}

pre{
    font-family: "Lato-Regular"!important;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.footer {
    position: absolute;
    width:100%;
    bottom: 0;
    left: 0;
}

/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* ==========================================================================
Development Ribbon
========================================================================== */
.ribbon {
    background-color: #a00;
    box-shadow: 0 0 10px #888;
    left: -3.5em;
    moz-box-shadow: 0 0 10px #888;
    moz-transform: rotate(-45deg);
    ms-transform: rotate(-45deg);
    o-transform: rotate(-45deg);
    overflow: hidden;
    position: absolute;
    top: 40px;
    transform: rotate(-45deg);
    webkit-box-shadow: 0 0 10px #888;
    webkit-transform: rotate(-45deg);
    white-space: nowrap;
    width: 15em;
    z-index: 9999;
    pointer-events: none;
}

.ribbon a {
    border: 1px solid #faa;
    color: #fff;
    display: block;
    font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444;
    pointer-events: none;
}

/* ==========================================================================
Version number in navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #ccc
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Logo styles
========================================================================== */

.logo .logo-img {
    height: 45px;
    display: inline-block;
}

/* ==========================================================================
Main page styles
========================================================================== */
.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/hipster.png") no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

/* ==========================================================================
Generic styles
========================================================================== */
.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.break {
    white-space: normal;
    word-break:break-all;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.readonly {
    background-color: #eee;
    opacity: 1;
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a:hover {
    cursor: pointer;
}

.hand {
    cursor: pointer;
}

/* ==========================================================================
Metrics and Health styles
========================================================================== */
#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.health-details {
    min-width: 400px;
}

/* ==========================================================================
start Password strength bar style
========================================================================== */
ul#strengthBar {
    display:inline;
    list-style:none;
    margin:0;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:2px;
    margin-right:5px;
    width:20px;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts .alert{
    text-overflow: ellipsis;
}
.alert pre{
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.alert .popover pre {
    font-size: 10px;
}

.alerts .toast {
    position: fixed;
    width: 100%;
}

.alerts .toast.left {
    left: 5px;
}

.alerts .toast.right {
    right: 5px;
}

.alerts .toast.top {
    top: 55px;
}

.alerts .toast.bottom {
    bottom: 55px;
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */
/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left { padding-left: 0 !important; }
.no-padding-right { padding-right: 0 !important; }
.no-padding-top { padding-top: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }
.no-padding { padding: 0 !important; }

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min { width: 1% !important; }

/* Makes toolbar not wrap on smaller screens
 http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.jh-table > tbody > tr > td {
    /* Align text in td vertically (top aligned by Bootstrap) */
    vertical-align: middle;
}

.jh-table > thead > tr > th > .glyphicon-sort, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt {
    /* less visible sorting icons */
    opacity: 0.5;
}

.jh-table > thead > tr > th > .glyphicon-sort:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt:hover {
    /* full visible sorting icons and pointer when mouse is over them */
    opacity: 1;
    cursor: pointer;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.dl-horizontal.jh-entity-details > dd {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .dl-horizontal.jh-entity-details > dt {
        margin-bottom: 15px;
    }

    .dl-horizontal.jh-entity-details > dd {
        border-bottom: 1px solid #eee;
        padding-left: 180px;
        margin-left: 0;
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,
.uib-datepicker-popup  > li > div.uib-datepicker > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup  > li > div.uib-datepicker > table:focus {
    outline: none;
}


/* ==========================================================================
Social Buttons
========================================================================== */
.jh-btn-social {
    margin-bottom: 5px;
}

.jh-btn-google {
    background-color: #dd4b39;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-google:hover, .jh-btn-google:focus, .jh-btn-google:active, .jh-btn-google.active, .open > .dropdown-toggle.jh-btn-google {
    background-color: #c23321;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-facebook {
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-facebook:hover, .jh-btn-facebook:focus, .jh-btn-facebook:active, .jh-btn-facebook.active, .open > .dropdown-toggle.jh-btn-facebook {
    background-color: #2d4373;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-twitter {
    background-color: #55acee;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-twitter:hover, .jh-btn-twitter:focus, .jh-btn-twitter:active, .jh-btn-twitter.active, .open > .dropdown-toggle.jh-btn-twitter {
    background-color: #2795e9;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

/* jhipster-needle-css-add-main JHipster will add new css style */
.navbar-custom {
    background-color: #242424!important;
    border-color: #242424!important;
    border-style: solid;
    height:80px;
}

.navbar{
    margin-bottom: 0;
    border-radius: 0px;
}

.well {
    margin-top: 0px;
    background-color: #FFFFFF;
    padding: 0!important;
    border: none;
    height: 100%;
    box-shadow: none;
}
.registration-div{
    background-color: #fff;
    max-width: 410px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.16);
    z-index: 10;
    margin-top: 30px;
}
.main-head-text{
    color: #13BCB5;
    padding-top: 30px;
    margin-bottom: 30px;
    font-size: 26px;
    text-align: center;
}
.control-label{
    font-weight: normal;
}

.form-group{
    margin-bottom: 20px;
}

.main-btn{
    background-color: #E8645A;
    height: 40px;
    min-width: 170px;
    border: none;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight:bold;
    border-radius: 40px;
    padding-right: 20px;
    padding-left: 20px;
}



.skip-btn{
    background-color: #FFFFFf;
    color: #13BCB5;
    text-transform: uppercase;
    width: 100%;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: #13BCB5;
    font-size: 15px;
    padding: 9px;
    font-weight: bold;
}

.skip-btn:hover{
    background-color: #13BCB5;
    color: #FFFFFF;
    border-color: #13BCB5;

}
.main-btn:hover{
    background-color: #5aaea7;
}

.main-btn[disabled]{
    background-color: #D0D8D9;
}
.main-btn[disabled]:hover{
    background-color: #D0D8D9;
}

.register-btn[disabled]:hover{
    background-color: #5aaea7;
}

.terms-and-conditions{
    color: #489B94;
    text-decoration: none;
}
.terms-and-conditions:hover{
    color: #666;
}

.modal-dialog{
    width: 400px;
}

.login-body{
    padding: 0;
}

.login-header{
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 0px;
    border-top-width: 4px;
    border-color: #13BCB5;
    padding-bottom: 0px;
}

.login-form{
    padding: 20px 60px 0px 60px;

}

.login-btn{
    width: 100%;
    margin-bottom: 30px;
}

.login-btn:hover{
    background-color: #5aaea7;
}

.forgot-password{
    text-align: center;
    margin-bottom: 30px;
}

.forgot-password a{
    color: #489B94;
    font-weight: normal;
    font-size: 16px;
}

.login-registration{
    margin-top: 70px;
    background-color: #489B94;
    text-align: center;
    padding: 15px;
    width: 100%;
    color: #FFF;
    font-size: 15px;
}
.login-registration a{
    color: #fff;
}

.main-content{
    background-color: #f0f0f0;
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.75);
}

.entiti-content{
    background-color: #FFF;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    padding: 0px;
}

.center-align{
    text-align: center;
}

.home-btn{
    margin: 40px 20px 0px 20px;

}

.login-close{
    color: #13BCB5;
    opacity: 1;
    text-shadow: none;
    font-size: 23px;
}

.login-head-text{
    font-size: 26px;
    color: #13BCB5;
    text-align: center;
    font-weight: 500;
}

.login-close-gray{
    color: #D0D8D9;
    opacity: 1;
    text-shadow: none;
    font-size: 18px;
}

.login-lable{
    font-size: 11px;
    color: #7F8C8C;
    font-weight: normal;
}

.profile-input{
    height: 40px;
    border-width: 0;
    border-bottom-width: 1px!important;
    border-color: #D0D8D9;
    outline: none;
    border-style: solid;
    width: 100%;

}

.profile-input:focus{
    height: 40px;
    border-width:0;
    border-bottom-width: 1px!important;
    border-color: #13BCB5;
    outline: none;
    border-style: solid;
    width: 100%;

}

.profile-input::placeholder{
    color:#9B9B9B

}

.register-link{
    font-size: 18px;
    color: #489B94;
    margin-left: 7px;
}

.register-head{
    width: 100%;
    height: 4px;
    background-color: #13BCB5;
}

.register-container{
    padding: 0px 65px 0px 65px;
}

.steps{
    font-size: 21px;
    padding-top: 10px;
    text-align: right;
    font-weight: normal;
}

.circle{
    width: 13px;
    height: 13px;
    background: lightgray;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    float: left;
    margin: 10px;
}

.indication-page-block{
    float: left;
    width: 100%;
    margin-top: 30px;
    position: relative;
}

.indication-page {
    position: absolute;
    left: 38%;
}

.circle-active{
    background-color: #489a95;
}

.reg-saved-block {
    float: left;
    width: 100%;
    color: #489a95;
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 19px;
    text-align: center
}

.check-email-block {
    width: 80%;
    color: #7F8C8C;
    font-size: 13px;
    margin: 0 auto;
    text-align: center
}

.check-span-block {
    color: #7F8C8C;
    font-size: 10px;
    margin-top: 35px;
    text-align: center;
    border-width: 0px;
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-color: #D0D8D9;
    padding: 15px;
}

.check-span-block a {
    color: #13BCB5;
    text-decoration: none;
}

.email-img-block {
    width: 100%;
    margin-top: 45px;
    text-align: center
}

.profile-photo-div{
    background-color: #ffffff;
    width: 100%;
    min-height:300px;
    text-align: center;
}

.settings-form{
    margin-top: 40px;
}


.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:350px;
    height:350px;
    margin: auto;
}

.image-popup{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    z-index:10;
    top: 0;
    bottom: 0;
}

.image-dialog{
    position: relative;
    background: #fff;
    width: 450px;
    margin: 30px auto;
    margin-top: 200px;
    padding: 10px;
}
.image-dialog2{
    position: relative;
    background: #fff;
    width: 450px;
    margin: 30px auto;
    margin-top: 100px;
    padding: 10px;
}

.image-cropped-div{
    margin-top: 50px;

}

.image-cropped{
    width: 200px;
    height:200px;
    border-radius: 200px;
    border-width: 2px;
    border-style: solid;
    border-color: #ECECEC;

}

.image-cropped-profile{
    width: 200px;
    height:200px;
    border-width: 2px;
    border-style: solid;
    border-color: #ECECEC;

}

.profile-photo-panel{
    margin: auto;
    background: #fff;
    position: relative;
    z-index: 5;


}

.btn-upload{
    background-color: #FFFFFF;
    border-width: 2px;
    border-style: solid;
    border-color: #D0D8D9;
    min-width: 170px;
    height: 45px;
    color: #D0D8D9;
    font-size: 18px;
    text-transform: uppercase;
    font-weight:bold;
    border-radius: 40px;
    padding-right: 20px;
    padding-left: 20px;
}
.button-upload-div{
    margin-top: 20px;
}

@media (min-width: 990px){
    .button-upload-div{
        margin-top: 127px;
    }
}

    .image-dialog-crop-panel{
    padding: 10px 35px;
    text-align: center;
}

.crop-btn-div{
    margin: 20px auto;
}


.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.choose-photo-btn{
    background-color: #19C5B6!important;
    color: #fff!important;
    border: none!important;
    height: 30px!important;
    border-radius: 30px!important;
    text-transform: uppercase!important;
    font-weight: bold!important;
}

.crop-dialog-header{
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
}

.border-line{
    background-color: #D0D8D9;
    position: absolute;
    height: 1px;
    width: 100%;
    top: 230px;
}

.border-line-footer{
    background-color: #D0D8D9;
    position: absolute;
    height: 1px;
    width: 100%;
    top: 70px;
}

.modal-signature-panel{
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 17px -4px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 17px -4px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 17px -4px rgba(0,0,0,0.5);
    width: 340px;
    min-height: 300px;
    display: inline-block;
    background-color: #FFFFFF;
    margin: 10px;
    position: relative;

}

.modal-signature-panel-shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.signature-text-sample{
    color: #5C5C5C;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 20px
}

.select-btn-div{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.copy-to-email-top{
    min-height: 300px;
    width: 100%;
    background-color: #FFF;
    text-align: center;
}
.copy-to-email-bottom{
    height: 50%;
    background-color: #ECECEC;
    width: 100%;
}

.signature-title{
    color: #242424;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.mail-agent-div{
    background-color: #ECECEC;
    height: 200px;
    padding: 40px;
}

.mail-instructions{
    background-color: #FFF;
    width: 100%;
    height:110px;
    padding: 30px;
    overflow: hidden;
    color: #595959;
    font-size: 14px;

}

.mail-instructions-open{
    background-color: #FFF;
    width: 100%;
    padding: 30px;
    overflow: hidden;
    color: #595959;
    font-size: 14px;

}

.mail-agent-col{
    text-align: center;
    color: #4A4A4A;
    font-size: 14px;
    font-weight: bold;
    float: left;
    width: 25%;
}

.mail-agent-col:focus{
    outline: none;
}

.instructions-title{

    color: #4A4A4A;
    font-size: 14px;
    font-weight: bold;
}

.activeInstruction{
    webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.mail-copy-div{
    width: 100%;
    min-height:300px;
    background-color: #FFFFFF;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    text-align: center;
}

.preview-header{
    margin: auto;
    max-width: 900px;
    text-align: center;
    margin-top: 100px;
}

.preview-header-text{
    color: #4A4A4A;
    font-size: 14px;
    margin-bottom: 30px;
}

.border-line-new-header{
    background-color: #D0D8D9;
    position: absolute;
    height: 1px;
    width: 100%;
    top: 25px;
}

.cardlet-head-border{
    background-color: #D0D8D9;
    height: 1px;
    width: 100%;
    margin: 20px 0px;
}

.add-new-btn{
    background: #FFF;
    width:250px;
    position: relative;
    z-index:100;
    margin: auto;
    margin-top: 25px;
}

.selectSignature{
    display: inline-block;
    position: relative;
}

.selectSogmatureCol{
    color: #4A4A4A;
    font-size: 14px;
    font-weight: bold;
    float: left;
    width: 50%;
}

.navbar-default .navbar-nav > li > a{
    color:#FFF!important;
    font-weight: bold;
}

.navbar-default .navbar-nav > li.activeNavigationTab > a{
    color: #268d83 !important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
    background-color: #242424 !important;
    color: #268d83 !important;

}

.upload-banner-img{
    background-color: #18C6B7!important;
    border-color: #18C6B7!important;
    border-radius: 20px!important;
    min-width: 120px!important;
    height: 34px!important;
    padding: 6px 12px!important;
}

.upload-banner-img:hover{
    background-color: #66bdb4!important;
}


.saveButton{
    background-color: #E8645A;
    color: #FFF;
    text-transform: uppercase;
    width: 200px;
    border:none;
    border-radius: 0px;
    font-size: 15px;
    padding: 12px;
    font-weight: bold;

}

.loginButton{
    background-color: #13BCB5;
    color: #FFF;
    text-transform: uppercase;
    width: 100%;
    border:none;
    border-radius: 0px;
    font-size: 15px;
    padding: 10px;
    font-weight: bold;

}

.deleteButton{
    width: 150px;

}

.closeButton{
    width: 150px;
    background-color: #D0D8D9;
}

.saveButton:hover{
    background-color: #e87771!important;
    color: #ffffff;
}

.choose-tab{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.choose-tab:focus{
    outline: none;
}

.choose-tab:hover{
    border-width: 1px;
    border-style: solid;
    border-color: #268d83 ;
}

.choose-tab-active{
    -webkit-box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
}

.delete-dialog-title{
    color: #7F8C8C;
    font-size: 26px;
}

.delete-msg{
    width: 100%;
    height: 55px;
    text-align: center;
    font-size: 13px;
    color: #E2534B;
    background-color: rgba(226, 83, 75, 0.31);
    padding-top: 17px;
}

.navbar{
    border-radius: 0px!important;
}

.create-new-cardlet{
    width: 545px;
    height: 280px;
    background: #FFF;
    margin: auto;
    border-width: 1px;
    border-style: dashed;
    border-color: #D0D8D9;
    color: #E8645A;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 80px;
}

.create-new-cardlet:hover{
    border-color: #268d83 ;
}

@keyframes cf3FadeInOut {
    0%  {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.imgFirst{
    display: block;
    animation-delay: 0s;
}

.imgSecond{
    display: block;
    margin-top:-130px;
    animation: cf3FadeInOut 8s infinite;
    animation-delay: 4s;
}

.imgThird{
    display: block;
    margin-top:-130px;
    animation: cf3FadeInOut 12s infinite;
    animation-delay:8s;
}

#gmailDiv{
    padding: 40px 20px;
    border-width: 1px;
    border-style: dashed;
}

.disabled {
    pointer-events: none!important;
    cursor: default!important;
}

.checkboxBold {
    display:none;
}

.checkboxBold + label
{
    background-image: url("/content/images/new/b.png");
    height: 30px;
    width: 38px;
    display:inline-block;
    padding: 0 0 0 0px;
}

.checkboxBold + label:hover
{
    background-image: url("/content/images/new/b_hover.png");
    height: 30px;
    width: 38px;
    display:inline-block;
    padding: 0 0 0 0px;
}



.checkboxBold:checked + label
{
    background-image: url("/content/images/new/b_hover.png");
    height: 30px;
    width: 38px;
    display:inline-block;
    padding: 0 0 0 0px;
}

.checkboxItalic {
    display:none;
}

.checkboxItalic + label
{
    background-image: url("/content/images/new/i.png");
    height: 30px;
    width: 38px;
    display:inline-block;
    padding: 0 0 0 0px;
    margin-left: -3px;
}

.checkboxItalic + label:hover
{
    background-image: url("/content/images/new/i_hover.png");
    height: 30px;
    width: 38px;
    display:inline-block;
    padding: 0 0 0 0px;
    margin-left: -3px;
}

.checkboxItalic:checked + label
{
    background-image: url("/content/images/new/i_hover.png");
    height: 30px;
    width: 38px;
    display:inline-block;
    padding: 0 0 0 0px;
    margin-left: -3px;
}
.checkboxUunderline {
    display:none;
}

.checkboxUunderline + label
{
    background-image: url("/content/images/new/U.png");
    height: 30px;
    width: 38px;
    display:inline-block;
    padding: 0 0 0 0px;
    margin-left: -3px;
}

.checkboxUunderline + label:hover
{
    background-image: url("/content/images/new/u_hover.png");
    height: 30px;
    width: 38px;
    display:inline-block;
    padding: 0 0 0 0px;
    margin-left: -3px;
}

.checkboxUunderline:checked + label
{
    background-image: url("/content/images/new/u_hover.png");
    height: 30px;
    width: 38px;
    display:inline-block;
    padding: 0 0 0 0px;
    margin-left: -3px;
}

.spinner-shadow{
    top: 0;
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1002;
    text-align: center;
}

.firstItemTop{
    position: absolute;
    bottom: 55px;
    left: 0px;
    height: 35px;
    width: 100%;
}


.thirdItemTop{
    position: absolute;
    top:0px;
    left: 0px;
    height: 70px;
    width: 100%;
}

.thirdItemBottom{
    position: absolute;
    bottom:0px;
    left: 0px;
    height: 70px;
    width: 100%;
}

.cardletNew{
    width: 540px;
    min-height: 200px;
    max-height: 270px;
    padding:10px;
}

.input-new{
    width: 300px;
    height: 34px;
    border-width: 0px!important;
    border-bottom-width: 1px!important;
    border-bottom-color: #D0D8D9!important;
    border-radius: 0px!important;
    border-style: solid;
    margin-top: 7px;
    color: #7F8C8C;
}

.input-new:focus{
    border-bottom-color: #13BCB5!important;
}

.input-text-div{
    float:left;
    width: 340px
}

.textarea-new{
    width: 300px;
    max-width: 300px;
    max-height: 100px;
    border-width: 0px!important;
    border-bottom-width: 1px!important;
    border-bottom-color: #D0D8D9!important;
    border-radius: 0px!important;
    border-style: solid;
    margin-top: 7px;
    color: #7F8C8C;
    height: 34px;
    min-height: 34px;
    padding-top: 7px;
}

.textarea-new:focus{
    border-bottom-color: #13BCB5!important;
}

.item-btn{
    background-color: #E8645A !important;
    border-color: #E8645A !important;
    border-radius: 0px !important;
    min-width: 108px !important;
    height: 34px !important;
    font-size: 13px;
    font-weight: normal;
    padding: 6px 12px;;
}


.upload-item-img{
    background-color: #18C6B7!important;
    border-color: #18C6B7!important;
    border-radius: 0px!important;
    min-width: 108px!important;
    height: 34px!important;
    font-size: 13px;
    font-weight: normal;
    padding: 6px 12px!important;
}

.upload-item-img:hover{
    background-color: #66bdb4!important;
}

.cardlet-top-control{
    position: absolute;
    top:20px;
    right:20px;
    width: 96px;
    height: 30px;
}

.catdlet-btn-col-top{
    padding: 0px!important;
    width: 33.33333%;
    height: 30px;
    float: left;
}

.catdlet-btn-top{
    height:30px;
    background: #fff;
    text-align: center;
    border-width: 0px;
}


.cardlet-central-panel{
    padding: 20px;
    border-width: 0px;
}


.copy-btn{
    background-color: #13BCB5!important;
    border-color: #13BCB5!important;
    border-radius: 0px!important;
    min-width: 110px!important;
    height: 40px!important;
    padding: 0px!important;
    font-size: 14px;
    font-weight: normal;
    width: 180px;
    text-align: left;
}

.portfolio-header{
    text-align: center;
    width: 100%;
    color: #595959;
    font-size: 34px;
    margin-bottom: 40px;
    font-weight: bold;
}

.copy-btn-part{
    padding: 11px;
    background-color: #089993;
}

.landing-first-panel{
    background: url(/content/images/new/slider.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    color: #FFFFFF;
}

@keyframes landing_create_animation {
    0%   {
        height: 255px;
        width: 185px;
        border-color: #EEEEEE;
    }
    12%{
        height: 275px;
        width: 225px;
        border-color: #18C6B7;
        -webkit-box-shadow: 3px 3px 12px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 3px 12px -1px rgba(0,0,0,0.75);
        box-shadow: 3px 3px 12px -1px rgba(0,0,0,0.75);
        z-index: 10;
    }
    25%{
        height: 255px;
        width: 185px;
        border-color: #EEEEEE;
    }

    100% {
        height: 255px;
        width: 185px;
        border-color: #EEEEEE;
    }

}

@keyframes landing_add_animation {
    0%   {
        height: 255px;
        width: 185px;
        border-color: #EEEEEE;
    }
    25%   {
        height: 255px;
        width: 185px;
        border-color: #EEEEEE;
    }

    37%{
        height: 275px;
        width: 225px;
        border-color: #18C6B7;
        -webkit-box-shadow: 3px 3px 12px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 3px 12px -1px rgba(0,0,0,0.75);
        box-shadow: 3px 3px 12px -1px rgba(0,0,0,0.75);
        z-index: 10;
    }
    50%{
        height: 255px;
        width: 185px;
        border-color: #EEEEEE;
    }

}

@keyframes landing_add_to_web_animation {
    0%   {
        height: 255px;
        width: 185px;
        border-color: #EEEEEE;
    }
    50%   {
        height: 255px;
        width: 185px;
        border-color: #EEEEEE;
    }

    62%{
        height: 275px;
        width: 225px;
        border-color: #18C6B7;
        -webkit-box-shadow: 3px 3px 12px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 3px 12px -1px rgba(0,0,0,0.75);
        box-shadow: 3px 3px 12px -1px rgba(0,0,0,0.75);
        z-index: 10;
    }
    75%{
        height: 255px;
        width: 185px;
        border-color: #EEEEEE;
    }

}

@keyframes landing_see_animation {
    0%   {
        height: 255px;
        width: 185px;
        border-color: #EEEEEE;
    }
    75%   {
        height: 255px;
        width: 185px;
        border-color: #EEEEEE;
    }

    89%{
        height: 275px;
        width: 225px;
        border-color: #18C6B7;
        -webkit-box-shadow: 3px 3px 12px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 3px 12px -1px rgba(0,0,0,0.75);
        box-shadow: 3px 3px 12px -1px rgba(0,0,0,0.75);
        z-index: 10;
    }
    100%{
        height: 255px;
        width: 185px;
        border-color: #EEEEEE;
    }

}

@keyframes landing-steps-one_animation {
    0%   {
        border-width: 1px;
        border-style: solid;
        border-color: #A0A0A0;
        color:#A0A0A0
    }
    12%{

        border-width: 1px;
        border-style: solid;
        border-color: #18C6B7;
        color:#18C6B7
    }
    25%{
        border-width: 1px;
        border-style: solid;
        color:#A0A0A0
    }

    100% {
        border-width: 1px;
        border-style: solid;
        color:#A0A0A0
    }

}


@keyframes landing-step-two_animation {
    0%   {
        border-width: 1px;
        border-style: solid;
        color:#A0A0A0
    }
    25%   {
        border-width: 1px;
        border-style: solid;
        color:#A0A0A0
    }

    37%{
        border-width: 1px;
        border-style: solid;
        border-color: #18C6B7;
        color:#18C6B7
    }
    50%{
        border-width: 1px;
        border-style: solid;
        color:#A0A0A0
    }

}

@keyframes landing-steps-three_animation {
    0%   {
        border-width: 1px;
        border-style: solid;
        color:#A0A0A0
    }
    50%   {
        border-width: 1px;
        border-style: solid;
        color:#A0A0A0
    }

    62%{
        border-width: 1px;
        border-style: solid;
        border-color: #18C6B7;
        color:#18C6B7
    }
    75%{
        border-width: 1px;
        border-style: solid;
        color:#A0A0A0
    }

}

@keyframes landing-steps-four_animation {
    0%   {
        border-width: 1px;
        border-style: solid;
        color:#A0A0A0
    }
    75%   {
        border-width: 1px;
        border-style: solid;
        color:#A0A0A0
    }

    89%{
        border-width: 1px;
        border-style: solid;
        border-color: #18C6B7;
        color:#18C6B7
    }
    100%{
        border-width: 1px;
        border-style: solid;
        color:#A0A0A0
    }

}


.landing-steps-one{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border-width: 1px;
    border-style: solid;
    border-color: #A0A0A0;
    margin: 0 auto;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color:#A0A0A0;
    animation-name: landing-steps-one_animation;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    padding-top: 4px;
    position: relative;
    z-index: 10;
    background-color: #FFF;

}

.landing-steps-two{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border-width: 1px;
    border-style: solid;
    border-color: #A0A0A0;
    margin: 0 auto;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color:#A0A0A0;
    animation-name: landing-step-two_animation;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    padding-top: 4px;
    position: relative;
    background-color: #FFF;
    z-index: 10;
}

.landing-steps-three{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border-width: 1px;
    border-style: solid;
    border-color: #A0A0A0;
    margin: 0 auto;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color:#A0A0A0;
    animation-name: landing-steps-three_animation;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    padding-top: 4px;
    position: relative;
    background-color: #FFF;
    z-index: 10;

}

.landing-steps-four{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border-width: 1px;
    border-style: solid;
    border-color: #A0A0A0;
    margin: 0 auto;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color:#A0A0A0;
    animation-name: landing-steps-four_animation;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    padding-top: 4px;
    position: relative;
    background-color: #FFF;
    z-index: 10;
}

.landing-steps{
    display: none;
}
.landing-steps-border{
    display: none;
}

.landing-steps-border-right{
    display: none;
}

@media (min-width: 970px){
    .landing-steps{
        margin-top: 30px;
        display: block;
        width: 100%;

    }
    .landing-steps-border {
        position: absolute;
        top: 20px;
        left: 0px;
        width: 100%;
        height: 0px;
        display: block;
        border-bottom: 1px dashed #979797;
    }

    .landing-steps-border-right {
        position: absolute;
        top: -20px;
        left: 0px;
        width: 100%;
        height: 0px;
        display: block;
        border-bottom: 1px dashed #979797;
    }
}



.landing_create{
    border-width: 1px;
    border-color: #EEEEEE;
    border-style: solid;
    height: 255px;
    width: 185px;
    margin: 0 auto;
    padding: 35px;
    animation-name: landing_create_animation;
    animation-duration: 16s;
    animation-iteration-count: infinite;
}

.landing_add_to_web{
    border-width: 1px;
    border-color: #EEEEEE;
    border-style: solid;
    height: 255px;
    width: 185px;
    margin: 0 auto;
    padding: 35px;
    animation-name: landing_add_to_web_animation;
    animation-duration: 16s;
    animation-iteration-count: infinite;
}

.landing_add{
    border-width: 1px;
    border-color: #EEEEEE;
    border-style: solid;
    height: 255px;
    width: 185px;
    margin: 0 auto;
    padding: 35px;
    animation-name: landing_add_animation;
    animation-duration: 16s;
    animation-iteration-count: infinite;
}

.landing_see{
    border-width: 1px;
    border-color: #EEEEEE;
    border-style: solid;
    height: 255px;
    width: 185px;
    margin: 0 auto;
    padding: 35px;
    animation-name: landing_see_animation;
    animation-duration: 16s;
    animation-iteration-count: infinite;
}

.landing-use{
    background-color: #F6F6F6;
}

.landing-head-text{
    font-size: 30px;
    font-weight: bold;
    color: #595959;
}

.landing-text{
    color: #595959;
    font-size: 16px;
    font-weight: normal;
}
.landing-statistics{
    background-color: #595959;
}

.landing-demo-img{
    width: 100%;
    height: 100%;;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 1s ease-in-out;
    background: url("/content/images/new/matthew-dix-31391.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;

}

.landing-demo-div{
    height: 100%;
    width: 100%;
    position: relative;
    max-width: 400px;
    margin: 0 auto;;
}

.landing-demo-div .image-shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
    top:0;
    left: 0;
}

.landing-demo-div:hover .image-shadow{
    background-color: rgba(0, 0, 0, 0);
    z-index: 0;


}


.landing-demo-div:hover .landing-demo-img{
    width: 120%;
    height: 120%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 1s ease-in-out;
    z-index: 10;
    background: url("/content/images/new/business-card.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;



}
.agents{
    display: inline-block;
    width: 18%;
    min-width: 120px;
    margin-bottom: 60px;
}

.landing-image-description{
    margin-top: 15px;
    font-size: 20px;
    color: #595959;

}

.landing-image{
    margin-bottom: 40px;
}

.copy-to-email-steps{
    color: #595959;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    margin-left: 20px;
}

.copy-to-email-step-number{
    width: 28px;
    height: 28px;
    border-width: 1px;
    border-style: solid;
    border-color: #13BCB5;
    color: #13BCB5;
    border-radius: 28px;
    font-size: 16px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    padding-top: 2px


}

.add-banner-panel{
    border: 1px solid #F1F1F1;
    border-right-width: 0px;
    border-left-width: 0px;
}

#signature-selector{
    outline: none !important;
}

.activeSignature{
    border-color: #13BCB5;
    border-width: 2px;
    border-style: solid;
    min-height: 300px;
}

.footer-panel{
    background-color: #242424;
}

.footer-top-text{
    font-weight: bold;
    color: #18C6B7;
    font-size: 13px;
    margin-bottom: 15px;
}

.footer-main-text{
    font-size: 13px;
    color: #FFFFFF;
    margin-bottom: 5px;
    font-weight: normal;
}

.footer-border{
    border-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #FFFFFF;
    padding-bottom: 60px;

}

.footer-cover {
    margin-top: 25px;
    height: 40px;
    width: 100%;
    background-color: #fff;
}
.footer-input {
    height: 100%;
    width: 100%;
}

div.navbar-collapse.in.collapse{
    height: auto;
    position: relative;
    background: #242424;
    z-index: 1000;
}

.user-cardlet-panel{
    min-width: 600px;
    padding-top: 50px;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 50px;
    box-shadow: none;
}
@media (min-width: 1220px) {
    .user-cardlet-panel {
        min-width: 600px;
        padding-top: 50px;
        padding-left: 4%;
        padding-right: 4%;
        padding-bottom: 50px;
        box-shadow: none;
    }
}
@media (min-width: 1400px) {
    .user-cardlet-panel {
        min-width: 600px;
        padding-top: 50px;
        padding-left: 8%;
        padding-right: 8%;
        padding-bottom: 50px;
        box-shadow: none;
    }
}

@media (min-width: 1470px) {
    .user-cardlet-panel {
        min-width: 600px;
        padding-top: 50px;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 50px;
        box-shadow: none;
    }
}

@media (min-width: 1650px) {
    .user-cardlet-panel {
        min-width: 600px;
        padding-top: 50px;
        padding-left: 17%;
        padding-right: 17%;
        padding-bottom: 50px;
        box-shadow: none;
    }
}

.registration-steps{
    width: 28px;
    height: 28px;
    border-radius: 28px;
    border-width: 1px;
    border-style: solid;
    border-color: #A0A0A0;
    font-size: 16px;
    color: #A0A0A0;
    text-align: center;
    margin: 0 auto;
    padding-top: 2px;
    font-weight: bold;
    position: relative;
    z-index: 20;
    background: #fff;
}

.registration-steps-active{
    border-color: #13BCB5;
    color: #13BCB5;
}
.registration-steps-line{
    position: absolute;
    top:14px;
    left: 0px;
    width: 100%;
    height: 0px;
    border-bottom: 1px dashed #979797;
}

.profile-title{
    color: #4A4A4A;
    font-size: 34px;
    text-align: center;
    margin-bottom: 55px;
    margin-top: 55px;
    font-weight: b;
}

.navbar-toggle{
    margin-bottom: 35px;
}

.modal-title{
    color: #00C6C2;
    font-size: 26px;
    font-weight: bold;
}

.sub-footer{
    height: 662px;
}

@media (min-width: 990px){
    .sub-footer{
        height: 400px;
    }
}
.navbar-default .navbar-nav .open .dropdown-menu > .sigterra-naigation > a{
    color:#FFFFFF;
}

@media (min-width: 770px){
    .navbar-default .navbar-nav .open .dropdown-menu > .sigterra-naigation > a{
        color: #000000;
    }
}

.navbar-brand{
    position: relative;
    z-index: 2000;
}

.modal-dialog{
    margin: 30px auto!important;
}

.cardlet{
    width: 540px;
    height: 240px;
    border: 1px solid #D0D8D9;
    border-top-width: 0px;
}

.cardlet2{
    width: 540px;
    height: 240px;
    border: 1px solid #D0D8D9;
    border-top-width: 0px;
}


.cardlet3{
    border: 1px solid #D0D8D9;
    border-top-width: 0px;
    height: 240px;
}


/* Style the tab content */
.tabcontent2 {
    display: none;
    border: 0px solid #ccc;
    width: 540px;
    background-color: #F9F9F9;
}


.top-div-2-new{
    padding: 15px 30px;
    height: 90px;
}

.top-div-2-new-first{
    float: left;
    width: 33.333%;
}
.top-div-2-new-last{
    float: right;
    width: 33.333%;
    text-align: right;

}

.registration-steps-image{
    position: relative;
    z-index: 20;
}

a:focus, button:focus, div:focus, span:focus, img:focus{
    outline: none!important;
}

ul.tab2 li a {
    display: inline-block;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 14px;


}

ul.tab2 li a:hover {
    background-color: #ddd;
}


ul.tab2 li {
    width: 131px;
    min-height: 44px;
    float: left;
    background: #FFFFFF;
    border: 1px #D0D8D9 solid;
    color: #7F8C8C!important;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}


.user-main-text{
    font-size: 15px;
    color: #000000;
}


.svg-description{
    margin-left: 30px;
    font-size: 15px;
    font-weight: bold;
}

.main:before {
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    z-index:-1;
    content:'';
    background:-webkit-radial-gradient(30%, rgba(255,255,255,0.15), rgba(0,0,0,0));
    background:-moz-radial-gradient(30%, rgba(255,255,255,0.15), rgba(0,0,0,0));
    background:-o-radial-gradient(30%, rgba(255,255,255,0.15), rgba(0,0,0,0));
    background:radial-gradient(30%, rgba(255,255,255,0.15), rgba(0,0,0,0))
}
.avatar{
    width: 138px;
    height: 138px;
    margin: 25px 33px;
    border-radius: 70%;
}

.item-central-div{
    width: 100%;
    height: 100%;
}


.item-bottom-div{
    height: 55px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.item-top-div{
    height: 55px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.tabcontent {
    display: none;
    padding: 6px 0px;
    padding-bottom: 0px;
    border: 1px solid #E7E7E7;
    width: 540px;
    background-color: #ffffff;
    margin-top: 43px;
}

.social-image-form-div{
    float: left;
    width: 130px;
    padding-top: 7px;
    padding-left: 22px;
}

.social-image-form-div-copy{
    width: 130px;
    padding-top: 25px;
    padding-left: 25px;
}

.text-catdlet-spinner{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
}


.select-signature-radio-div{
    width:350px;
    float: right;
    top: 0px;
    right: 0px
}

a.tablinks2{
    white-space: nowrap;
}


.user-cardlet-panel-home{
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 50px;
    box-shadow: none;
}
@media (min-width: 1220px) {
    .user-cardlet-panel-home {
        padding-top: 50px;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 50px;
        box-shadow: none;
    }
}
@media (min-width: 1400px) {
    .user-cardlet-panel-home {
        padding-top: 50px;
        padding-left: 8%;
        padding-right: 8%;
        padding-bottom: 50px;
        box-shadow: none;
    }
}

@media (min-width: 1470px) {
    .user-cardlet-panel-home {
        padding-top: 50px;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 50px;
        box-shadow: none;
    }
}

@media (min-width: 1650px) {
    .user-cardlet-panel-home {
        padding-top: 50px;
        padding-left: 17%;
        padding-right: 17%;
        padding-bottom: 50px;
        box-shadow: none;
    }
}

.social-link-1{
    margin-right: 7px;
}

.social-link-1:hover, .social-link-1:active, .social-link-1:visited, .social-link-1:link{
    color: rgba(30, 73, 109, 0);
    outline: none!important;
}

.last-social-link:hover, .last-social-link:active, .last-social-link:visited, .last-social-link:link{
    color: rgba(30, 73, 109, 0);
    outline: none!important;

}

.social-link:hover,.social-link:active, .social-link:visited, .social-link:link{
    color: rgba(30, 73, 109, 0);
    outline: none!important;

}
.social-links-2:hover,.social-links-2:active, .social-links-2:visited, .social-links-2:link{
    color: rgba(30, 73, 109, 0);
    outline: none!important;

}

.modal-content {
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.16);
}

input[disabled] {
    background-color: transparent;
}

.has-error{
    color: #a94442;
    font-size: 14px;
}

.form-group input::-webkit-input-placeholder, .cover-input input::-webkit-input-placeholder, .cardlet-name-panel input::-webkit-input-placeholder, .input-text-div input::-webkit-input-placeholder { /* WebKit browsers */
    color: transparent;
}
.form-group input:-moz-placeholder, .cover-input input:-moz-placeholder, .cardlet-name-panel input:-moz-placeholder, .input-text-div input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: transparent;
}
.form-group input::-moz-placeholder, .cover-input input::-moz-placeholder, .cardlet-name-panel input::-moz-placeholder, .input-text-div input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: transparent;
}
.form-group input:-ms-input-placeholder, .cover-input input:-ms-input-placeholder, .cardlet-name-panel input:-ms-input-placeholder, .input-text-div input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: transparent;
}

.form-group, .cover-input, .cardlet-name-panel, .input-text-div {
    position: relative;
}

.custom-placeholder {
    position: absolute;
    top: 10px;
    left: 0;
    color: #9B9B9B;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: normal;
    z-index: 0;
}

input, textarea {
    position: relative;
    z-index: 1;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

.cardlet-head-text{
    font-size: 16px;
    color: #595959;
}

.cardlet-head-text-top{
    font-size: 26px;
    color: #13BCB5;
    margin-bottom: 15px;
    font-weight: bold;
}

.cadlet-top-title{
    font-size: 20px;
    color: #13BCB5;
    margin-bottom: 20px;
    font-weight: bold;
}

.cadletName{
    border-width: 0px;
    width: 300px;
    font-size:20px;
    text-transform: uppercase;
    height: 40px;
    color: #000000;
    background-color: #F8F8F8;
    padding: 10px;
}

.cardlet-name-panel{
    margin-bottom: 30px;
    display: inline-block;
}


.saveInput-btn{
    background-color: #18C6B7;
    color: #FFFFFF;
    border: none;

}
.closeInput-btn{
    background-color: #E8645A;
    color: #FFFFFF;
    border: none;

}
.alert-success {
    z-index: 1000;
    width: 100%;
    top: 80px;
    position: absolute;
}

.alert-success.top-fix {
    position: fixed;
    top: 0;
}

.cardl.custom-placeholder {
    left: 15px;
    top: 30px;
}

.custom-placeholder.top {
    top: 15px;
}

.input-text-div .custom-placeholder {
    top: 15px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-default .navbar-toggle:focus {
    background-color: inherit;
}
.static {
    position: static;
}
