<div class="recent-activity-header">
    <h2>Recent activity</h2>
    <ul class="recent-sidebar-filter">
        <li><a href ng-class="vm.recentType == 'view' ? 'active' : ''" ng-click="vm.setType('view')">
            <svg class="icon icon-view"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-view"></use></svg>
        </a></li>
        <li><a href ng-class="vm.recentType == 'add' ? 'active' : ''" ng-click="vm.setType('add')">
            <svg class="icon icon-add"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-add"></use></svg>
        </a></li>
        <li><a href ng-class="vm.recentType == 'read' ? 'active' : ''" ng-click="vm.setType('read')">
            <svg class="icon icon-read"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-read"></use></svg>
        </a></li>
        <li><a href ng-class="vm.recentType == 'all' ? 'active' : ''" ng-click="vm.setType('all')">All</a></li>
    </ul>
</div>
<div class="recent-activity-list" when-scroll-ends="nextRecentActivity">
    <div ng-show="showRecentSpinner" class="spinner-shadow"><div style="position:absolute;top:10%; left: 50%"><img src="/content/images/spinner.svg" style="margin-left: -88px;"></div></div>
    <div class="recent-activity-item" ng-repeat="recent in vm.recents">
        <svg class="icon {{recent.type | svgIconCardClass}}"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{recent.type | svgIconCardHref}}"></use></svg>
        <div class="recent-activity-entry">
            <a href>{{recent.user}}</a>
            {{recent.type | activityString:recent.name}}
            <a ng-if="recent.description" href="{{recent.description}}">{{recent.description}}"</a>
            <time>{{recent.time}}</time>
        </div>
    </div>
</div>
